<div class="l-items-index">
  <%= render 'backend/shared/media_contents/media_contents', key: "collections",
    items: @collections %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @collection, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
        form: f,
        collection_graphics: @collection_graphics,
        tags: @tags,
        activities: @activities,
        publications: @publications,
        news_articles: @news_articles
    %>
  <% end %>
</div>
