<h2 class="text -main-title -light">Graphics Download Requests</h2>
<div class="buttons-bar">
  <%= link_to "Download (.csv)", graphic_requests_path(format: :csv),
    class: "btn -light -no-border -create-new" %>
</div>

<ul class="items-list">
  <% @graphic_requests.each do |graphic_request| %>
    <%= render 'backend/shared/index_item',
      item: graphic_request,
      title: graphic_request.display_title,
      selected: action_name != "index" && @graphic_request == graphic_request
    %>
  <% end %>
</ul>
