.feedbackBoxInitial {
	border: 0;
	font-family: Arial, Helvetica, Helv, sans-serif;
	font-weight: bold;
	text-align: center;
	scrollbar-base-color: white;
	scrollbar-arrow-color: white;
	scrollbar-shadow-color: white;
	scrollbar-darkshadow-color: white;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color: white;
	scrollbar-track-color: white;
}
