UNKNOWN {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
TD {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
A {
	COLOR: #336699; TEXT-DECORATION: underline
}
A:link {
	COLOR: #336699; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #6699cc; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #42a0ff; TEXT-DECORATION: underline
}
