<section class="l-main-content content -color-7">
  <div class="row">
    <div class="small-12 small-centered columns">
      <% if query.present? %>
        Sorry, nothing to see here
      <% end %>
    </div>
  </div>
</section>
