<section class="l-main-content content -color-7">
  <% if query.present? %>
    <div class="text -nothing-to-see no-results">Sorry, nothing to see here <img src="<%= asset_url('monete.png') %>" width="32" height="32" class="icon"/></div>
  <% end %>
</section>
