A {
	TEXT-DECORATION: none
}
H1 {
	COLOR: #000099; FONT-FAMILY: "arial narrow", arial, helvetica, sans-serif; FONT-SIZE: 34px; FONT-STYLE: normal; FONT-VARIANT: normal; LINE-HEIGHT: normal; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
H2 {
	BACKGROUND: #000099; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; COLOR: #ffffff; FONT: 20px verdana,arial,helvetica; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; WIDTH: 200px
}
H3 {
	FONT: 23px palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
H6 {
	FONT: 14px palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
h1-2-3-6 was 24-14-16-10 pt HR {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; WIDTH: 150px
}
LI {
	LIST-STYLE: url(http://cwebdesign.com/gif/lielement.gif) inside
}
UL {
	MARGIN-LEFT: 0px
}
OL {
	FONT-FAMILY: Times New Roman,Arial,Helvetica, sans-serif; LINE-HEIGHT: 29px; TEXT-ALIGN: justify
}
P.prose {
	FONT-FAMILY: Arial,Helvetica, sans-serif; LINE-HEIGHT: 29px
}
P.prose:first-letter {
	FONT-SIZE: 125%; FONT-WEIGHT: bold
}
P.prose:first-line {
	LETTER-SPACING: 0.2em
}
P.justify {
	TEXT-ALIGN: justify
}
P.prosejustify {
	LETTER-SPACING: 0.2em; TEXT-ALIGN: justify
}
.menuhead {
	BACKGROUND: #bb0000; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; COLOR: #ffffff; FONT: 11pt verdana,arial,helvetica; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; WIDTH: 200px
}
.balloon {
	BACKGROUND-COLOR: yellow; BORDER-BOTTOM: blue inset; BORDER-LEFT: blue inset; BORDER-RIGHT: blue inset; BORDER-TOP: blue inset; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; POSITION: absolute; VISIBILITY: hidden; layer-background-color: yellow
}
.isTip {
	TEXT-DECORATION: none
}
TD.backtest {
	BACKGROUND-IMAGE: url(index01.gif); BACKGROUND-REPEAT: no-repeat
}
.bold {
	FONT-FAMILY: "arial narrow", arial, helvetica, sans-serif; FONT-SIZE: 16pt; FONT-STYLE: normal; FONT-VARIANT: normal; LINE-HEIGHT: 18pt; MARGIN: 6px 10px 2px
}
.sub {
	BACKGROUND: #ffff99; BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #000000; BORDER-TOP-WIDTH: 1px; COLOR: #333333; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-VARIANT: normal; LINE-HEIGHT: 14pt; MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.bluehead {
	BACKGROUND: #ffff99; BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #000000; BORDER-TOP-WIDTH: 1px; COLOR: #0000ff; FONT-FAMILY: arial, helvetica, courier, sans-serif; FONT-SIZE: 26pt; FONT-STYLE: normal; FONT-VARIANT: normal; LINE-HEIGHT: normal; MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.main {
	FONT: 12pt/18pt lucida console,palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.content {
	FONT: 11pt/14pt lucida console,palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.bigcontent {
	FONT: 14pt/16pt lucida console,palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.biggreen {
	COLOR: #117700; FONT: 18pt/24pt lucida console,palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.largecontent {
	FONT: 28pt/32pt lucida console,palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.menutex {
	COLOR: #000000; FONT: bold 11pt/14pt arial narrow,lucida console,palatino,georgia,arial,serif; MARGIN: 0px 10px 1px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A.benutex {
	BACKGROUND-COLOR: yellow; COLOR: black; TEXT-DECORATION: none
}
A.menutex {
	COLOR: black
}
.menulink {
	COLOR: white
}
.intro {
	FONT: 12pt/14pt lucida console,palatino, georgia, serif; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.outline {
	FONT: 10pt/12pt arial, geneva; MARGIN: 0px 10px 0px 20px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.button {
	BACKGROUND-IMAGE: url(http://cwebdesign.com/menu/home.gif); FONT: 10pt/12pt century gothic,arial,geneva; MARGIN-LEFT: 20px; MARGIN-RIGHT: 10px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; margin-top;: 0px
}
#elMenu {
	LEFT: 0px; POSITION: relative; necessary: 
}
#elMenuOver {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
