BODY {
	BACKGROUND-COLOR: #f0f0f0
}
P {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.Mainfont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.mainfont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.barfont {
	FONT-FAMILY: Arial, MS Sans Serif; FONT-SIZE: 8pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.title1 {
	COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.title2 {
	COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.head0 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.head0w {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.Head0w {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.head0wa {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
.Head0wa {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: underline
}
.head1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.head1w {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
.head2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16pt; FONT-STYLE: normal; FONT-WEIGHT: bold; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A:link {
	COLOR: #10847b; TEXT-DECORATION: none
}
SPAN.MsoHyperlink {
	COLOR: #10847b; TEXT-DECORATION: none
}
A:visited {
	COLOR: #800000; TEXT-DECORATION: none
}
SPAN.MsoHyperlinkFollowed {
	COLOR: #800000; TEXT-DECORATION: none
}
A:active {
	COLOR: #808080; TEXT-DECORATION: none
}
H2 {
	FONT-FAMILY: "arial",  serif; FONT-SIZE: 9pt; FONT-WEIGHT: lighter
}
H3 {
	FONT-FAMILY: "arial",  serif; FONT-SIZE: 9pt; FONT-WEIGHT: lighter
}
P.MsoNormal {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; MARGIN: 0pt
}
LI.MsoNormal {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; MARGIN: 0pt
}
DIV.MsoNormal {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; MARGIN: 0pt
}
H1 {
	FONT-FAMILY: Arial; FONT-SIZE: 16pt; FONT-WEIGHT: normal; MARGIN: 12pt 0pt 3pt
}
P.MsoCommentText {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; MARGIN: 0pt
}
LI.MsoCommentText {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; MARGIN: 0pt
}
DIV.MsoCommentText {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; MARGIN: 0pt
}
P.MainFont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN: 3pt 0pt 6pt
}
LI.MainFont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN: 3pt 0pt 6pt
}
DIV.MainFont {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN: 3pt 0pt 6pt
}
P.head0 {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
LI.head0 {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
DIV.head0 {
	FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
P.head1 {
	FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
LI.head1 {
	FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
DIV.head1 {
	FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
P.head1w {
	COLOR: white; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
LI.head1w {
	COLOR: white; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
DIV.head1w {
	COLOR: white; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
P.head2 {
	FONT-FAMILY: Arial; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
LI.head2 {
	FONT-FAMILY: Arial; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
DIV.head2 {
	FONT-FAMILY: Arial; FONT-SIZE: 16pt; FONT-WEIGHT: bold; MARGIN: 3pt 0pt 6pt
}
P.Subscript {
	FONT-FAMILY: Arial; FONT-SIZE: 6pt; MARGIN: 0pt
}
LI.Subscript {
	FONT-FAMILY: Arial; FONT-SIZE: 6pt; MARGIN: 0pt
}
DIV.Subscript {
	FONT-FAMILY: Arial; FONT-SIZE: 6pt; MARGIN: 0pt
}
