.field data-type="picture"
  = form.label value, label_txt, class: 'text -field-label -bold -dark'
  = form.file_field value, label: false, class: 'file_input'
  = form.label value, class: 'fake-input'
    div.tip
      svg.icon
        use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-img"
      p.text.-plain-text.-dark Drag and drop an image or click here to upload one.
    - if have_picture
      div.current_picture style="background-image: url('#{picture_url}');"
  div.searcher