<%
  label_txt ||= nil
  disabled ||= true
  note_txt ||= nil
  link_me_to ||= nil
%>

<div class="field">
  <label class="text -field-label -bold -dark"><%= label_txt %></label>
  <input class="basic-input text -plain-text -dark" <% if disabled %>disabled="disabled"<% end %> type="text" value="<%= value %>">
  <% if note_txt %>
    <div class="options">
      <div class="text -field-note dark">
        <%= note_txt %>
      </div>
    </div>
  <% end %>
  <% if link_me_to %>
    <%= link_to link_me_to, class: 'input-link btn -dark', target: "_blank" do %>
      <svg class="icon">
        <use xmlns:xlink="//www.w3.org/1999/xlink" xlink:href="#icon-preview"></use>
      </svg>
    <% end %>
  <% end %>
</div>
