div.form_header
  - inputs.each do |input|
    = form.label input.values[0]
    = form.input input.values[0], label: false, input_html: { class: 'text -main-title -dark title js-adjustable-input', placeholder: input.values[1] }
  svg.icon
    use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"

  div.actions
    = form.button :submit, 'SAVE', class: 'btn -dark'
    div.btn.-light.js-cancel-process
      'CANCEL
