<ul class="list">
  <% media_contents.each do |mc| %>
    <li class="js-select-media-content" data-value="<%= mc.id %>">
      <div class="picture" style="background-image: url('<%= mc.mediable_photo_url %>')"></div>
    </li>
  <% end %>
</ul>