<h2>News</h2>

<% @articles.each do |article| %>
  <iframe src="https://GRIDArendal.exposure.co/<%= article.exposure_slug %>/embed/cover?embed=true" style="width:200px;height:300px;margin-bottom:5px;border:solid 1px #ccc;border-radius:2px;"></iframe><br>on <a href="https://exposure.co" style="text-transform:uppercase">Exposure</a>
  <%= time_ago_in_words(article.publication_date) %> ago
<% end %>
