<div class="l-header-library -publications">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Publications</h1>
        <div class="text -summary">
          GRID-Arendal has produced publications, in both printed and electronic formats, on a wide range of issues related to the environment.
        </div>
        <!-- <div class="share">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -publications">
  <% filters = [
    {
      data: @content_types,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by type',
      key: 'content-types'
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY',
      placeholder: 'Filter by tags',
      key: 'tags'
    },
    {
      data: @years,
      type: 'years',
      key: 'years'
    }
  ] %>
  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns -fix">
      <div id="masonry-layout" class="masonry-layout" data-columns="3">
        <%= render 'publications' %>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
