/**************************************************************************************************
Styles used in the banner at the top of each page 
**************************************************************************************************/

.banner-row-1  { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: white; background-color: #336699; padding-left: 5px; }
A.banner-row-1-link:link, A.banner-row-1-link:active, A.banner-row-1-link:visited, A.banner-row-1-link:hover 
	{ font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; background-color: #336699; text-decoration: underline; }
.banner-row-2 { font-family: Arial, Helvetica, sans-serif; background-color: #CC0000; }
.banner-geo3title { font-family: Arial, Helvetica, sans-serif; font-size: 15pt; background-color: #CC0000; color: #E1E100; font-weight: bold; padding-left: 5px }
.banner-subTitle { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; background-color: #CC0000; color: #FFFFFF; font-weight: bold; padding-left: 5px ; font-style: italic}
.banner-row-3 { background-color: #003366; }
.banner-row-3-link { background-color: #003366; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: white; font-weight: bold; }
A.banner-row-3-link:link, A.banner-row-3-link:active, A.banner-row-3-link:visited, A.banner-row-3-link:hover { font-family: Arial, Helvetica, sans-serif; color: white; text-decoration: underline }
.banner-searchgeo { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: white; }

/**************************************************************************************************
Styles used in the header area
**************************************************************************************************/

.breadcrumbs { padding-left: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 0.7em; color: #000000 }


/**************************************************************************************************
Styles used in the body of the pages
**************************************************************************************************/

table.global { background-color: #EFC7B5; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.africa { background-color: #F7DFCE; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.asiapacific { background-color: #C6CBE7; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.europe { background-color: #C6D7C6; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.latinamerica { background-color: #EFE3CE; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.northamerica { background-color: #E7D7E7; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.westasia { background-color: #C6DFEF; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
table.polar { background-color: #D6E7E7; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };

table.figure { background-color: #ffffff; color: #000000; };

/* Used in first table in chapter 2 */
td.global { background-color: #EFC7B5; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.africa { background-color: #F7DFCE; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.asiapacific { background-color: #C6CBE7; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.europe { background-color: #C6D7C6; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.latinamerica { background-color: #EFE3CE; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.northamerica { background-color: #E7D7E7; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.westasia { background-color: #C6DFEF; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };
td.polar { background-color: #D6E7E7; font-family: Arial, Helvetica, sans-serif;  font-size: 0.8em; color: #000000; };

/* Used at the end of chapter 4 */
td.lesson { color: black; font-family: "arial narrow", arial, helvetica, sans-serif; }

td.titleGlobal { color: black; background-color: #E7A284; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titleAfrica { color: black; background-color: #F7CBA5; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titleAsiapacific { color: black; background-color: #9CAAD6; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titleEurope { color: black; background-color: #9CBEA5; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titleLatinamerica { color: black; background-color: #DECBA5; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titleNorthamerica { color: black; background-color: #D6AECE; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titleWestasia { color: black; background-color: #A5CFE7; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }
td.titlePolar { color: black; background-color: #BDD3D6; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 10pt; }

/* Used in chapter 4 (not the same colours as global) */
td.titleRed { color: white; background-color: #C40024; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 1.1em; }

/* Used in chapter 5 */
td.titleSuggestion { color: #E7A284; background-color: #ffffff; font-family: "arial black", "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 1.5em; }

h1 { padding: 4px; color: white; background-color: #C61B21; }

h2 { padding: 4px }
h2.land { color: white; background-color: #2F9C47; }
h2.biodiversity { color: white; background-color: #83C54C; }
h2.disasters { color: white; background-color: #97898D; }
h2.freshwater { color: white; background-color: #2FB24A; }
h2.socioeco { color: white; background-color: #295CAA; }
h2.urban { color: white; background-color: #8497A8; }
h2.atmosphere { color: white; background-color: #FEC71F; }
h2.forests { color: white; background-color: #009F4E; }
h2.marine { color: white; background-color: #8C8E89; }

/* Not really global, but use the same colours */
h2.global { color: white; background-color: #C61B21; }

/* For use in chapter 4 */
h2.driving { color: white; background-color: #0073B1; }
h2.tale { color: white; background-color: #A94C10; }
h2.implications { color: white; background-color: #9F0937; }
h2.lesson { color: white; background-color: #D08302; }

h3{ font-weight: bold; font-family: "times new roman", times, serif; font-size: 150%; padding: 4px }
h3.global { color: white; background-color: #C61B21; }
h3.africa { color: white; background-color: #E18740; }
h3.asiapacific { color: white; background-color: #295CAA; }
h3.europe { color: white; background-color: #00854A; }
h3.latinamerica { color: white; background-color: #BC9138; }
h3.northamerica { color: white; background-color: #B14A90; }
h3.westasia { color: white; background-color: #0096CA; }
h3.polar { color: white; background-color: #5CA49F; }

h4 { font-weight: bold; font-family: "times new roman", times, serif; font-size: 150% }
h4.global { color: #C61B21 }
h4.africa { color: #E18740 }
h4.asiapacific { color: #295CAA }
h4.europe { color: #00854A }
h4.latinamerica { color: #BC9138 }
h4.northamerica { color: #B14A90 }
h4.westasia { color: #0096CA }
h4.polar { color: #5CA49F }

h5 { font-weight: bold; font-family: "times new roman", times, serif; font-size: 120%; font-style: italic }
h5.global { color: #C61B21 }
/* Others not used */

/* Used in Contents */
h6 { color: #C61B21; font-family: "arial narrow", arial, helvetica, sans-serif; font-weight:bold; font-size: 80%; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px}

/* List styles */
ul.global { list-style-image: url("images/bullet_global.gif") }
ul.africa { list-style-image: url("images/bullet_africa.gif") }
ul.asiapacific { list-style-image: url("images/bullet_asiapacific.gif") }
ul.europe { list-style-image: url("images/bullet_europe.gif") }
ul.latinamerica { list-style-image: url("images/bullet_latinamerica.gif") }
ul.northamerica { list-style-image: url("images/bullet_northamerica.gif") }
ul.westasia { list-style-image: url("images/bullet_westasia.gif") }
ul.polar { list-style-image: url("images/bullet_polar.gif") }

/* To get big character at the beginning of a paragraph */
.bigchar { font-size:38pt; float:left; color: #C40024; padding: 0px; }

/*.captionText { font-family: "arial narrow", arial, helvetica, sans-serif; font-size: 0.9em; font-weight: bold }*/
/*.sourceText { font-family: "arial narrow", arial, helvetica, sans-serif; font-size: 0.9em; font-style: italic}*/
.captionText { font-family: Arial, Helvetica, sans-serif; font-size: 0.7em; font-weight: bold }
.sourceText { font-family: Arial, Helvetica, sans-serif; font-size: 0.7em; font-style: italic}
.references { font-family: arial, helvetica, sans-serif; font-size: 80%; }

/* Adjust the superscript and subscript so that they are smaller, too */
sub { font-size: 70% }
sup { font-size: 70% }

/* the basic text style is contentText */
.disclaimer { font-family: Arial, Helvetica, sans-serif; font-size: 70%}
.menuLinks { background-color: #FFFFFF; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; color: #000000; padding-top: 3px}
.toc { background-color: #FFFFFF; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; color: #000000; padding-top: 3px ; font-style: normal}
.tocNumbers { background-color: #FFFFFF; padding-left: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 1.4em; color: #CC3333; padding-top: 3px ; font-weight: bold}
.pdf {  font-family: Arial, Helvetica, sans-serif; font-size: 0.8em} /* this is used for the phrase that says, "this file is a PDF file" */
.inputBox { font-family : "Arial Monospace", Courier, monospace; font-size: 9pt; color: #000000; margin-top: 2px }

/* Someone decided to change the default appearance of a link :-( */
A:link { text-decoration : none }
A:visited  { text-decoration : none }
A:active  { color : red; text-decoration : none }
A:hover  { color : Blue; text-decoration : underline }


/**************************************************************************************************
The footer bar
**************************************************************************************************/

.footer { background-color: #003366; padding-left: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF ; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; font-weight: bold}
A.footer-mirrorsite-link:link, A.footer-mirrorsite-link:active, A.footer-mirrorsite-link:visited, A.footer-mirrorsite-link:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight : bold; color: #FFFFFF; text-decoration: underline }
