<div class="l-items-index">
  <%= render 'backend/shared/media_contents/media_contents', key: "video_collections", items: @video_collections %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>
