<h2 class="text -main-title -light">Users</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, User),
  createPath: new_user_path
%>

<ul class="items-list">
  <% users.each do |user| %>
    <%= render 'backend/shared/index_item',
      item: user,
      title: "#{user.full_name} - #{user.email} (#{user.status})",
      selected: action_name != "index" && @user == user
    %>
  <% end %>
</ul>
