<div class="l-items-index">
  <%= render 'users', users: @users %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @user, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      user_roles: @user_roles,
      have_picture: @user.avatar_file_name ? true : false,
      picture_url: @user.avatar %>
  <% end %>
</div>
