<div class="l-items-index">
    <%= render 'users', users: @users %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @user, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      user_roles: @user_roles,
      have_picture: false,
      have_thumbnail: false,
      picture_url: nil,
      thumbnail_url: nil %>
  <% end %>
</div>
