<div class="l-items-index">
  <%= render 'users', users: @users %>
</div>

<div class="l-items-detail">
  <h2>New User</h2>

  <%= simple_form_for @user do |f| %>
    <%= render partial: f %>
    <div class="actions">
      <%= f.submit 'Create user' %>
    </div>
  <% end %>
</div>
