A:link {
	COLOR: #006699; FONT-WEIGHT: bold
}
A:visited {
	COLOR: #999999; FONT-WEIGHT: bold
}
A:hover {
	COLOR: #cc0000; FONT-WEIGHT: bold
}
.sub1 {
	MARGIN-LEFT: 5px
}
.sub1b {
	MARGIN-RIGHT: 5px
}
.sub2 {
	MARGIN-LEFT: 10px
}
.sub2b {
	MARGIN-RIGHT: 10px
}
.sub3 {
	MARGIN-LEFT: 15px
}
.sub4 {
	MARGIN-LEFT: 20px
}
.sub5 {
	MARGIN-LEFT: 25px
}
.sub6 {
	MARGIN-LEFT: 30px
}
TD {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TR {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
DD {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
DL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TH {
	COLOR: #336699; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
H1 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: large
}
H2 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: medium
}
H3 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: small
}
H4 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small
}
P {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small
}
OL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small; MARGIN-BOTTOM: 5pt; MARGIN-TOP: 1pt
}
UL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small; MARGIN-BOTTOM: 5pt; MARGIN-TOP: 1pt
}
LI {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small
}
LI.off {
	COLOR: #006699; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small; LIST-STYLE: none
}
UL {
	LIST-STYLE: disc
}
UL UL {
	LIST-STYLE: circle
}
UL UL UL {
	LIST-STYLE: square
}
FORM {
	MARGIN-BOTTOM: 2pt; MARGIN-TOP: 2pt
}
PRE {
	FONT-FAMILY: Courier New, Courier; FONT-SIZE: x-small
}
CODE {
	FONT-FAMILY: Courier New, Courier; FONT-SIZE: x-small
}
TT {
	FONT-FAMILY: Courier New, Courier; FONT-SIZE: x-small
}
HR {
	COLOR: #507090; HEIGHT: 1px; WIDTH: 100%
}
TD.progname {
	COLOR: #006699; FONT-WEIGHT: bold
}
.iconheader {
	COLOR: #333333; FONT-FAMILY: Verdana; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.iconheader A {
	COLOR: #006699; FONT-SIZE: 10px
}
.hide {
	COLOR: #ffffff; FONT-SIZE: 1pt
}
.hide A {
	COLOR: #ffffff; FONT-SIZE: 1pt; TEXT-DECORATION: none
}
.hide A:visited {
	COLOR: #ffffff; FONT-SIZE: 1pt; TEXT-DECORATION: none
}
.TopNav {
	BACKGROUND-COLOR: #e4e4e4
}
.GrayLine {
	BACKGROUND-COLOR: #999999
}
.graymedium {
	COLOR: #666666; FONT-SIZE: 1em
}
.white {
	BACKGROUND-COLOR: #ffffff
}
FIELDSET {
	COLOR: #006699; PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.25em; PADDING-RIGHT: 0.25em; PADDING-TOP: 0.25em
}
LEGEND {
	FONT-WEIGHT: bold
}
.menulabel1 {
	COLOR: #960018
}
.menulabel2 {
	BACKGROUND-COLOR: #e4e4e4; COLOR: #999999
}
.TopNavText A {
	COLOR: #336699; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: 0.9em; FONT-WEIGHT: bold
}
.TopNavText A:hover {
	COLOR: #cc0000
}
.TopNavText A:visited {
	COLOR: #336699
}
.breadcrumbs {
	COLOR: #999999; FONT-FAMILY: Verdana, arial,helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.breadcrumbs A {
	COLOR: #336699; FONT-FAMILY: Verdana, arial,helvetica
}
.dropdown {
	BACKGROUND-COLOR: #ffffff; COLOR: #336699; FONT-FAMILY: Verdana, arial,helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.BotNavText A {
	COLOR: #336699; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: 0.9em; FONT-WEIGHT: bold
}
.BotNavText A:hover {
	COLOR: #cc0000
}
.BotNavText A:visited {
	COLOR: #336699
}
.contactinfo {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial
}
.contactinfo A {
	COLOR: #006699
}
.update {
	COLOR: #666666
}
.extract {
	COLOR: #999999; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.warning {
	COLOR: #990033; FONT-FAMILY: Arial; FONT-SIZE: 14pt; FONT-WEIGHT: bold; LINE-HEIGHT: 1.75
}
.error {
	COLOR: #000000; FONT-FAMILY: Courier; FONT-SIZE: 8pt
}
.notice {
	COLOR: #000000; FONT-FAMILY: Arial; FONT-WEIGHT: bold
}
.BoxLine {
	BACKGROUND-COLOR: #cccccc
}
.Boxtextblack {
	COLOR: #000000; FONT-FAMILY: verdana, arial
}
.Boxtextblack A {
	COLOR: #336699; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.Boxtextblack A:hover {
	COLOR: #cc0000
}
.Boxtextblack A:visited {
	COLOR: #336699
}
.Boxtextred {
	COLOR: #960018; FONT-FAMILY: tahoma, sans-serif; FONT-WEIGHT: bold
}
.Boxtextred A {
	COLOR: #990033; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.Boxtextred A:hover {
	COLOR: #336699
}
.Boxtextred A:visited {
	COLOR: #990033
}
.data {
	CURSOR: help
}
.oesdata {
	CURSOR: help; MARGIN-LEFT: 5px
}
P.oeslatest {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 0.9em; MARGIN: 2pt; TEXT-INDENT: 1pt
}
.oesnumber {
	COLOR: #960018; FONT-FAMILY: tahoma, sans-serif; FONT-WEIGHT: bold
}
P.latest {
	COLOR: #000000; FONT-FAMILY: tahoma, sans-serif; FONT-SIZE: 1.1em; MARGIN: 2pt 2pt 2pt 10pt; TEXT-INDENT: -2pt
}
P.heading {
	COLOR: #990033; FONT-FAMILY: tahoma, sans-serif; FONT-SIZE: 1.1em; FONT-WEIGHT: bold; MARGIN: 5pt 2pt 2pt
}
.release {
	COLOR: #000000; FONT-WEIGHT: bold
}
.release A {
	COLOR: #336699; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
P.people {
	FONT-SIZE: 0.9em; MARGIN-BOTTOM: 5pt; MARGIN-TOP: 5pt
}
P.people A {
	FONT-WEIGHT: bold
}
TH.SectionHead {
	BACKGROUND-COLOR: #336699
}
TD.SectionHead A {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small; TEXT-DECORATION: none
}
.SectionHead A:hover {
	COLOR: yellow; TEXT-DECORATION: underline
}
.SectionHead A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.Subsect {
	COLOR: #006699; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: x-small
}
.Subsect A {
	COLOR: #006699; TEXT-DECORATION: underline
}
.Subsect A:hover {
	COLOR: #960018; TEXT-DECORATION: underline
}
.Subsect A:visited {
	COLOR: #006699
}
.subbox {
	COLOR: #333333; FONT-WEIGHT: bold; MARGIN-LEFT: 10pt
}
.SurveyTitle {
	BACKGROUND-COLOR: #336699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-INDENT: 10pt
}
TH.OutputHead {
	BACKGROUND-COLOR: #6699cc; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TD.OutputCell {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TH {
	BACKGROUND-COLOR: #dae9fc; COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TR.DataHead {
	BACKGROUND-COLOR: #dae9fc; COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
.DataFormat {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold; LINE-HEIGHT: 16pt; TEXT-ALIGN: left
}
.DataFormat A {
	COLOR: #336699; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold; LINE-HEIGHT: 16pt; TEXT-ALIGN: left
}
TD.DataFoot {
	BACKGROUND-COLOR: #dae9fc; COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TH.title {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TH.eagrowhead {
	BACKGROUND-COLOR: #6699cc; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TD.eagfirstcol {
	FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
TD.subtitle {
	BACKGROUND-COLOR: #cccccc; COLOR: #333366; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
TD.subtitle A {
	COLOR: #cc0000
}
TD.subtitle A:visited {
	COLOR: #333366
}
TD.eagCell {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
TR.eagfoot {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
.eagstates A {
	COLOR: #990033; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.eagstates A:hover {
	COLOR: #336699
}
.eagstates A:visited {
	COLOR: #990033
}
.search {
	COLOR: #990000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.searchdesc {
	COLOR: #333333; FONT-FAMILY: arial, helvetica
}
.searchred A {
	COLOR: #990033; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.searchred A:hover {
	COLOR: #336699
}
.searchred A:visited {
	COLOR: #990033
}
TH.ProgramHead {
	BACKGROUND-COLOR: #336699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; FONT-SIZE: small; TEXT-DECORATION: none; TEXT-INDENT: 5pt
}
TH.ProgramHead2 {
	BACKGROUND-COLOR: #336699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small; TEXT-DECORATION: none; TEXT-INDENT: 5pt
}
.ProgramHead A {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 0.8em; FONT-WEIGHT: bold; MARGIN-LEFT: 5pt; TEXT-DECORATION: none
}
.ProgramHead A:hover {
	COLOR: yellow; TEXT-DECORATION: underline
}
.ProgramHead A:visited {
	COLOR: white; TEXT-DECORATION: none
}
P.overview1 {
	COLOR: #336699; FONT-WEIGHT: bold; MARGIN-LEFT: 5px
}
P.overview1 A {
	COLOR: #336699; FONT-WEIGHT: bold; MARGIN-LEFT: 5px; TEXT-DECORATION: underline
}
P.overview1 A:hover {
	COLOR: #960018
}
P.overview1 A:visited {
	COLOR: #336699; TEXT-DECORATION: underline
}
TD.Progsect {
	COLOR: #006699; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: x-small; MARGIN-LEFT: 10pt
}
.headers {
	BACKGROUND-COLOR: #336699; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-INDENT: 10pt; WIDTH: 100%
}
.Progsect A {
	COLOR: #006699; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.Progsect A:hover {
	COLOR: #960018; TEXT-DECORATION: underline
}
.Progsect A:visited {
	COLOR: #999999
}
.Topsect {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif, helvetica; FONT-SIZE: x-small
}
.Topsect A {
	COLOR: #006699; FONT-WEIGHT: bold
}
.Topsect A:hover {
	COLOR: #960018; TEXT-DECORATION: underline
}
.Topsect A:visited {
	COLOR: #999999
}
.lev1 {
	COLOR: #960018; FONT-WEIGHT: bold; MARGIN-LEFT: 5px
}
.lev1 A {
	COLOR: #960018; FONT-WEIGHT: bold; MARGIN-LEFT: 5px; TEXT-DECORATION: underline
}
.lev2 {
	COLOR: #000000; FONT-WEIGHT: bold; MARGIN-LEFT: 10px
}
.lev2 A {
	COLOR: #000000; FONT-WEIGHT: bold; MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.lev3 {
	COLOR: #666666; FONT-WEIGHT: bold; MARGIN-LEFT: 10px
}
.alpha {
	FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.term {
	FONT-WEIGHT: bold
}
.ocwclev1 {
	COLOR: #960018; FONT-WEIGHT: bold; MARGIN-LEFT: 15px
}
.desctext {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: x-small; FONT-STYLE: italic
}
.nextred {
	COLOR: #990033; FONT-FAMILY: verdana,arial,helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.nextred A {
	COLOR: #990033; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.nextred A:hover {
	COLOR: #336699
}
.nextred A:visited {
	COLOR: #336699
}
.new {
	BACKGROUND-COLOR: #ffff00; COLOR: #000000; FONT-SIZE: 0.8em; FONT-WEIGHT: bold
}
.updated {
	BACKGROUND-COLOR: #00ff00; COLOR: #000000; FONT-SIZE: 0.8em; FONT-WEIGHT: bold
}
.important {
	BACKGROUND-COLOR: #00ffff; COLOR: #000000; FONT-SIZE: 0.8em; FONT-WEIGHT: bold
}
.revised {
	BACKGROUND-COLOR: #cc3300; COLOR: #ffffff; FONT-SIZE: 0.8em; FONT-WEIGHT: bold
}
.other {
	BACKGROUND-COLOR: #ffcc99; COLOR: #000000; FONT-SIZE: 0.8em; FONT-WEIGHT: bold
}
.notes {
	COLOR: #999999; FONT-FAMILY: Verdana, Arial,; FONT-SIZE: 0.8em; PADDING-BOTTOM: 2pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt; PADDING-TOP: 2pt
}
.headnotes {
	COLOR: #cc0000; FONT-FAMILY: Verdana, Arial,; FONT-SIZE: 0.8em; FONT-WEIGHT: bold
}
.fnotes {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial,; FONT-SIZE: 0.8em
}
.fnotes A {
	COLOR: #333366
}
P.notes {
	BORDER-BOTTOM: thin dashed; BORDER-LEFT: thin dashed; BORDER-RIGHT: thin dashed; BORDER-TOP: thin dashed; COLOR: #336699; FONT-FAMILY: Verdana, Arial,; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5pt; PADDING-LEFT: 5pt; PADDING-RIGHT: 5pt; PADDING-TOP: 5pt
}
P.notes2 {
	BORDER-BOTTOM: thin dashed; BORDER-LEFT: thin dashed; BORDER-RIGHT: thin dashed; BORDER-TOP: thin dashed; COLOR: #336699; FONT-FAMILY: Verdana, Arial,; FONT-WEIGHT: bold; PADDING-BOTTOM: 10pt; PADDING-LEFT: 10pt; PADDING-RIGHT: 10pt; PADDING-TOP: 10pt
}
P.topred {
	MARGIN: 2pt 2pt 2pt 10pt; TEXT-INDENT: -2pt
}
.topred A {
	COLOR: #990033; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.topred A:hover {
	COLOR: #990033; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.topred A:visited {
	COLOR: #990033; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.dotted {
	BORDER-BOTTOM: dotted; BORDER-LEFT: dotted; BORDER-RIGHT: dotted; BORDER-TOP: dotted
}
.orgname {
	COLOR: #960018; FONT-WEIGHT: bold
}
.vacant {
	COLOR: #336699; FONT-WEIGHT: bold
}
.orgtitle {
	COLOR: #000000; FONT-STYLE: italic; MARGIN-LEFT: 10pt
}
.orgoffice {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial; FONT-SIZE: x-small
}
