BODY {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
A:visited {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff6633; TEXT-DECORATION: underline
}
.footer {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.sbold {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.small {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px
}
A {
	COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; LETTER-SPACING: 0px
}
H4 {
	COLOR: #009900; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.article {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 14px; FONT-STYLE: italic; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.termbig {
	COLOR: #339900; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 24px; FONT-WEIGHT: bolder; TEXT-INDENT: 10%
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.pglisthead {
	COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.bgrey {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
BR {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
DIV {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.headleft {
	COLOR: #339900; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.headgreen {
	COLOR: #339900; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.headblack {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.nbc {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.headpress {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18px; FONT-WEIGHT: bolder; TEXT-ALIGN: center
}
H3 {
	COLOR: #339900; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.bold_i {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.lastupdate {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: italic
}
BLOCKQUOTE {
	
}
.sec_head {
	COLOR: #336600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.sec {
	COLOR: #336600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.m_green {
	COLOR: #339900; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
