FORM {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
FONT {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
DIV {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
TH {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
TR {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
TD {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
UL {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
OL {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
LI {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
P {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
BODY {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; MARGIN: 0px
}
TABLE {
	BORDER-BOTTOM: thin; BORDER-LEFT: thin; BORDER-RIGHT: thin; BORDER-TOP: thin; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; MARGIN: 0px; TEXT-ALIGN: left
}
HR.rule {
	FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none; VERTICAL-ALIGN: middle; WIDTH: 520px
}
A:link {
	COLOR: #009999; FONT-FAMILY: Arial,Helvetica,sans-serif
}
A:visited {
	COLOR: #999999; FONT-FAMILY: Arial,Helvetica,sans-serif
}
A:active {
	COLOR: #999999; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.header {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 120%; FONT-WEIGHT: bold
}
.s-head {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
.p-head {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-WEIGHT: bold
}
.smaller {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 70%
}
.small {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 80%
}
.medium {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 100%
}
.large {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 120%
}
.larger {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 130%
}
.bold {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-WEIGHT: bold
}
.bold-s {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 80%; FONT-WEIGHT: bold
}
.bold-m {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: bold
}
.bold-l {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 120%; FONT-WEIGHT: bold
}
.italic {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-STYLE: italic
}
.italic-s {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 80%; FONT-STYLE: italic
}
.italic-m {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 100%; FONT-STYLE: italic
}
.italic-l {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 120%; FONT-STYLE: italic
}
.normal {
	FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 100%; FONT-STYLE: normal; FONT-WEIGHT: normal
}
.plain {
	TEXT-DECORATION: none
}
