<div class="l-items-index">
  <%= render 'backend/shared/media_contents/media_contents', key: "albums", items: @albums %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>
