<h2 class="text -main-title -light">Activities</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, Activity),
  createPath: new_activity_path
%>

<ul class="items-list">
  <% activities.each do |activity| %>
    <%= render 'backend/shared/index_item',
      item: activity,
      title: activity.title
    %>
  <% end %>
</ul>
