<div class="l-items-index">
  <%= render 'activities', activities: @activities %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @activity, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      users: @users,
      partners: @partners,
      media_contents: @media_contents,
      news_articles: @news_articles,
      publications: @publications,
      content_types: @content_types,
      tags: @tags,
      photos: @photos,
      programmes: @programmes,
      media_content_id: @activity.media_content_id %>
  <% end %>
</div>
