<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'activities', activities: @activities %>
</div>

<div class="l-items-detail">
  <%= render 'form',
    activity: @activity,
    users: @users,
    partners: @partners,
    news_articles: @news_articles,
    publications: @publications,
    have_picture: false,
    picture_url: nil %>
</div>
