<div class="l-items-index">
  <%= render 'backend/shared/media_contents/media_contents', key: "photos", items: @photos %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @photo, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      thumbnail: @thumbnail,
      album: @photo.album,
      albums: @albums,
      tags: @tags,
      activities: @activities,
      publications: @publications,
      news_articles: @news_articles
    %>
  <% end %>
</div>
