<div class="l-items-index">
  <%= render 'backend/shared/media_contents/media_contents', key: "photos", items: @photos %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>