STYLE typetextcss .useless {
	COLOR: #663333
}
BODY {
	BACKGROUND-COLOR: white; COLOR: black
}
BODY.index {
	BACKGROUND-COLOR: black; COLOR: white
}
A:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:active {
	COLOR: #396bad; TEXT-DECORATION: none
}
A:visited {
	COLOR: #aa2222; TEXT-DECORATION: none
}
A.onbackground:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.onbackground:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.onbackground:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.black:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.black:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.black:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.themes:link {
	COLOR: #ffffff; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.themes:visited {
	COLOR: #ffffff; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.themes:active {
	COLOR: #ffffff; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.subthemes:link {
	COLOR: #ffffff; FONT-SIZE: x-small; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.subthemes:visited {
	COLOR: #ffffff; FONT-SIZE: x-small; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.subthemes:active {
	COLOR: #ffffff; FONT-SIZE: x-small; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.altthemes:link {
	COLOR: #000000; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.altthemes:visited {
	COLOR: #000000; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.altthemes:active {
	COLOR: #000000; FONT-SIZE: x-small; FONT-WEIGHT: bold; LINE-HEIGHT: 10pt; TEXT-DECORATION: none
}
A.bottomrow2:link {
	COLOR: #000000; FONT-SIZE: x-small; TEXT-DECORATION: none
}
A.bottomrow2:visited {
	COLOR: #000000; FONT-SIZE: x-small; TEXT-DECORATION: none
}
A.bottomrow2:active {
	COLOR: #000000; FONT-SIZE: x-small; TEXT-DECORATION: none
}
A.topics:link {
	FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.topics:visited {
	FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.topics:active {
	FONT-SIZE: x-small; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DL {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
UL {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
OL {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
DD {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
P {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
TD {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
TH {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small
}
.right {
	TEXT-ALIGN: right
}
.center {
	TEXT-ALIGN: center
}
H1 {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-STYLE: normal
}
H2 {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-STYLE: normal
}
H3 {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-STYLE: normal
}
H4 {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-STYLE: normal
}
H5 {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-STYLE: normal
}
H6 {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-STYLE: normal
}
H1 {
	COLOR: #396bad; FONT-SIZE: x-large; FONT-WEIGHT: bold
}
H2 {
	COLOR: #396bad; FONT-SIZE: large; FONT-WEIGHT: bold
}
H3 {
	COLOR: #396bad; FONT-SIZE: medium; FONT-WEIGHT: bold
}
H4 {
	FONT-SIZE: small; FONT-WEIGHT: bold
}
H5 {
	FONT-SIZE: small; FONT-STYLE: italic
}
H6 {
	FONT-SIZE: small
}
.H1 {
	COLOR: #396bad; FONT-SIZE: x-large; FONT-WEIGHT: bold
}
.H2 {
	COLOR: #396bad; FONT-SIZE: large; FONT-WEIGHT: bold
}
.H3 {
	COLOR: #396bad; FONT-SIZE: medium; FONT-WEIGHT: bold
}
.H4 {
	FONT-SIZE: small; FONT-WEIGHT: bold
}
.H5 {
	FONT-SIZE: small; FONT-STYLE: italic
}
.brieftitle {
	COLOR: #000000; FONT-SIZE: medium; FONT-WEIGHT: bold
}
.pubtitle {
	COLOR: #396bad; FONT-SIZE: medium; FONT-WEIGHT: bold
}
.pubshorttext {
	COLOR: black; FONT-SIZE: small
}
.altpubtitle {
	COLOR: white; FONT-SIZE: medium; FONT-WEIGHT: bold
}
.altpubshorttext {
	COLOR: white; FONT-SIZE: small
}
.boxtitle {
	COLOR: #ffffff; FONT-SIZE: small; FONT-WEIGHT: bold; LINE-HEIGHT: 70%
}
.band {
	COLOR: #ffffff; FONT-SIZE: medium; FONT-WEIGHT: bold
}
.normal {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: small; FONT-WEIGHT: normal
}
.xsmall {
	FONT-SIZE: x-small
}
.boldxsmall {
	FONT-SIZE: x-small; FONT-WEIGHT: bold
}
.boldblue {
	COLOR: #638cc6; FONT-WEIGHT: bold
}
.boldwhite {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
.blue {
	COLOR: #638cc6
}
.blue3 {
	COLOR: #396bad
}
.black {
	COLOR: #000000
}
.white {
	COLOR: #ffffff
}
.bgblue {
	BACKGROUND: #638cc6
}
.bgblue2 {
	BACKGROUND: #7d9fcf
}
.bgblack {
	BACKGROUND: #000000
}
.bgwhite {
	BACKGROUND: #ffffff
}
.bgthemes {
	BACKGROUND: #7d9fcf
}
.bgthemes-intranet {
	BACKGROUND: #999999
}
.bggrey1 {
	BACKGROUND: #efefef
}
.bggrey2 {
	BACKGROUND: #c0c0c0
}
.bggrey3 {
	BACKGROUND: #999999
}
.bggrey4 {
	BACKGROUND: #777777
}
