H1 {
	COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: large; FONT-WEIGHT: bold
}
H2 {
	COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: large; FONT-WEIGHT: bold
}
H3 {
	COLOR: #000066; FONT-SIZE: large; FONT-STYLE: italic; FONT-WEIGHT: bold
}
H4 {
	COLOR: #000066; FONT-STYLE: italic; FONT-WEIGHT: bold
}
.table {
	BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM-COLOR: black; BORDER-BOTTOM-STYLE: none; BORDER-LEFT-COLOR: black; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: black; BORDER-RIGHT-STYLE: none; BORDER-TOP-COLOR: #000000; BORDER-TOP-STYLE: none; MARGIN: 5px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.box {
	BACKGROUND-COLOR: #ffffcc; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; CLIP: ; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; MARGIN: 2px 5px 2px 2px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.table_comment {
	BACKGROUND-COLOR: #eeeeee; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal
}
.figure {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-STYLE: italic; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px; WIDTH: 320px
}
.footnote_text {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.table_comment {
	BACKGROUND-COLOR: #eeeeee; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal
}
