%input-defaults {
  width: 100%;
  background-color: $white;
  border: solid rem(1px) rgba($black, 0.2);
  border-radius: 0;
  -webkit-appearance: none;
  outline: 0;
}

$input-min-height: rem(43px);
$picture-input-margin: rem(10px);
$picture-input-height: rem(240px);
$error-red: #ec5c5c;
$photo-list-gutter: rem(10px);
$photo-list-picture-height: rem(60px);
$photo-list-shadow-gap: rem(4px);

.c-form {
  padding-top: rem(81px);

  input,
  textarea {
    outline: 0;
  }

  iframe {
    border: 0;
  }

  .form_header {

    position: fixed;
    top: 0;
    left: 40%;
    width: 60%;
    padding: rem(15px) rem(240px) rem(15px) rem(19px);
    border-bottom: rem(1px) solid rgba($color-1, 0.2);
    background-color: $white;
    z-index: 2;

    .header-content {
      display: flex;
      align-items: center;
      width: 100%;
    }

    textarea {
      line-height: 1.2;
      // Hack to center the text in the textarea.
      padding-top: rem(22px) !important;
      min-height: 0 !important;
      resize: none;
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
    }

    label {
      display: none;
    }

    > .input {
      position: relative;
      display: inline-block;
    }

    .title {
      padding: 0;
      border: 0;
      overflow: hidden;
    }

    .icon {
      display: inline-block;
      width: rem(15px);
      height: rem(15px);
      margin-left: rem(8px);
      margin-bottom: rem(-2px);
      opacity: 0.3;
      transition: opacity 0.1s linear;
    }

    .actions {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(20px);
      height: rem(30px);
      margin: auto;

      .btn {
        float: right;
        width: rem(100px);
        margin-left: rem(10px);
      }
    }

    &[data-fields='1'] {

      textarea {
        max-width: calc(100% - #{rem(30px)});
      }
    }

    &[data-fields='2'] {

      .input {
        max-width: calc(50% - #{rem(15px)});

        &:first-of-type {
          padding-right: rem(10px);

          &:before {
            content: ",";
            position: absolute;
            top: 0;
            right: rem(5px);
            font-family: $font-family-1;
            font-size: rem(20px);
            font-weight: 700;
            line-height: 2.5;
            color: #9f9f9f;
          }
        }
      }

      // Those are the rules for the "user section" textarea.
      // There is a bug that makes short words drop a letter sometimes, even if there is enough space. That is why we need to use "white-space: no-wrap". But the problem is that this very rule, avoids the text input to split in two lines.
      textarea {
        max-width: calc(50% - #{rem(15px)});
        box-sizing: content-box;
        margin-right: rem(10px);
        white-space: nowrap;
      }
    }
  }

  .fields {
    padding: rem(60px) rem(75px) rem(30px);
    font-size: 0;

    .field {
      position: relative;
      width: 100%;
      font-size: 0;

      &:not(:first-child) {
        margin-top: rem(35px);
      }

      label {
        display: block;
        width: 100%;
        min-height: rem(20px);
      }

      .options {
        position: absolute;
        top: 0;
        right: 0;

        .btn {
          height: rem(24px);

          &.-disable {
            opacity: 0.3;
            cursor: not-allowed;
          }
        }
      }

      .textarea {
        padding: rem(8px) rem(9px);
        resize: none;
        overflow: auto;
        @extend %input-defaults;

        &:not(.medium-editor-hidden) {
          display: block;
        }

        &.-size-s {
          height: rem(60px);
        }

        &.-size-l {
          height: rem(260px);
        }

        ul {
          padding-left: rem(20px);
        }

        li {
          list-style-type: disc;
        }
      }

      .basic-input {
        height: $input-min-height;
        padding: rem(8px) rem(9px);
        @extend %input-defaults;
      }

      select {
        height: $input-min-height;
        @extend %input-defaults;

        option {
          display: none;
        }
      }

      .select2-container--default {
        min-height: $input-min-height;
        @extend %input-defaults;

        .select2-selection--single {
          min-height: $picture-input-margin - rem(2px);
          border: 0;
          border-radius: 0;
          outline: 0;

          .select2-selection__rendered {
            font-family: $font-family-1;
            font-size: rem(14px);
            line-height: $input-min-height;
            color: $font-color-1;
            padding-left: rem(9px);
          }
        }

        .select2-selection--multiple {
          border: 0;
          border-radius: 0;

          .select2-selection__choice {
            position: relative;
            height: rem(30px);
            padding-right: rem(31px);
            border-radius: rem(4px);
            background-color: rgba($color-1, 0.1);
            font-family: $font-family-1;
            font-size: rem(14px);
            line-height: 2.2;
            color: $font-color-1;
            border: 0;
          }

          .select2-selection__choice__remove {
            position: absolute;
            right: 0;
            margin-right: rem(12px);
          }

          .select2-selection__rendered {
            padding: rem(4px) rem(5px) rem(8px) rem(8px);
          }

          .select2-search--inline {
            height: rem(30px);
            margin-top: rem(5px);
            font-family: $font-family-1;
            font-size: rem(14px);
            line-height: 2.2;
            color: $font-color-1;
          }
        }
      }

      .photo-list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + #{$photo-list-gutter} + #{$photo-list-shadow-gap});
        max-height: ($photo-list-picture-height * 3) + ($photo-list-gutter * 2)+ $photo-list-shadow-gap;
        overflow: auto;
        padding: $photo-list-shadow-gap 0 0 $photo-list-shadow-gap;
        margin: (-$photo-list-shadow-gap) 0 (-$photo-list-gutter) (-$photo-list-shadow-gap);

        li {
          position: relative;
          width: calc(20% - #{$photo-list-gutter});
          height: $photo-list-picture-height;
          margin: 0 $photo-list-gutter $photo-list-gutter 0;

          .photo {
            position: relative;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
          }

          .linker {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
          }

          &.-selected {

            .photo {
              box-shadow: 0 0 rem(5px) 0 rgba($black, 0.5);

              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border: rem(4px) solid $white;
              }
            }
          }
        }
      }

      &[data-type="uploaded-photos"] {

        .searcher {
          position: relative;
          width: 50%;

          input {
            width: 100%;
            height: rem(30px);
            padding: 0 rem(10px);
            border-radius: 4px;
            border: solid 1px rgba($main-blue, 0.5);
            margin-bottom: 10px;

            &::-webkit-input-placeholder {
              color: rgba($main-blue, 0.5);
            }

            &:-moz-placeholder {
              color: rgba($main-blue, 0.5);
            }

            &::-moz-placeholder {
              color: rgba($main-blue, 0.5);
            }

            &:-ms-input-placeholder {
              color: rgba($main-blue, 0.5);
            }
          }

          .icon {
            position: absolute;
            right: rem(7px);
            top: rem(8px);
            width: rem(14px);
            height: rem(14px);
            fill: $main-blue;
            opacity: 0.5;
          }
        }

        &.-half {

          .searcher {
            width: 100%;
          }
        }
      }

      &[data-type="picture"] {

        .file_input {
          position: absolute;
          width: calc(50% - #{$picture-input-margin});
          height: $picture-input-height;
          opacity: 0;
          cursor: pointer;
          z-index: 2;

          &:hover {

            + .fake-input {

              .current_picture {
                opacity: 0;
              }
            }
          }
        }

        .fake-input {
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: calc(50% - #{$picture-input-margin});
          height: $picture-input-height;
          margin-right: $picture-input-margin;
          border-radius: 4px;
          background-color: rgba($color-1, 0.1);
          border: solid 1px rgba($color-1, 0.2);
          cursor: pointer;
          z-index: 1;

          .tip {
            max-width: 70%;
            text-align: center;

            .icon {
              width: 18px;
              height: 18px;
            }

            p {
              margin-top: rem(13px);
              padding: 0 19%;
              opacity: 0.5;
              text-align: center;
            }
          }

          .current_picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.3;
            transition: opacity 0.2s ease-out;
          }
        }
      }

      &[data-type="tags"] {

        .select2-container--default {

          .select2-selection--multiple {

            .select2-selection__choice {
              padding-left: rem(10px);
              border-radius: rem(15px);
            }
          }
        }
      }

      &[data-type="attach_documents"] {

        .add_weblink_btn {
          position: absolute;
          top: 0;
          right: 0;
          width: rem(100px);
          height: rem(24px);
        }

        .add_document_btn {
          position: absolute;
          top: 0;
          right: rem(108px);
          width: rem(120px);
          height: rem(24px);
        }

        .nested-fields {
          margin-top: rem(10px);

          &:first-of-type {
            margin-top: rem(15px);
          }
        }

        .attach_documents_field {
          position: relative;

          .label_field {
            display: inline-block;
            width: 30%;
            padding-right: rem(12px);
          }

          .file_field {
            position: relative;
            display: inline-block;
            width: 70%;
            padding-right: rem(24px);

            .file_input {
              position: absolute;
              width: calc(100%);
              height: rem(40px);
              opacity: 0;
              cursor: pointer;
              z-index: 2;
            }

            .fake-input {
              position: relative;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 100%;
              height: rem(40px);
              padding: 0 rem(10px);
              border-radius: 4px;
              background-color: rgba($color-1, 0.1);
              border: solid 1px rgba($color-1, 0.2);
              cursor: pointer;
              z-index: 1;

              .text {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }

          .remove_field_btn {
            position: absolute;
            bottom: rem(16px);
            right: rem(4px);
            z-index: 2;

            .icon {
              width: rem(12px);
              height: rem(12px);
              fill: $color-1;
              opacity: 0.3;
            }
          }
        }
      }

      &.-half {
        width: 50%;
        display: inline-block;
        vertical-align: top;

        .photo-list {

          li {
            width: calc(33.33% - #{$photo-list-gutter});
          }
        }

        &[data-type="picture"] {

          .file_input,
          .fake-input {
            width: calc(100% - #{$picture-input-margin});
          }
        }
      }
    }

    &.-grey {
      background-color: $grey;
    }
  }

  .field_with_errors {

    input {
      border-color: $error-red !important;

      &::-webkit-input-placeholder {
        color: $error-red;
      }

      &:-moz-placeholder {
        color:$error-red;
      }

      &::-moz-placeholder {
        color: $error-red;
      }

      &:-ms-input-placeholder {
        color: $error-red;
      }
    }

    .error {
      display: none;
    }
  }
}

.select2-dropdown {
  @extend %input-defaults;

  .select2-results__option {
    min-height: rem(36px);
  }
}
