.c-index-item {
  position: relative;
  display: flex;
  align-items: center;
  height: $items-height;
  padding: 0 rem(95px) 0 rem(30px);
  cursor: pointer;
  border-bottom: $items-border;
  overflow: hidden;

  .dragger {
    position: absolute;
    left: rem(10px);
    top: 0;
    bottom: 0;
    width: rem(10px);
    height: rem(10px);
    margin: auto;
  }

  .title {

    &.-long {
      display: none;
    }

    @media screen and (min-width: $screen-xl) {

      &.-short {
        display: none;
      }

      &.-long {
        display: block;
      }
    }
  }

  .linker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .options {
    position: absolute;
    top: 0;
    bottom: 0;
    right: rem(9px);
    margin: auto;
    height: rem(20px);
    z-index: 2;

    a {
      margin-left: rem(5px);

      .icon {
        width: rem(12px);
        height: rem(12px);
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:first-child {
    height: $items-height + rem(1px);
    border-top: $items-border;
  }

  &:hover,
  &.-selected {
    background-color: rgba($white, 0.2);

    .title {
      opacity: 1;
      font-weight: 700;
    }
  }

  &.-blocked {
    cursor: default;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(-45deg, transparent, rgba(255, 255, 255, .2) rem(1px), transparent rem(2px), transparent rem(5px));
      z-index: 1;
    }
  }
}
