.l-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color-1;

  .icon {
    width: rem(162px);
    height: rem(52px);
  }

  form {
    margin-top: rem(8px);

    .input {
      margin-top: rem(12px);

      label {
        display: block;
      }

      input {
        display: block;
        width: rem(263px);
        height: rem(40px);
        padding-left: rem(9px);
        color: rgba($white, 0.5);
        border: solid rem(1px) rgba($white, 0.2);
        background-color: transparent;
        outline: 0;
      }
    }

    .form-actions {
      margin-top: rem(25px);

      .btn {
        float: right;
        width: rem(100px);

        &.-full {
          width: 100%;
        }
      }

      .recover_password {
        opacity: 0.5;
        line-height: 2.3;
      }
    }

  }

  a {
    margin-top: rem(15px);
    color: $white;
  }

  h2 {
    color: $white;
    font-size: rem(18px);
    margin-top: rem(20px);
  }
}
