<ul class="c-staff">
  <li class="small-6 medium-3 large-2 columns">
    <% chair = board_members.find_by(current_position: 'Chair') %>
    <% if chair %>
      <%= render 'shared/user', user: board_members.find_by(current_position: 'Chair') %>
    <% end %>
  </li>
  <% board_members.where.not(current_position: 'Chair').each do |user| %>
    <li class="small-6 medium-3 large-2 columns">
      <%= render 'shared/user', user: user %>
    </li>
  <% end %>
</ul>