<% if section.body.present? %>
  <div class="small-12 column">
    <div class="text -summary-alt">
      <%= raw section.body %>
    </div>
  </div>
<% end %>

<div class="small-12 column">
  <ul class="c-staff row">
    <% chair = board_members.find_by(current_position: 'Chair') %>
    <% if chair %>
      <li class="small-6 medium-3 large-2 columns">
        <%= render 'shared/user', user: board_members.find_by(current_position: 'Chair') %>
      </li>
    <% end %>
    <% board_members.where.not(current_position: 'Chair').each do |user| %>
      <li class="small-6 medium-3 large-2 columns">
        <%= render 'shared/user', user: user %>
      </li>
    <% end %>
  </ul>
</div>
