<div class="small-12 column">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <div class="text -summary-alt">
        <strong>GRID-Arendal</strong><br />
        <strong>A Centre Collaborating with UN Environment</strong><br />
        Telephone: +47 47 64 45 55<br />
        Fax: +47 37 03 50 50<br />
        Org #: 977182697MVA<br />
        E-mail: grid@grida.no
      </div>
    </div>
    <div class="small-12 medium-3 large-3 columns">
      <div class="text -summary-alt">
        <strong>Visiting address:</strong><br />
        Teaterplassen 3<br />
        N-4836 Arendal<br />
        Norway
      </div>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <div class="text -summary-alt">
        <strong>Mailing address:</strong><br />
        GRID-Arendal<br />
        P.O. Box 183<br />
        N-4802 Arendal<br />
        Norway
      </div>
    </div>
  </div>
  <% if section.body.present? %>
    <div class="row">
      <div class="small-12 column">
        <div class="text -summary-alt"><%= raw section.body %></div>
      </div>
    </div>
  <% end %>
</div>
