<div class="small-12 small-centered columns">
  <div class="c-slider slider js_slider" data-slider-type="card">
    <div class="frame js_frame">
      <div class="masonry-layout masonry-1-1-2-3 slides js_slides" data-columns="3">
        <% posts.each do |item| %>
          <%= render 'shared/content_card', item: item %>
        <% end %>
      </div>
    </div>
  </div>
</div>
