<section class="l-main-content" data-section="programmes">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">
          Programmes
        </h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns -fix">
      <div class="c-slider slider js_slider">
        <div class="frame js_frame">
          <div class="masonry-layout slides js_slides" data-columns="3">
            <% programmes.each do |item| %>
              <%= render 'shared/content_card', item: item %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
