<%
  categories = {}
  users.each do |user|
    if user.position_category.present?
      categories[user.position_category] ||= []
      categories[user.position_category].push(user)
    end
  end
%>

<div class="row">
  <div class="small-12 column">
    <ul class="c-staff-selector">
      <% categories.each_with_index do |category, index| %>
        <li class="c-staff-selector-item text -filter <% if index === 0 %>-selected<% end %> js-staff-selector-item" data-category-index="<%= index %>">
          <span><%= category[0] %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% categories.each_with_index do |category, index| %>
  <div class="c-staff-container <% if index === 0 %>-selected<% end %>" data-category-index="<%= index %>">
    <div class="row">
      <div class="small-12 column">
        <ul class="c-staff row">
          <% category[1].each do |user| %>
            <li class="small-6 medium-3 large-2 columns">
              <%= render 'shared/user', user: user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

