<h2>About</h2>

<% @sections.each do |section| %>
  <h2><%= section.title %></h2>
  <section>
    <%= section.body %>
  </section>
<% end %>

<h3>Vacancies</h3>
<ul>
  <% @vacancies.each do |vacancy| %>
    <li><%= vacancy.title %></li>
  <% end %>
</ul>
