.l-footer {
  height: 320px;
  position: relative;

  @media screen and (min-width: $screen-m) {
    height: rem(450px);
  }

  .footer-slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: image-url('footer1.jpg');

    &:after {
      // Images cache
      position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
      content: image-url('footer1.jpg') image-url('footer2.jpg') image-url('footer3.jpg') image-url('footer4.jpg') image-url('footer5.jpg') image-url('footer6.jpg');
    }

    &.home {
      @media screen and (min-width: $screen-m) {
        animation: $loop-length slidyfooter infinite;
      }

      @keyframes slidyfooter {
        0% { background-image: image-url('footer1.jpg') }
        12% { background-image: image-url('footer1.jpg') }
        17% { background-image: image-url('footer2.jpg') }
        29% { background-image: image-url('footer2.jpg') }
        34% { background-image: image-url('footer3.jpg') }
        46% { background-image: image-url('footer3.jpg') }
        51% { background-image: image-url('footer4.jpg') }
        63% { background-image: image-url('footer4.jpg') }
        68% { background-image: image-url('footer5.jpg') }
        80% { background-image: image-url('footer5.jpg') }
        85% { background-image: image-url('footer6.jpg') }
        95% { background-image: image-url('footer6.jpg') }
        100% { background-image: image-url('footer1.jpg') }
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.3);
    position: absolute;
    z-index: 1;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;

    .text {
      z-index: 10;
      position: relative;
    }

    .social-links {
      z-index: 10;
      position: relative;
      margin-top: rem(30px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $screen-m) {
        margin-top: rem(40px);
      }

      .icon {
        width: rem(20px);
        height: rem(20px);
        margin: 0 rem(25px);
        margin-bottom: rem(40px);
      }
    }

    .info-links {
      display: flex;

      li {
        margin: 0 rem(5px);
      }
    }
  }
}
