.l-footer {
  height: 320px;
  position: relative;

  @media screen and (min-width: $screen-m) {
    height: rem(450px);
  }

  .footer-slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    background-image: image-url('footer1.jpg');
    @media screen and (min-width: $screen-m) {
      animation: $loop-length slidyfooter infinite;
    }

    &:after {
      // Images cache
      position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
      content: image-url('footer1.jpg') image-url('footer2.jpg') image-url('footer3.jpg') image-url('footer4.jpg');
    }
  }

  @keyframes slidyfooter {
    0% { background-image: image-url('footer1.jpg') }
    20% { background-image: image-url('footer1.jpg') }
    25% { background-image: image-url('footer2.jpg') }
    45% { background-image: image-url('footer2.jpg') }
    50% { background-image: image-url('footer3.jpg') }
    70% { background-image: image-url('footer3.jpg') }
    75% { background-image: image-url('footer4.jpg') }
    95% { background-image: image-url('footer4.jpg') }
    100% { background-image: image-url('footer1.jpg') }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.3);
    position: absolute;
    z-index: 1;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;

    .text {
      z-index: 10;
      position: relative;
    }

    .social-links {
      z-index: 10;
      position: relative;
      margin-top: rem(30px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $screen-m) {
        margin-top: rem(40px);
      }

      .icon {
        width: rem(20px);
        height: rem(20px);
        margin: 0 rem(25px);
        margin-bottom: rem(40px);
      }
    }

    .info-links {
      display: flex;

      li {
        margin: 0 rem(5px);
      }
    }
  }
}
