.l-header-home {
  background-color: $color-4;
  display: block;
  height: rem(320px);
  position: relative;
  padding-bottom: rem(50px);

  @media screen and (min-width: $screen-m) {
    height: rem(650px);
    padding-bottom: rem(100px);
  }

  .header-slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $color-4;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
  }

  &:not(.-error) .logo-menu {
    display: none !important;
  }

  .cta {
    position: relative;
    max-width: rem(580px);
    margin: auto;
    height: calc(100% - 70px);
    text-align: center;
    z-index: 10;

    .logo {
      padding-top: rem(63px);

      .icon {
        width: rem(170px);
        height: rem(55px);
      }

      @media screen and (min-width: $screen-m) {
        padding-top: 0;
      }
    }

    .text {
      margin: rem(30px) 0 rem(30px);
      display: none;

      @media screen and (min-width: $screen-m) {
        display: block;
      }
    }

    .media {
      position: absolute;
      bottom: rem(-80px);
      left: 0;
      right: 0;
      height: rem(60px);
      width: rem(60px);
      margin: auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      box-shadow: 0 rem(2px) rem(4px) 0 rgba($black, 0.1);
      cursor: pointer;
      z-index: 20;

      @media screen and (min-width: $screen-m) {
        position: relative;
        bottom: 0;
        margin: 0;
        background-color: transparent;
        border: solid 2px $color-1;
        width: rem(30px);
        height: rem(30px);
        box-shadow: none;
      }

      .icon {
        width: rem(15px);
        height: rem(15px);
        margin-left: rem(2px);
        fill: $color-1;

        @media screen and (min-width: $screen-m) {
          width: rem(10px);
          height: rem(10px);
        }
      }
    }

    @media screen and (min-width: $screen-m) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &.-error {
    height: 100% !important;
  }
  .no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.cta-mobile {
  display: block;
  padding: rem(53px) rem(10px) rem(65px) rem(10px);
  text-align: center;

  @media screen and (min-width: $screen-m) {
    display: none;
  }
}

.cta-desktop {
  display: none;

  @media screen and (min-width: $screen-m) {
    display: block;
  }
}
