.l-header-single {
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;

  @media screen and (min-width: $screen-m) {
    background-image: none;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;

    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  .title-block {

    @media screen and (min-width: $screen-m) {
      position: relative;
    }
  }

  .c-share {
    top: auto;
    right: rem(20px);
    bottom: rem(-30px);

    @media screen and (min-width: $screen-m) {
      &.-mobile {
        display: none;
      }
    }

    @media screen and (min-width: 1050px) {
      top: rem(23px);
      right: rem(-23px);
    }
  }

  .section-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: rem(16px) 0 rem(38px) 0;
    background-color: rgba($color-1, 0.6);
    z-index: 10;

    @media screen and (min-width: $screen-s) {
      padding: rem(27px) 0;
    }

    .-title-single-alt {
      line-height: 1.11;
      color: $skull-white;
    }

    .c-share {

      @media screen and (min-width: $screen-m) {
        top: rem(-52px);
      }
    }

    .anchors {
      position: relative;
      margin-top: rem(15px);
      font-size: 0;
      display: none;

      @media screen and (min-width: $screen-m) {
        display: block;
      }

      li {
        display: inline-block;
        cursor: pointer;
        margin: rem(5px) 0;

        &:not(:last-child) {
          margin-right: rem(29px);
        }
      }
    }
  }

  .-publications {
    background-color: rgba(83, 48, 0, 0.04);
  }

  .-activities, .-about {
    background-color: rgba($color-1, 0.04);
  }

  .-news {
    background-color: rgba($color-2, 0.04);
  }

  .-media-library {
    background-color: rgba($color-2, 0.05);
  }

  .banner {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - #{rem(200px)});
    max-height: rem(250px);

    @media screen and (min-width: $screen-s) {
      max-height: rem(350px);
    }

    @media screen and (min-width: $screen-m) {
      max-height: rem(550px);
    }

    &.-vertical {
      max-height: rem(450px);
    }

    &.-activities-article {
      max-height: rem(105px);

      @media screen and (min-width: $screen-m) {
        max-height: rem(195px);
      }

      &.-picture {
        max-height: rem(400px);

        @media screen and (min-width: $screen-m) {
          max-height: rem(550px);
        }
      }

      &:not(.-picture) {
        max-height: none !important;
        height: auto !important;

        .section-menu {
          position: relative !important;
        }
      }
    }

    &.-publications,
    &.-media-library {
      @media screen and (min-width: $screen-m) {
        display: none;
      }
    }

    &.-about {
      background-image: image-url('header7.jpg');

      @media screen and (min-width: $screen-m) {
        max-height: rem(550px);
      }

      .section-menu {
        display: none;

        @media screen and (min-width: $screen-m) {
          display: block;
          padding-top: 0;
          padding-bottom: rem(20px);
        }
      }

      .c-share {
        top: auto;
        bottom: rem(18px);
      }
    }
  }
}
