.l-header-single {
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: rem(320px);
  z-index: 10;

  @media screen and (min-width: $screen-s) {
    height: rem(400px);
  }

  @media screen and (min-width: $screen-m) {
    background-image: none;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;

    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  .title-block {

    @media screen and (min-width: $screen-m) {
      position: relative;
    }
  }

  .c-share {
    top: auto;
    right: rem(20px);
    bottom: rem(-30px);

    @media screen and (min-width: $screen-s) {
      bottom: rem(-25px);
    }

    @media screen and (min-width: 1050px) {
      right: rem(-25px);
    }
  }

  .section-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: rem(16px) 0 rem(38px) 0;
    background-color: rgba($color-1, 0.6);

    @media screen and (min-width: $screen-s) {
      padding: rem(27px) 0;
    }

    .-title-single-alt {
      line-height: 1.11;
      color: $skull-white;
    }

    .c-share {

      @media screen and (min-width: $screen-s) {
        top: rem(-25px);
      }

      @media screen and (min-width: $screen-m) {
        top: rem(-52px);
      }
    }

    .anchors {
      position: relative;
      margin-top: rem(33px);
      font-size: 0;
      display: none;

      @media screen and (min-width: $screen-m) {
        display: block;
      }

      li {
        display: inline-block;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: rem(29px);
        }
      }
    }
  }

  &.-publications {
    background-color: rgba($color-3, 0.04);
  }

  &.-activities {
    background-color: rgba($color-1, 0.04);
  }

  &.-news {
    background-color: rgba($color-2, 0.04);
  }

  &.-media-library {
    background-color: rgba($color-2, 0.05);
  }

  &.-activities-article,
  &.-about {
    height: rem(530px);

    @media screen and (min-width: $screen-m) {
      height: rem(650px);
    }
  }

  &.-about {
    background-image: image-url('header7.jpg');

    .section-menu {
      display: none;

      @media screen and (min-width: $screen-m) {
        display: block;
        padding-top: 0;
      }

      .anchors {
        margin-top: 28px;
      }
    }

    .c-share {
      top: auto;
      bottom: rem(18px);
    }
  }
}
