$header-library-staff-padding-bottom: rem(26px);
$header-avatar-border-width: rem(3px);
$header-avatar-size: rem(60px);
$header-avatar-size-screen-s: rem(60px);
$header-avatar-size-screen-m: rem(250px);
$header-avatar-size-screen-l: rem(340px);

.l-header-library {
  display: block;
  position: relative;
  // This min-height is to allow the menu show all options on mobile.
  min-height: rem(300px);
  padding-bottom: rem(50px);
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $screen-m) {
    min-height: 0;
  }

  &.-publications {
    background-color: rgba($color-3, 0.04);
  }

  &.-activities {
    background-color: rgba($color-1, 0.04);
  }

  &.-news {
    background-color: rgba($color-2, 0.04);

    .c-share {
      &.-mobile {
        right: rem(10px);
      }

      @media screen and (min-width: $screen-m) {
        top: rem(-2px);
        right: 0;
      }
    }
  }

  &.-media-library {
    background-color: rgba($color-2, 0.05);
  }

  &.-staff {
    background-color: rgba($color-1, 0.05);
    padding-bottom: $header-library-staff-padding-bottom !important;

    .c-breadcrumbs {
      padding-bottom: rem(13px);
    }

    .-title-staff {
      margin-bottom: rem(7px);
    }

    .header-avatar {
      position: absolute;
      right: 0;
      bottom: rem(-160px);
      width: $header-avatar-size;
      height: $header-avatar-size;
      margin: 0 auto;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:before {
        content: "";
        position: absolute;
        top: -$header-avatar-border-width;
        left: -$header-avatar-border-width;
        width: calc(100% + #{$header-avatar-border-width * 2});
        height: calc(100% + #{$header-avatar-border-width * 2});
        border: $header-avatar-border-width solid rgba($white, .3);
        border-radius: 50%;
      }

      @media screen and (min-width: $screen-s) {
        bottom: rem(-160px);
        width: $header-avatar-size-screen-s;
        height: $header-avatar-size-screen-s;
      }

      @media screen and (min-width: $screen-m) {
        bottom: -(($header-avatar-size-screen-m / 2) + $header-library-staff-padding-bottom);
        width: $header-avatar-size-screen-m;
        height: $header-avatar-size-screen-m;
      }

      @media screen and (min-width: $screen-l) {
        bottom: -(($header-avatar-size-screen-l / 2) + $header-library-staff-padding-bottom);
        width: $header-avatar-size-screen-l;
        height: $header-avatar-size-screen-l;
      }
    }

    .c-share {
      display: none;

      @media screen and (min-width: $screen-m) {
        display: flex;
        position: static;
      }
    }
  }

  &.-search {
    background-color: rgba($color-1, 0.05);
  }

  .title-block {
    position: relative;
    height: 100%;

    .-title-library {
      width: 100%;
      margin: rem(17px) 0 rem(7px) 0;
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: none;

      @media screen and (min-width: $screen-m) {
        margin: rem(24px) 0 rem(5px) 0;
      }
    }

    .-summary {
      max-width: rem(500px);
    }
  }

  @media screen and (min-width: $screen-m) {
    padding-bottom: rem(36px);
  }

  .c-share {
    display: none;

    &.-mobile {
      display: flex;
      right: rem(85px);
      bottom: rem(-30px);
    }

    @media screen and (min-width: $screen-m) {
      display: flex;
      top: rem(-2px);
      right: 0;

      &.-mobile {
        display: none;
      }
    }

    @media screen and (min-width: $screen-l) {
      right: rem(-15px);
    }
  }
}

.l-header-library-separator {
  width: 100%;
  height: rem(47px);
  background-color: #E5EBED;

  @media screen and (min-width: $screen-m) {
    display: none;
  }
}
