.l-header-single {
  display: block;
  position: relative;

  &.-publications {
    background-color: rgba($color-3, 0.04);
  }

  &.-activities {
    background-color: rgba($color-1, 0.04);
  }

  &.-news {
    background-color: rgba($color-2, 0.04);
  }

  .title-block {
    position: relative;

    .breadcrumbs {

    }

    .share {
      background-color: $white;
      width: rem(50px);
      height: rem(50px);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: rem(-25px);
      bottom: -25px;
      cursor: pointer;

      .icon {
        width: rem(20px);
        height: rem(20px);
      }
    }
  }
}
