.l-header-library {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  padding-bottom: rem(50px);

  &.-publications {
    background-color: rgba($color-3, 0.04);
  }

  &.-activities {
    background-color: rgba($color-1, 0.04);
  }

  &.-news {
    background-color: rgba($color-2, 0.04);
  }

  &.-media-library {
    background-color: rgba($color-2, 0.05);
  }

  .title-block {
    position: relative;

    .-title-library{
      margin: rem(17px) 0 rem(7px) 0;

      @media screen and (min-width: $screen-m) {
        margin: rem(26px) 0 rem(7px) 0;
      }
    }

    .-summary {
      max-width: rem(500px);
    }

    .c-share {
      top: rem(-2px);
      display: none;

      @media screen and (min-width: $screen-m) {
        display: flex;
        right: 0;
      }

      @media screen and (min-width: $screen-l) {
        right: rem(-15px);
      }
    }
  }

  @media screen and (min-width: $screen-m) {
    padding-bottom: rem(36px);
  }
}
