.l-main-content {

  &:not(:last-of-type) {

    @media screen and (min-width: $screen-m) {
      border-bottom: rem(1px) solid $white;
    }
  }

  &.-no-border {
    border-bottom: none;
  }

  &.-color-1 {
    background-color: #E5EBE8;
  }

  &.-color-2 {
    background-color: rgba($color-3, .08);
  }

  &.-color-3 {
    background-color: rgba($color-1, .08);
  }

  &.-color-4 {
    background-color: rgba($color-2, .08);
  }

  &.-color-5 {
    background-color: rgba($color-2, .1);
  }

  &.-color-6 {
    background-color: #F2F5F6;
  }

  &.-color-7 {
    background-color: #E5EBED;
  }

  &.-publications {

    @media screen and (min-width: $screen-m) {
      padding: 0 0 rem(10px) 0;
    }
  }

  &.-activities {

    @media screen and (min-width: $screen-m) {
      padding: 0 0 rem(10px) 0;
    }
  }

  &.-news {

    @media screen and (min-width: $screen-m) {
      padding: rem(28px) 0 rem(10px) 0;
    }
  }

  &.-media-library {

    @media screen and (min-width: $screen-m) {
      padding: 0 0 rem(10px) 0;
    }
  }

  &.-partners {

    .-summary-alt {
      margin-top: rem(20px);
    }

    .logos {
      font-size: 0;

      span {
        position: relative;
        display: inline-block;
        width: 33.33%;
        height: rem(100px);
        text-align: center;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        max-height: 80%;
      }
    }
  }

  &.-about {
    padding-bottom: rem(47px);
    background-color: #E5EBED;
    border-bottom: none;

    &:first-of-type {
      background-color: #F2F5F6;
    }

    .-summary-alt {
      padding-top: rem(10px);
    }

    .list {

      li:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &:first-of-type,
    &:nth-of-type(2) {
      padding-top: rem(47px);
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(28px) 0 rem(31px) 0;

      &:first-of-type {
        padding-top: rem(55px);
      }

      &:nth-of-type(2) {
        padding-top: rem(28px);
      }

      .-summary-alt {
        padding-top: rem(21px);
      }
    }
  }

  &.home,
  &.content {
    padding-bottom: rem(47px);
    padding-top: rem(20px);

    .c-slider {
      margin-top: rem(7px);
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(35px) 0 rem(40px);

      .c-slider {
        margin-top: rem(4px);
      }
    }
  }

  &.-publications .masonry-layout,
  &.-activities .masonry-layout,
  &.-news .masonry-layout ,
  &.-about .masonry-layout,
  &[data-section="posts"] .masonry-layout,
  &[data-section="media"] .masonry-layout {

    @include masonry-layout(1, 1, 2, 3,
      (rem(10px), rem(10px), rem(10px), 0),
      (rem(10px), rem(20px), rem(10px), 0)
    );
  }

  &.-news .masonry-layout {

    @include masonry-layout(1, 1, 2, 4,
      (rem(10px), rem(10px), rem(10px), 0),
      (rem(10px), rem(20px), rem(10px), 0)
    );
  }

  &.-media-library .masonry-layout {

    @include masonry-layout(1, 1, 3, 4,
      (0, 0, rem(20px), 0),
      (rem(8px), rem(20px), rem(12px), 0)
    );
  }

  &.-only-grid {

    @media screen and (max-width: $screen-m - 1) {

      .grid-column {
        padding: 0 0 rem(15px) 0;

        .masonry-layout {

          .item {
            padding: rem(15px) 0;
          }
        }
      }
    }
  }
}
