.l-media-article {

  &.-media-library {
    background-color: rgba($color-2, 0.05);
  }

  .-title-single {
    line-height: 1.5;
  }
  .-body-single {
    margin-top: rem(20px);
  }

  .content {
    float: left;
    width: 100%;
    padding: rem(40px) 0 rem(20px) 0;

    @media screen and (min-width: $screen-s) {
      padding: rem(40px) 0 rem(30px) 0;
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(26px) rem(40px) rem(40px) 0;
    }

    .rating {
      margin-left: rem(15px)
    }

    .c-tags {
      margin-top: rem(25px);

      a {
        text-decoration: none;
      }
    }
  }

  .sidebar {
    width: 100%;
    padding: rem(10px) 0 rem(20px) 0;

    @media screen and (min-width: $screen-s) {
      padding: 0 0 rem(30px) 0;
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(40px) 0;
    }

    .download-links {
      width: calc(100% + #{rem(20px)});
      padding-bottom: rem(20px);

      @media screen and (min-width: $screen-m) {
        width: calc(50% + #{rem(20px)});
      }

      @media screen and (min-width: $screen-l) {
        width: calc(100% + #{rem(20px)});
      }

      .button-list {
        font-size: 0;
        margin-top: rem(16px);

        li {
          position: relative;
          width: calc(25% - 20px);
          display: inline-flex;
          margin-bottom: rem(40px);
          margin-right: rem(20px);

          &:not(:last-child) {
            margin-right: rem(20px);
          }

          &::before {
            content: attr(data-file-size);
            position: absolute;
            top: rem(48px);
            left: 0;
            opacity: 0.5;
            font-family: $font-family-1;
            font-size: 12px;
            font-weight: 200;
            color: $font-color-1;
          }
        }
      }
    }

    .constraints {

      @media screen and (max-width: $screen-m) and (min-width: $screen-s) {
        width: 50%;
      }

      .-meta {
        margin-top: rem(15px);
        opacity: 0.5;
        font-family: 'Roboto', sans-serif;
        line-height: 1.33;
        color: $font-color-1;

        @media screen and (min-width: $screen-m) {
          max-width: rem(340px);
        }
      }
    }

    .link-to-album {
      padding-top: rem(20px);
    }
  }
}
