<h2 class="text -main-title -light">News</h2>

<%= render 'backend/shared/_index_items_buttons.html',
  havePermissionToCreate: can?(:create, NewsArticle),
  createPath: new_news_article_path
%>

<ul class="items-list">
  <% @news_articles.each do |news_article| %>
    <%= render 'backend/shared/index_item',
      item: news_article,
      title: news_article.title,
      edit_path: edit_news_article_path(news_article),
      delete_path: news_article_path(news_article) %>
  <% end %>
</ul>
