<h2 class="text -main-title -light">News</h2>

<div class="buttons-bar">
  <%= link_to "Fetch from exposure", fetch_news_articles_path,
    class: 'btn -light -no-border -create-new js-create-new' %>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
  </div>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort"></use>
    </svg>
  </div>
</div>

<ul class="items-list">
  <% if flash[:notice] %>
    <li><%= flash[:notice] %></li>
  <% end %>
  <% @news_articles.each do |news_article| %>
    <%= render 'backend/shared/index_item',
      item: news_article,
      title: news_article.title %>
  <% end %>
</ul>
