<h2 class="text -main-title -light">News</h2>

<div class="buttons-bar">
  <%= link_to "Fetch from exposure", fetch_news_articles_path,
    class: 'btn -light -no-border -create-new js-create-new' %>
  <%= render 'backend/shared/index_items_search_and_filter'%>
</div>

<ul class="items-list">
  <% @news_articles.each do |news_article| %>
    <%= render 'backend/shared/index_item',
      item: news_article,
      title: news_article.title,
      selected: action_name != "index" && @news_article == news_article
    %>
  <% end %>
</ul>
