<h2>News</h2>

<% if can?(:create, NewsArticle) %>
  <%= link_to "New", new_news_article_path %>
<% end %>

<ul>
  <% @news_articles.each do |news_article| %>
    <li>
      <h2><%= news_article.title %></h2>
      <%= link_to 'Edit', edit_news_article_path(news_article) %>
    </li>
  <% end %>
</ul>
