<h2 class="text -main-title -light">News</h2>

<div class="buttons-bar">
  <% if can?(:create, NewsArticle) %>
      <%= link_to "Create New", new_news_article_path, remote: true, class: 'btn -light -no-border -create-new' %>
  <% end %>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
  </div>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort"></use>
    </svg>
  </div>
</div>

<ul class="items-list">
  <% @news_articles.each do |news_article| %>
    <%= render 'backend/shared/index_item',
      item: news_article,
      title: news_article.title,
      edit_path: edit_news_article_path(news_article),
      delete_path: news_article_path(news_article),
      selected: @news_article && (@news_article.id == news_article.id) %>
  <% end %>
</ul>
