<div class="l-items-index">
  <%= render 'news_articles', news_articles: @news_articles %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @news_article, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      tags: @tags,
      activities: @activities,
      publications: @publications,
      media_contents: @media_contents
    %>
  <% end %>
</div>
