<div class="row">
  <div class="small-12 column">
    <div class="text -filter-title">ORDERED BY</div>
    <div class="c-filters">
      <div class="filter">
        <span class="text -filter" data-value="Popularity">
          <svg class="icon">
            <use xlink:href="#icon-dropdown-arrow-down"></use>
          </svg>
        </span>
        <div class="dropdown">
          <div class="text -filter-title">ORDERED BY</div>
          <ul class="list">
            <li class="text -filter">None</li>
            <li class="text -filter">Rapid Response Assessments</li>
            <li class="text -filter">Vital Graphics</li>
            <li class="text -filter">Mountains Outlook</li>
            <li class="text -filter">Environment Atlas</li>
            <li class="text -filter">Environment Times</li>
            <li class="text -filter">Environment and Security</li>
            <li class="text -filter">Story Maps</li>
            <li class="text -filter">Brochures and Flyers</li>
            <li class="text -filter">Web & CD-ROM productions</li>
            <li class="text -filter">E-Books (Interactive)</li>
            <li class="text -filter">Partner Publications</li>
          </ul>
        </div>
      </div>
      <div class="filter">
        <span class="text -filter">
          Filter by type
          <svg class="icon">
            <use xlink:href="#icon-dropdown-arrow-down"></use>
          </svg>
        </span>
      </div>
      <div class="filter">
        <span class="text -filter">
          Filter by tags
          <svg class="icon">
            <use xlink:href="#icon-dropdown-arrow-down"></use>
          </svg>
        </span>
      </div>
      <div class="filter -search">
        <span class="text -filter">Search media</span>
      </div>
    </div>
  </div>
</div>