<div class="row">
  <div class="small-12 column">
    <div class="-relativize">
      <div class="c-filters-spacer"></div>
      <div class="c-filters">
        <div class="border"></div>
        <div class="maximizer js-filters-maximizer">
          <svg class="icon">
            <use class="-show" xlink:href="#icon-filter"></use>
            <use class="-collapse" xlink:href="#icon-filter-collapse"></use>
          </svg>
        </div>
        <div class="container">
          <% filters.each do |filter| %>
              <% filter[:title] ||= ''
                 filter[:placeholder] ||= ''
                 filter[:display_method] ||= 'title'
              %>
              <%= render "shared/filters/#{filter[:type]}",
                         data: filter[:data],
                         js_trigger: filter[:js_trigger],
                         title: filter[:title],
                         placeholder: filter[:placeholder],
                         key: filter[:key],
                         display_method: filter[:display_method] %>
          <% end %>
          <%#=render 'shared/filters/search', placeholder: "Search media" %>
        </div>
      </div>
    </div>
  </div>
</div>
