<div class="row">
  <div class="small-12 column">
    <div class="c-filters">
      <%= render 'shared/select', js_trigger: 'js-dropdown-order-by', title: "ORDERED BY", placeholder: "Order by"%>
      <%= render 'shared/select', js_trigger: 'js-dropdown-filter-by-type', title: "FILTER BY TYPE", placeholder: "Filter by type"%>
      <div class="filter -type-tags">
        <div class="type text -filter-title">FILTER BY TAGS</div>
        <span class="speaker">
          <span class="text -filter">Filter by tags</span>
          <svg class="icon">
            <use xlink:href="#icon-dropdown-arrow-down"></use>
          </svg>
        </span>
        <div class="dropdown">
          <div class="type text -filter-title">FILTER BY TAGS</div>
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dropdown-arrow-down"></use>
          </svg>
          <ul class="list">
            <li class="text -filter">Adaptation (46)</li>
            <li class="text -filter">Agricultural land (46)</li>
            <li class="text -filter selected">Agriculture (66)</li>
            <li class="text -filter">Alaska (94)</li>
            <li class="text -filter">Antarctica (154)</li>
            <li class="text -filter">Arctic (1249)</li>
            <li class="text -filter">Australia (46)</li>
            <li class="text -filter">Biodiversity (2133)</li>
            <li class="text -filter">Birds (575)</li>
            <li class="text -filter">Blue Carbon (113)</li>
            <li class="text -filter">Canada (114)</li>
            <li class="text -filter">Climate Change (333)</li>
            <li class="text -filter">Coastal Ecosystems (564)</li>
            <li class="text -filter">Conservation (312)</li>
            <li class="text -filter">Democratic Republic of Congo (46)</li>
            <li class="text -filter">Desert (85)</li>
            <li class="text -filter">Ecosystem (77)</li>
            <li class="text -filter">Ecuador (92)</li>
            <li class="text -filter">Environmental Policy (59)</li>
            <li class="text -filter">Fauna (384)</li>
            <li class="text -filter">Fish (60)</li>
            <li class="text -filter">Fishing (124)</li>
            <li class="text -filter">Flora (348)</li>
            <li class="text -filter">Forest (500)</li>
            <li class="text -filter">Forestry (53)</li>
            <li class="text -filter">Freshwater (70)</li>
            <li class="text -filter">Geology (129)</li>
            <li class="text -filter">Germany (197)</li>
            <li class="text -filter">Glaciers (149)</li>
            <li class="text -filter">Greenland (288)</li>
            <li class="text -filter">Habitat (91)</li>
            <li class="text -filter">Himalayas (115)</li>
            <li class="text -filter">Icebergs (92)</li>
            <li class="text -filter">Iceland (97)</li>
            <li class="text -filter">Indian Ocean (48)</li>
            <li class="text -filter">Indigenous Peoples (75)</li>
            <li class="text -filter">Industry (112)</li>
            <li class="text -filter">Insects (59)</li>
            <li class="text -filter">Invertebrates (45)</li>
            <li class="text -filter">Kenya (225)</li>
            <li class="text -filter">Lakes (70)</li>
            <li class="text -filter">Land use (107)</li>
            <li class="text -filter">Madagascar (46)</li>
            <li class="text -filter">Mammals (316)</li>
            <li class="text -filter">Management (78)</li>
            <li class="text -filter">Mangrove (62)</li>
            <li class="text -filter">Marine Environment (771)</li>
            <li class="text -filter">Mining (48)</li>
            <li class="text -filter">Mountain (249)</li>
            <li class="text -filter">Namibia (61)</li>
            <li class="text -filter">National park (1052)</li>
            <li class="text -filter">Nepal (122)</li>
            <li class="text -filter">Norway (471)</li>
            <li class="text -filter">Oil and Gas (62)</li>
            <li class="text -filter">People and places (260)</li>
            <li class="text -filter">Permafrost (74)</li>
            <li class="text -filter">Pollution (49)</li>
            <li class="text -filter">Protected areas (1023)</li>
            <li class="text -filter">Research (52)</li>
            <li class="text -filter">River (216)</li>
            <li class="text -filter">Russia (481)</li>
            <li class="text -filter">Sea (155)</li>
            <li class="text -filter">Sea Ice (199)</li>
            <li class="text -filter">Sea Level Rise (99)</li>
            <li class="text -filter">Shipping (56)</li>
            <li class="text -filter">South Africa (115)</li>
            <li class="text -filter">South Korea (57)</li>
            <li class="text -filter">Species (77)</li>
            <li class="text -filter">Sustainable Development (55)</li>
            <li class="text -filter">Svalbard (174)</li>
            <li class="text -filter">Tanzania (49)</li>
            <li class="text -filter">Thailand (100)</li>
            <li class="text -filter">Tourism (753)</li>
            <li class="text -filter">Traditional Culture (113)</li>
            <li class="text -filter">Tropical forest (119)</li>
            <li class="text -filter">Turkey (69)</li>
            <li class="text -filter">USA (177)</li>
            <li class="text -filter">Volcano (46)</li>
            <li class="text -filter">Water (75)</li>
            <li class="text -filter">Wetlands (325)</li>
            <li class="text -filter">Wildlife (318)</li>
          </ul>
        </div>
      </div>
      <div class="filter -search">
        <span class="text -filter speaker">Search media</span>
      </div>
    </div>
  </div>
</div>
