<div class="l-footer">
  <div class="overlay"></div>
  <div class="links">
    <div class="text -menu -light">Contact Us</div>
    <div class="social-links">
      <svg class="icon">
        <use xlink:href="#icon-rrss-twitter"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-facebook"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-instagram"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-flickr"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-linkedin"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-youtube"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-vimeo"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="#icon-rrss-email"></use>
      </svg>
    </div>
    <div class="info-links">
      <ul class="text -meta -light">
        <li>2016 GRID Arendal</li>
        <li>Disclaimer</li>
        <li>Feedback</li>
      </ul>
    </div>
  </div>
</div>
