<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-arrow" viewBox="0 0 139 32">
<title>arrow</title>
<path class="path1" d="M131.118 14.133l-11.277-10.075c-0.769-0.687-0.835-1.867-0.148-2.636s1.867-0.835 2.636-0.148l16.473 14.717-16.491 14.734c-0.769 0.687-1.949 0.62-2.636-0.148s-0.62-1.949 0.148-2.636l11.277-10.075h-127.161c-1.031 0-1.867-0.836-1.867-1.867s0.836-1.867 1.867-1.867h127.18z"></path>
</symbol>
<symbol id="icon-arrow-up" viewBox="0 0 55 32">
<title>arrow_up</title>
<path class="path1" fill="var(--color1, #003d53)" d="M5.545 30.318l-4.091-4.091 26.182-26.182 26.182 26.182-4.091 4.091-22.091-22.091z"></path>
</symbol>
<symbol id="icon-breadcrumb-chevron-right" viewBox="0 0 32 32">
<title>breadcrumb-chevron-right</title>
<path class="path1" fill="#003d53" d="M9.297 2l14 14-14 14-3.281-3.281 10.719-10.719-10.719-10.719z"></path>
</symbol>
<symbol id="icon-breadcrumb-home" viewBox="0 0 32 32">
<title>breadcrumb-home</title>
<path class="path1" fill="#003d53" d="M12.865 29.802h-7.729v-12.469h-4.667l15.531-14 15.531 14h-4.667v12.469h-7.729v-9.333h-6.271z"></path>
</symbol>
<symbol id="icon-dropdown_arrow_down" viewBox="0 0 32 32">
<title>dropdown-arrow-down</title>
<path class="path1" fill="#003d53" d="M5.281 8.266l10.719 10.719 10.719-10.719 3.281 3.281-14 14-14-14z"></path>
</symbol>
<symbol id="icon-loader" viewBox="0 0 32 32">
<title>loader</title>
<path class="path1" fill="#003d53" d="M14.54 0h2.92v7.385h-2.92v-7.385zM14.54 24.615h2.92v7.385h-2.92v-7.385zM0 17.46v-2.92h7.385v2.92h-7.385zM24.615 17.46v-2.92h7.385v2.92h-7.385zM3.654 5.719l2.065-2.065 5.222 5.222-2.065 2.065-5.222-5.222zM21.061 23.124l2.065-2.065 5.218 5.218-2.065 2.065-5.218-5.218zM26.281 3.654l2.065 2.065-5.222 5.222-2.065-2.065 5.222-5.222zM8.876 21.060l2.065 2.065-5.222 5.222-2.065-2.065 5.222-5.222z"></path>
</symbol>
<symbol id="icon-logo" viewBox="0 0 100 32">
<title>logo</title>
<path class="path1" fill="#003d53" d="M8.755 14.56c0-2.901 1.476-6.355 6.609-6.355 2.396 0 3.404 0.447 4.917 1.27l-1.351 2.613c-0.991-0.716-1.585-0.985-2.917-0.985-2.055 0-3.314 1.272-3.314 3.366 0 2.185 1.17 3.365 3.115 3.365 0.288 0 0.486-0.017 0.829-0.089v-3.187h3.709v5.299c-1.189 0.447-2.989 0.771-4.736 0.771-4.286 0-6.862-2.596-6.862-6.069v0zM39.698 15.705v4.602h-3.71v-11.815h4.862c2.521 0 4.736 0.644 4.736 3.616 0 1.164-0.378 2.65-2.322 3.277l3.080 4.922h-4.017l-2.629-4.602zM39.698 11.105v2.56h0.756c0.739 0 1.351-0.34 1.351-1.325 0-0.895-0.594-1.235-1.351-1.235h-0.756zM60.486 20.307h3.711v-11.815h-3.711v11.815zM78.897 20.306v-11.815h5.135c3.692 0 6.609 1.773 6.609 5.873 0 4.081-2.917 5.943-6.628 5.943h-5.115zM82.715 11.176v6.446h1.081c1.963 0 2.953-0.931 2.953-3.295 0-2.363-1.098-3.15-2.953-3.15h-1.081zM29.904 30.125h-1.857l-0.454 1.362h-1.109l2.008-5.515h0.95l2.009 5.515h-1.11l-0.437-1.362zM28.333 29.232h1.285l-0.647-1.998-0.638 1.998zM35.901 29.281h-0.529v2.206h-1.059v-5.514h1.849c0.807 0 1.176 0.1 1.504 0.41 0.302 0.275 0.453 0.676 0.453 1.195 0 0.426-0.1 0.769-0.302 1.036-0.21 0.268-0.403 0.385-0.866 0.51l1.379 2.365h-1.16l-1.27-2.206zM35.372 26.866v1.521h0.689c0.672 0 0.966-0.235 0.966-0.786 0-0.526-0.277-0.735-0.966-0.735h-0.689zM41.311 25.972h3.379v0.894h-2.32v1.362h1.899v0.894h-1.899v1.47h2.429v0.895h-3.488v-5.514zM49.249 27.969c-0.016-0.025-0.049-0.1-0.118-0.217-0.032-0.067-0.058-0.109-0.066-0.116-0.034-0.067-0.052-0.1-0.076-0.193v4.044h-1.009v-5.514h1.22l2.327 3.626c0.009 0.016 0.034 0.058 0.059 0.117 0.025 0.058 0.042 0.091 0.051 0.108l0.049 0.142 0.050 0.1v-4.094h1.001v5.564h-1.109l-2.379-3.567zM58.4 31.486h-2.050v-5.514h2.059c1.051 0 1.706 0.235 2.253 0.811 0.478 0.509 0.747 1.212 0.747 1.929 0 0.735-0.278 1.446-0.765 1.963-0.513 0.544-1.243 0.811-2.244 0.811v0zM58.298 26.9h-0.839v3.659h0.839c1.262 0 1.968-0.661 1.968-1.839 0-0.627-0.245-1.204-0.639-1.495-0.294-0.217-0.723-0.325-1.328-0.325v0zM66.919 30.125h-1.858l-0.455 1.362h-1.107l2.008-5.515h0.95l2.010 5.515h-1.109l-0.438-1.362zM65.348 29.232h1.285l-0.647-1.998-0.638 1.998zM71.202 25.972h1.060v4.62h2.269v0.895h-3.329v-5.514zM29.236 14.539c0 1.59-1.295 2.877-2.893 2.877v-5.751c1.598 0 2.893 1.286 2.893 2.874v0zM54.65 14.539c0 1.59-1.294 2.877-2.894 2.877v-5.751c1.599 0 2.894 1.286 2.894 2.874v0zM73.009 14.539c0 1.59-1.295 2.877-2.894 2.877v-5.751c1.599 0 2.894 1.286 2.894 2.874v0zM9.68 29.181c-5.344 0-9.677-4.307-9.677-9.622l-0.003-9.935c0-5.314 4.333-9.621 9.679-9.621h44.861l-0.009 1.026h-43.819c-6.029 0-9.679 3.67-9.679 9.62l0.002 7.884c0 6.039 3.656 9.622 9.679 9.622h12.519v1.025h-13.551zM90.466 29.179c5.348 0 9.682-4.307 9.682-9.622l-0.008-9.935c0-5.315-4.333-9.623-9.68-9.623h-20.309v1.026h19.276c6.192 0 9.68 3.691 9.68 9.622l0.009 7.884c0 6.035-3.536 9.622-9.681 9.622h-11.65l-0.006 1.025h12.686zM60.522 3.327h3.63v-3.321h-3.63v3.321z"></path>
</symbol>
<symbol id="icon-menu" viewBox="0 0 32 32">
<title>menu</title>
<path class="path1" fill="#003d53" d="M0 5.333h32v3.583h-32v-3.583zM0 17.75v-3.5h32v3.5h-32zM0 26.667v-3.583h32v3.583h-32z"></path>
</symbol>
<symbol id="icon-read-more-plus" viewBox="0 0 32 32">
<title>read-more-plus</title>
<path class="path1" fill="#003d53" d="M24.473 24.473c2.367-2.367 3.551-5.191 3.551-8.473s-1.184-6.105-3.551-8.473c-2.367-2.367-5.191-3.551-8.473-3.551s-6.105 1.184-8.473 3.551c-2.367 2.367-3.551 5.191-3.551 8.473s1.184 6.105 3.551 8.473c2.367 2.367 5.191 3.551 8.473 3.551s6.105-1.184 8.473-3.551zM26.582 5.418c2.93 2.93 4.395 6.457 4.395 10.582s-1.465 7.652-4.395 10.582c-2.93 2.93-6.457 4.395-10.582 4.395s-7.652-1.465-10.582-4.395c-2.93-2.93-4.395-6.457-4.395-10.582s1.465-7.652 4.395-10.582c2.93-2.93 6.457-4.395 10.582-4.395s7.652 1.465 10.582 4.395zM17.477 8.477v6.047h6.047v2.953h-6.047v6.047h-2.953v-6.047h-6.047v-2.953h6.047v-6.047h2.953z"></path>
</symbol>
<symbol id="icon-rrss-email" viewBox="0 0 32 32">
<title>rrss-email</title>
<path class="path1" d="M16 19.454c-0.532 0-1-0.191-2-0.683l-14-7.444v14.222c0 1.117 0.9 2.032 2 2.032h28c1.1 0 2-0.914 2-2.032v-14.222l-14 7.444c-1 0.492-1.468 0.683-2 0.683v0zM30 3.2h-28c-1.1 0-2 0.914-2 2.032v1.54l16 8.543 16-8.543v-1.54c0-1.117-0.9-2.032-2-2.032v0z"></path>
</symbol>
<symbol id="icon-rrss-facebook" viewBox="0 0 32 32">
<title>rrss-facebook</title>
<path class="path1" d="M23.111 10.362h-4.844v-3.321c0-1.247 0.791-1.538 1.348-1.538h3.418v-5.483l-4.707-0.019c-5.226 0-6.415 4.090-6.415 6.707v3.655h-3.022v5.65h3.022v15.988h6.357v-15.988h4.289l0.554-5.65z"></path>
</symbol>
<symbol id="icon-rrss-flickr" viewBox="0 0 32 32">
<title>rrss-flickr</title>
<path class="path1" d="M0 16v0c0-8.837 7.163-16 16-16s16 7.163 16 16c0 8.837-7.163 16-16 16s-16-7.163-16-16zM1.92 16c0 7.776 6.304 14.080 14.080 14.080s14.080-6.304 14.080-14.080c0-7.776-6.304-14.080-14.080-14.080s-14.080 6.304-14.080 14.080v0zM7.040 15.612c0 2.26 1.835 4.092 4.098 4.092s4.098-1.832 4.098-4.092c0-2.26-1.835-4.092-4.098-4.092s-4.098 1.832-4.098 4.092v0zM21.378 19.704c2.263 0 4.098-1.832 4.098-4.092s-1.835-4.092-4.098-4.092-4.098 1.832-4.098 4.092c0 2.26 1.835 4.092 4.098 4.092v0zM21.373 12.779c1.564 0 2.833 1.268 2.833 2.833s-1.268 2.833-2.833 2.833c-1.564 0-2.833-1.268-2.833-2.833s1.268-2.833 2.833-2.833v0z"></path>
</symbol>
<symbol id="icon-rrss-instagram" viewBox="0 0 32 32">
<title>rrss-instagram</title>
<path class="path1" d="M26.119 7.64c0 0.749-0.451 1.424-1.143 1.711s-1.488 0.128-2.018-0.401c-0.53-0.53-0.688-1.326-0.401-2.018s0.962-1.143 1.711-1.143c1.022 0 1.851 0.829 1.851 1.851v0zM32 16l-0 0.023-0.105 6.713c-0.057 5.034-4.124 9.101-9.158 9.158l-6.76 0.105-6.713-0.105c-5.034-0.057-9.101-4.124-9.159-9.158l-0.105-6.737 0-0.023 0.105-6.713c0.057-5.034 4.124-9.101 9.159-9.158l6.759-0.105 6.713 0.105c5.034 0.057 9.101 4.124 9.158 9.158l0.106 6.737zM29.020 16l-0.105-6.69c-0.039-3.422-2.804-6.187-6.226-6.226l-6.69-0.104-6.69 0.104c-3.422 0.039-6.187 2.804-6.226 6.226l-0.104 6.69 0.104 6.69c0.039 3.422 2.804 6.187 6.226 6.226l6.69 0.104 6.69-0.104c3.422-0.039 6.187-2.804 6.226-6.226l0.105-6.69zM24.216 16c0 3.323-2.002 6.319-5.072 7.591s-6.604 0.569-8.954-1.781c-2.35-2.35-3.053-5.884-1.781-8.954s4.268-5.072 7.591-5.072c4.536 0.005 8.211 3.681 8.216 8.216v0zM21.237 16c0-2.118-1.276-4.028-3.233-4.838s-4.209-0.363-5.707 1.135c-1.498 1.498-1.946 3.75-1.135 5.707s2.72 3.233 4.838 3.233c2.891-0.003 5.233-2.346 5.237-5.237h0z"></path>
</symbol>
<symbol id="icon-rrss-linkedin" viewBox="0 0 32 32">
<title>rrss-linkedin</title>
<path class="path1" d="M20.753 11.057c1.532 0 2.835 0.548 3.913 1.607 0.907 0.926 1.342 2.268 1.342 4.045v10.207h-3.837v-6.767c0-1.833-0.094-3.062-0.245-3.667-0.17-0.604-0.454-1.077-0.869-1.379-0.416-0.321-0.926-0.473-1.531-0.473-0.775 0-1.456 0.246-2.023 0.775s-0.945 1.248-1.171 2.174c-0.114 0.491-0.171 1.53-0.171 3.138v6.2h-3.874v-15.48h3.874v1.607c0.888-0.737 1.683-1.248 2.401-1.55 0.718-0.283 1.436-0.435 2.192-0.435v0 0zM1.606 32h28.806c0.869 0 1.588-0.718 1.588-1.588v-28.806c0-0.888-0.719-1.607-1.588-1.607h-28.806c-0.888 0-1.606 0.718-1.606 1.607v28.806c0 0.87 0.718 1.588 1.606 1.588v0 0zM8.468 5.084c0.68 0 1.267 0.246 1.758 0.737s0.718 1.096 0.718 1.796c0 0.68-0.226 1.266-0.718 1.758-0.473 0.492-1.059 0.719-1.739 0.719s-1.267-0.246-1.758-0.737c-0.491-0.491-0.737-1.096-0.737-1.814 0-0.68 0.245-1.248 0.718-1.739 0.491-0.473 1.077-0.718 1.758-0.718v0 0zM6.521 11.435h3.875v15.481h-3.875v-15.481z"></path>
</symbol>
<symbol id="icon-rrss-twitter" viewBox="0 0 32 32">
<title>rrss-twitter</title>
<path class="path1" d="M32 5.619c-1.177 0.547-2.442 0.916-3.771 1.081 1.355-0.849 2.397-2.195 2.888-3.798-1.269 0.786-2.674 1.359-4.169 1.665-1.198-1.334-2.905-2.168-4.794-2.168-3.626 0-6.564 3.074-6.564 6.866 0 0.538 0.057 1.063 0.169 1.565-5.456-0.287-10.294-3.020-13.532-7.175-0.564 1.015-0.888 2.194-0.888 3.452 0 2.383 1.159 4.484 2.92 5.716-1.075-0.037-2.088-0.344-2.973-0.859-0.001 0.028-0.001 0.059-0.001 0.086 0 3.328 2.263 6.103 5.266 6.734-0.55 0.156-1.13 0.241-1.729 0.241-0.424 0-0.834-0.043-1.234-0.122 0.834 2.726 3.26 4.712 6.132 4.768-2.246 1.841-5.076 2.941-8.152 2.941-0.53 0-1.053-0.032-1.566-0.096 2.905 1.946 6.356 3.083 10.064 3.083 12.075 0 18.68-10.463 18.68-19.537 0-0.297-0.008-0.594-0.020-0.889 1.283-0.968 2.396-2.176 3.277-3.555v0z"></path>
</symbol>
<symbol id="icon-rrss-vimeo" viewBox="0 0 32 32">
<title>rrss-vimeo</title>
<path class="path1" d="M27.314 1.607c-4.448-0.155-7.461 2.441-9.030 7.78 0.811-0.348 1.599-0.525 2.373-0.525 1.622 0 2.343 0.943 2.15 2.843-0.097 1.151-0.811 2.82-2.15 5.014s-2.343 3.291-3.013 3.291c-0.863 0-1.651-1.7-2.373-5.083-0.238-0.997-0.669-3.538-1.287-7.633-0.58-3.786-2.105-5.562-4.59-5.308-1.049 0.093-2.626 1.089-4.731 2.982-1.532 1.445-3.087 2.897-4.664 4.342l1.503 2.016c1.436-1.051 2.276-1.568 2.514-1.568 1.101 0 2.127 1.792 3.087 5.385 0.855 3.291 1.726 6.582 2.581 9.873 1.287 3.592 2.864 5.385 4.731 5.385 3.013 0 6.695-2.943 11.046-8.823 4.203-5.632 6.375-10.074 6.523-13.311 0.186-4.342-1.369-6.567-4.671-6.66v0z"></path>
</symbol>
<symbol id="icon-rrss-youtube" viewBox="0 0 32 32">
<title>rrss-youtube</title>
<path class="path1" d="M31.681 10.087c0 0-0.313-2.038-1.273-2.936-1.216-1.178-2.581-1.183-3.206-1.252-4.478-0.299-11.195-0.299-11.195-0.299h-0.014c0 0-6.717 0-11.195 0.299-0.625 0.069-1.989 0.075-3.206 1.252-0.96 0.898-1.272 2.936-1.272 2.936s-0.32 2.393-0.32 4.786v2.244c0 2.393 0.32 4.786 0.32 4.786s0.312 2.038 1.272 2.936c1.217 1.178 2.816 1.14 3.528 1.264 2.56 0.227 10.88 0.297 10.88 0.297s6.724-0.010 11.202-0.309c0.625-0.069 1.99-0.075 3.206-1.253 0.96-0.898 1.273-2.936 1.273-2.936s0.319-2.393 0.319-4.786v-2.244c0-2.393-0.319-4.786-0.319-4.786v0zM12.697 19.836l-0.001-8.309 8.646 4.169-8.645 4.14z"></path>
</symbol>
<symbol id="icon-rrss_google_plus" viewBox="0 0 50 32">
<title>rrss_google_plus</title>
<path class="path1" d="M15.799 13.538c-0.008 1.795 0 3.59 0.008 5.386 3.010 0.098 6.027 0.053 9.036 0.098-1.328 6.675-10.409 8.84-15.214 4.48-4.941-3.824-4.707-12.212 0.43-15.765 3.59-2.866 8.697-2.157 12.287 0.324 1.411-1.305 2.73-2.7 4.005-4.149-2.987-2.384-6.653-4.081-10.552-3.9-8.139-0.272-15.621 6.856-15.757 14.995-0.52 6.653 3.854 13.177 10.032 15.531 6.155 2.368 14.045 0.754 17.975-4.775 2.595-3.492 3.153-7.988 2.851-12.212-5.039-0.038-10.070-0.030-15.101-0.015zM45.231 13.515c-0.015-1.501-0.023-3.010-0.030-4.511h-4.488c-0.015 1.501-0.030 3.002-0.038 4.511-1.509 0.008-3.010 0.015-4.511 0.030v4.488c1.501 0.015 3.010 0.030 4.511 0.045 0.015 1.501 0.015 3.002 0.030 4.503h4.496c0.008-1.501 0.015-3.002 0.030-4.511 1.509-0.015 3.010-0.023 4.511-0.038v-4.488c-1.501-0.015-3.010-0.015-4.511-0.030z"></path>
</symbol>
<symbol id="icon-rrss_skype" viewBox="0 0 30 32">
<title>rrss_skype</title>
<path class="path1" d="M29.355 18.582c0.218-0.999 0.332-2.032 0.332-3.094 0-7.96-6.453-14.414-14.414-14.414-0.84 0-1.663 0.073-2.466 0.21-1.287-0.812-2.812-1.284-4.447-1.284-4.618 0-8.36 3.743-8.36 8.362 0 1.543 0.42 2.987 1.149 4.228-0.192 0.936-0.292 1.906-0.292 2.899 0 7.962 6.453 14.416 14.415 14.416 0.903 0 1.783-0.083 2.639-0.241 1.178 0.632 2.523 0.991 3.952 0.991 4.617 0 8.359-3.743 8.359-8.36 0.001-1.334-0.312-2.593-0.867-3.712zM22.666 22.377c-0.666 0.943-1.651 1.691-2.929 2.222-1.264 0.525-2.78 0.792-4.504 0.792-2.070 0-3.807-0.365-5.161-1.084-0.969-0.522-1.767-1.23-2.374-2.107-0.612-0.882-0.922-1.758-0.922-2.604 0-0.527 0.202-0.986 0.601-1.36 0.395-0.372 0.901-0.56 1.505-0.56 0.495 0 0.923 0.148 1.27 0.441 0.332 0.282 0.615 0.699 0.845 1.236 0.256 0.586 0.533 1.080 0.828 1.467 0.284 0.375 0.69 0.69 1.209 0.936 0.523 0.247 1.228 0.373 2.093 0.373 1.192 0 2.17-0.254 2.905-0.756 0.719-0.49 1.066-1.079 1.066-1.798 0-0.569-0.181-1.015-0.555-1.368-0.394-0.367-0.911-0.651-1.539-0.848-0.655-0.204-1.544-0.425-2.644-0.656-1.498-0.32-2.767-0.7-3.778-1.129-1.035-0.441-1.868-1.051-2.477-1.813-0.618-0.776-0.933-1.746-0.933-2.889 0-1.089 0.329-2.072 0.979-2.917 0.644-0.841 1.586-1.496 2.798-1.942 1.195-0.442 2.619-0.667 4.23-0.667 1.287 0 2.418 0.15 3.364 0.442 0.951 0.295 1.751 0.695 2.38 1.187 0.633 0.496 1.106 1.024 1.402 1.576 0.298 0.555 0.449 1.109 0.449 1.643 0 0.516-0.198 0.984-0.591 1.393-0.396 0.41-0.893 0.618-1.48 0.618-0.533 0-0.952-0.131-1.242-0.386-0.27-0.241-0.549-0.612-0.86-1.147-0.359-0.682-0.794-1.221-1.293-1.6-0.485-0.37-1.295-0.555-2.408-0.555-1.032 0-1.873 0.207-2.497 0.617-0.601 0.393-0.894 0.845-0.894 1.381 0 0.329 0.095 0.602 0.29 0.839 0.204 0.252 0.494 0.469 0.858 0.653 0.378 0.191 0.77 0.342 1.161 0.449 0.4 0.112 1.072 0.276 1.993 0.489 1.167 0.251 2.24 0.531 3.187 0.835 0.961 0.308 1.789 0.685 2.467 1.126 0.69 0.449 1.237 1.026 1.625 1.716 0.389 0.692 0.586 1.546 0.586 2.539 0 1.185-0.34 2.269-1.010 3.215z"></path>
</symbol>
<symbol id="icon-rrss_web" viewBox="0 0 30 32">
<title>rrss_web</title>
<path class="path1" d="M21.25 18.986h5c0.278-1.296 0.417-2.292 0.417-2.986s-0.139-1.69-0.417-2.986h-5c0.139 0.972 0.208 1.968 0.208 2.986s-0.069 2.014-0.208 2.986zM18.611 27.181c2.824-0.926 4.977-2.685 6.458-5.278h-4.375c-0.463 1.852-1.157 3.611-2.083 5.278zM18.264 18.986c0.139-0.972 0.208-1.968 0.208-2.986s-0.069-2.014-0.208-2.986h-6.944c-0.139 0.972-0.208 1.968-0.208 2.986s0.069 2.014 0.208 2.986h6.944zM14.792 27.806c1.296-1.898 2.245-3.866 2.847-5.903h-5.694c0.602 2.037 1.551 4.005 2.847 5.903zM8.889 10.097c0.463-1.852 1.157-3.611 2.083-5.278-2.824 0.926-4.977 2.685-6.458 5.278h4.375zM4.514 21.903c1.481 2.593 3.634 4.352 6.458 5.278-0.926-1.667-1.62-3.426-2.083-5.278h-4.375zM3.333 18.986h5c-0.139-0.972-0.208-1.968-0.208-2.986s0.069-2.014 0.208-2.986h-5c-0.278 1.296-0.417 2.292-0.417 2.986s0.139 1.69 0.417 2.986zM14.792 4.194c-1.296 1.898-2.245 3.866-2.847 5.903h5.694c-0.602-2.037-1.551-4.005-2.847-5.903zM25.069 10.097c-1.482-2.593-3.634-4.352-6.458-5.278 0.926 1.667 1.62 3.426 2.083 5.278h4.375zM14.792 1.208c4.074 0 7.558 1.447 10.451 4.34s4.34 6.377 4.34 10.451c0 4.074-1.447 7.558-4.34 10.451s-6.377 4.34-10.451 4.34c-4.074 0-7.558-1.447-10.451-4.34s-4.34-6.377-4.34-10.451c0-4.074 1.447-7.558 4.34-10.451s6.377-4.34 10.451-4.34z"></path>
</symbol>
<symbol id="icon-search" viewBox="0 0 32 32">
<title>search</title>
<path class="path1" fill="#003d53" d="M17.25 17.25c1.556-1.556 2.333-3.444 2.333-5.667s-0.778-4.111-2.333-5.667c-1.556-1.556-3.444-2.333-5.667-2.333s-4.111 0.778-5.667 2.333c-1.556 1.556-2.333 3.444-2.333 5.667s0.778 4.111 2.333 5.667c1.556 1.556 3.444 2.333 5.667 2.333s4.111-0.778 5.667-2.333zM22.25 19.583l8.833 8.833-2.667 2.667-8.833-8.833v-1.417l-0.5-0.5c-2.111 1.833-4.611 2.75-7.5 2.75-3.222 0-5.958-1.111-8.208-3.333s-3.375-4.944-3.375-8.167c0-3.222 1.125-5.958 3.375-8.208s4.986-3.375 8.208-3.375c3.222 0 5.944 1.125 8.167 3.375s3.333 4.986 3.333 8.208c0 2.889-0.917 5.389-2.75 7.5l0.5 0.5h1.417z"></path>
</symbol>
<symbol id="icon-share" viewBox="0 0 29 32">
<title>share</title>
<path class="path1" fill="#003d53" d="M27.3 23.913c0.9 0.925 1.35 2.012 1.35 3.262 0 1.3-0.462 2.413-1.387 3.337s-2.012 1.387-3.262 1.387c-1.25 0-2.337-0.462-3.262-1.387s-1.387-2.038-1.387-3.337c0-0.5 0.025-0.85 0.075-1.050l-11.325-6.6c-0.95 0.85-2.050 1.275-3.3 1.275-1.3 0-2.425-0.475-3.375-1.425s-1.425-2.075-1.425-3.375c0-1.3 0.475-2.425 1.425-3.375s2.075-1.425 3.375-1.425c1.25 0 2.35 0.425 3.3 1.275l11.25-6.525c-0.1-0.5-0.15-0.875-0.15-1.125 0-1.3 0.475-2.425 1.425-3.375s2.075-1.425 3.375-1.425c1.3 0 2.425 0.475 3.375 1.425s1.425 2.075 1.425 3.375c0 1.3-0.475 2.425-1.425 3.375s-2.075 1.425-3.375 1.425c-1.2 0-2.3-0.45-3.3-1.35l-11.25 6.6c0.1 0.5 0.15 0.875 0.15 1.125s-0.050 0.625-0.15 1.125l11.4 6.6c0.9-0.8 1.95-1.2 3.15-1.2 1.3 0 2.4 0.462 3.3 1.387z"></path>
</symbol>
<symbol id="icon-play" viewBox="0 0 25 32">
<title>play</title>
<path class="path1" fill="#003d53" d="M0.036 0.036l25.071 15.964-25.071 15.964z"></path>
</symbol>
<symbol id="icon-close" viewBox="0 0 32 32">
<title>close</title>
<path class="path1" d="M4.697 1.862l-2.851 2.851 25.456 25.456 2.851-2.851-25.456-25.456zM4.664 30.12l-2.784-2.784 25.456-25.456 2.784 2.784-25.456 25.456z"></path>
</symbol>
<symbol id="icon-filter-collapse" viewBox="0 0 32 32">
<title>filter-collapse</title>
<path class="path1" fill="#003d53" d="M10.75 25.125l5.25-5.304 5.25 5.304 1.607-1.607-6.857-6.857-6.857 6.857 1.607 1.607zM10.75 2.304l-1.607 1.607 6.857 6.857 6.857-6.857-1.607-1.607-5.25 5.304-5.25-5.304z"></path>
</symbol>
<symbol id="icon-filter" viewBox="0 0 42 32">
<title>filter</title>
<path class="path1" fill="#003d53" d="M11.2 14.375v-3.15h19.2v3.15h-19.2zM6.4 3.2h28.8v3.225h-28.8v-3.225zM17.575 22.4v-3.225h6.45v3.225h-6.45z"></path>
</symbol>
<symbol id="icon-edit" viewBox="0 0 32 32">
<title>edit</title>
<path class="path1" fill="#003d53" d="M26.719 11.115l-5.833-5.833 2.844-2.844c0.292-0.292 0.656-0.438 1.094-0.438s0.802 0.146 1.094 0.438l3.646 3.646c0.292 0.292 0.438 0.656 0.438 1.094s-0.146 0.802-0.438 1.094l-2.844 2.844zM2 24.167l17.208-17.208 5.833 5.833-17.208 17.208h-5.833v-5.833z"></path>
</symbol>
<symbol id="icon-media_photo_library" viewBox="0 0 32 32">
<title>media_photo_library</title>
<path class="path1" d="M0.025 6.4h3.15v22.425h22.425v3.15h-22.425c-0.85 0-1.587-0.313-2.212-0.938s-0.938-1.363-0.938-2.212v-22.425zM14.425 16l-4.8 6.375h19.2l-6.45-7.95-4.725 5.925-3.225-4.35zM31.975 22.375c0 0.85-0.313 1.6-0.938 2.25s-1.363 0.975-2.212 0.975h-19.2c-0.85 0-1.6-0.325-2.25-0.975s-0.975-1.4-0.975-2.25v-19.2c0-0.85 0.325-1.587 0.975-2.212s1.4-0.938 2.25-0.938h19.2c0.85 0 1.587 0.313 2.212 0.938s0.938 1.363 0.938 2.212v19.2z"></path>
</symbol>
<symbol id="icon-media_video_library" viewBox="0 0 32 32">
<title>media_video_library</title>
<path class="path1" d="M16 19.975l9.6-7.2-9.6-7.2v14.4zM28.825 0.025c0.85 0 1.587 0.313 2.212 0.938s0.938 1.363 0.938 2.212v19.2c0 0.85-0.313 1.6-0.938 2.25s-1.363 0.975-2.212 0.975h-19.2c-0.85 0-1.6-0.325-2.25-0.975s-0.975-1.4-0.975-2.25v-19.2c0-0.85 0.325-1.587 0.975-2.212s1.4-0.938 2.25-0.938h19.2zM3.175 6.4v22.425h22.425v3.15h-22.425c-0.85 0-1.587-0.313-2.212-0.938s-0.938-1.363-0.938-2.212v-22.425h3.15z"></path>
</symbol>
</defs>
</svg>
