<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-arrow" viewBox="0 0 32 32">
      <title>arrow</title>
      <path class="path1" fill="#003d53" d="M30.258 15.569l-2.602-2.325c-0.177-0.159-0.193-0.431-0.034-0.608s0.431-0.193 0.608-0.034l3.801 3.396-3.806 3.4c-0.177 0.159-0.45 0.143-0.608-0.034s-0.143-0.45 0.034-0.608l2.602-2.325h-29.345c-0.238 0-0.431-0.193-0.431-0.431s0.193-0.431 0.431-0.431h29.349z"></path>
    </symbol>
    <symbol id="icon-breadcrumb_chevron_right" viewBox="0 0 32 32">
      <title>breadcrumb_chevron_right</title>
      <path class="path1" fill="#003d53" d="M9.297 2l14 14-14 14-3.281-3.281 10.719-10.719-10.719-10.719z"></path>
    </symbol>
    <symbol id="icon-breadcrumb_home" viewBox="0 0 32 32">
      <title>breadcrumb_home</title>
      <path class="path1" fill="#003d53" d="M12.865 29.802h-7.729v-12.469h-4.667l15.531-14 15.531 14h-4.667v12.469h-7.729v-9.333h-6.271z"></path>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 32 32">
      <title>close</title>
      <path class="path1" fill="#fff" d="M4.697 1.862l-2.851 2.851 25.456 25.456 2.851-2.851-25.456-25.456zM4.664 30.12l-2.784-2.784 25.456-25.456 2.784 2.784-25.456 25.456z"></path>
    </symbol>
    <symbol id="icon-dropdown_arrow_down" viewBox="0 0 32 32">
      <title>dropdown_arrow_down</title>
      <path class="path1" fill="#003d53" d="M5.281 8.266l10.719 10.719 10.719-10.719 3.281 3.281-14 14-14-14z"></path>
    </symbol>
    <symbol id="icon-filter-collapse" viewBox="0 0 32 32">
      <title>filter-collapse</title>
      <path class="path1" fill="#003d53" d="M10.75 25.125l5.25-5.304 5.25 5.304 1.607-1.607-6.857-6.857-6.857 6.857 1.607 1.607zM10.75 2.304l-1.607 1.607 6.857 6.857 6.857-6.857-1.607-1.607-5.25 5.304-5.25-5.304z"></path>
    </symbol>
    <symbol id="icon-filter" viewBox="0 0 42 32">
      <title>filter</title>
      <path class="path1" fill="#003d53" d="M11.2 14.375v-3.15h19.2v3.15h-19.2zM6.4 3.2h28.8v3.225h-28.8v-3.225zM17.575 22.4v-3.225h6.45v3.225h-6.45z"></path>
    </symbol>
    <symbol id="icon-loader" viewBox="0 0 32 32">
      <title>loader</title>
      <path class="path1" fill="#003d53" d="M14.54 0h2.92v7.385h-2.92v-7.385zM14.54 24.615h2.92v7.385h-2.92v-7.385zM0 17.46v-2.92h7.385v2.92h-7.385zM24.615 17.46v-2.92h7.385v2.92h-7.385zM3.654 5.719l2.065-2.065 5.222 5.222-2.065 2.065-5.222-5.222zM21.061 23.124l2.065-2.065 5.218 5.218-2.065 2.065-5.218-5.218zM26.281 3.654l2.065 2.065-5.222 5.222-2.065-2.065 5.222-5.222zM8.876 21.060l2.065 2.065-5.222 5.222-2.065-2.065 5.222-5.222z"></path>
    </symbol>
    <symbol id="icon-logo" viewBox="0 0 32 32">
      <title>logo</title>
      <path class="path1" fill="#003d53" d="M2.797 15.54c0-0.927 0.472-2.031 2.112-2.031 0.766 0 1.088 0.143 1.571 0.406l-0.432 0.835c-0.317-0.229-0.507-0.315-0.932-0.315-0.656 0-1.059 0.406-1.059 1.076 0 0.698 0.374 1.075 0.995 1.075 0.092 0 0.155-0.005 0.265-0.028v-1.018h1.185v1.693c-0.38 0.143-0.955 0.246-1.513 0.246-1.37 0-2.192-0.83-2.192-1.939zM12.685 15.906v1.47h-1.185v-3.775h1.554c0.805 0 1.513 0.206 1.513 1.155 0 0.372-0.121 0.847-0.742 1.047l0.984 1.573h-1.284l-0.84-1.47zM12.685 14.436v0.818h0.242c0.236 0 0.432-0.109 0.432-0.423 0-0.286-0.19-0.395-0.432-0.395h-0.242zM19.327 17.376h1.186v-3.775h-1.186v3.775zM25.21 17.376v-3.775h1.641c1.18 0 2.112 0.567 2.112 1.876 0 1.304-0.932 1.899-2.118 1.899h-1.635zM26.43 14.459v2.060h0.345c0.627 0 0.943-0.297 0.943-1.053s-0.351-1.007-0.943-1.007h-0.345zM9.555 20.513h-0.593l-0.145 0.435h-0.354l0.642-1.762h0.304l0.642 1.762h-0.355l-0.14-0.435zM9.053 20.228h0.411l-0.207-0.638-0.204 0.638zM11.471 20.244h-0.169v0.705h-0.338v-1.762h0.591c0.258 0 0.376 0.032 0.481 0.131 0.097 0.088 0.145 0.216 0.145 0.382 0 0.136-0.032 0.246-0.097 0.331-0.067 0.086-0.129 0.123-0.277 0.163l0.441 0.756h-0.371l-0.406-0.705zM11.302 19.472v0.486h0.22c0.215 0 0.309-0.075 0.309-0.251 0-0.168-0.089-0.235-0.309-0.235h-0.22zM13.2 19.186h1.080v0.286h-0.741v0.435h0.607v0.286h-0.607v0.47h0.776v0.286h-1.115v-1.762zM15.736 19.824c-0.005-0.008-0.016-0.032-0.038-0.070-0.010-0.022-0.019-0.035-0.021-0.037-0.011-0.022-0.016-0.032-0.024-0.062v1.292h-0.322v-1.762h0.39l0.744 1.159c0.003 0.005 0.011 0.018 0.019 0.038s0.013 0.029 0.016 0.035l0.016 0.045 0.016 0.032v-1.308h0.32v1.778h-0.354l-0.76-1.14zM18.66 20.948h-0.655v-1.762h0.658c0.336 0 0.545 0.075 0.72 0.259 0.153 0.163 0.239 0.387 0.239 0.616 0 0.235-0.089 0.462-0.244 0.627-0.164 0.174-0.397 0.259-0.717 0.259zM18.628 19.483h-0.268v1.169h0.268c0.403 0 0.629-0.211 0.629-0.588 0-0.2-0.078-0.385-0.204-0.478-0.094-0.069-0.231-0.104-0.424-0.104zM21.382 20.513h-0.594l-0.145 0.435h-0.354l0.642-1.762h0.303l0.642 1.762h-0.354l-0.14-0.435zM20.88 20.228h0.411l-0.207-0.638-0.204 0.638zM22.751 19.186h0.339v1.476h0.725v0.286h-1.064v-1.762zM9.342 15.533c0 0.508-0.414 0.919-0.924 0.919v-1.838c0.511 0 0.924 0.411 0.924 0.918zM17.462 15.533c0 0.508-0.414 0.919-0.925 0.919v-1.838c0.511 0 0.925 0.411 0.925 0.918zM23.328 15.533c0 0.508-0.414 0.919-0.925 0.919v-1.838c0.511 0 0.925 0.411 0.925 0.918zM3.093 20.212c-1.708 0-3.092-1.376-3.092-3.074l-0.001-3.175c0-1.698 1.385-3.074 3.093-3.074h14.334l-0.003 0.328h-14.001c-1.926 0-3.093 1.173-3.093 3.074l0.001 2.519c0 1.93 1.168 3.074 3.093 3.074h4v0.328h-4.33zM28.906 20.211c1.709 0 3.094-1.376 3.094-3.074l-0.002-3.174c0-1.698-1.385-3.075-3.093-3.075h-6.489v0.328h6.159c1.978 0 3.093 1.179 3.093 3.074l0.003 2.519c0 1.928-1.13 3.074-3.093 3.074h-3.722l-0.002 0.328h4.054zM19.339 11.951h1.16v-1.061h-1.16v1.061z"></path>
    </symbol>
    <symbol id="icon-media_photo_library" viewBox="0 0 32 32">
      <title>media_photo_library</title>
      <path class="path1" fill="#003d53" d="M0.025 6.4h3.15v22.425h22.425v3.15h-22.425c-0.85 0-1.587-0.313-2.212-0.938s-0.938-1.363-0.938-2.212v-22.425zM14.425 16l-4.8 6.375h19.2l-6.45-7.95-4.725 5.925-3.225-4.35zM31.975 22.375c0 0.85-0.313 1.6-0.938 2.25s-1.363 0.975-2.212 0.975h-19.2c-0.85 0-1.6-0.325-2.25-0.975s-0.975-1.4-0.975-2.25v-19.2c0-0.85 0.325-1.587 0.975-2.212s1.4-0.938 2.25-0.938h19.2c0.85 0 1.587 0.313 2.212 0.938s0.938 1.363 0.938 2.212v19.2z"></path>
    </symbol>
    <symbol id="icon-media_video_library" viewBox="0 0 32 32">
      <title>media_video_library</title>
      <path class="path1" fill="#003d53" d="M16 19.975l9.6-7.2-9.6-7.2v14.4zM28.825 0.025c0.85 0 1.587 0.313 2.212 0.938s0.938 1.363 0.938 2.212v19.2c0 0.85-0.313 1.6-0.938 2.25s-1.363 0.975-2.212 0.975h-19.2c-0.85 0-1.6-0.325-2.25-0.975s-0.975-1.4-0.975-2.25v-19.2c0-0.85 0.325-1.587 0.975-2.212s1.4-0.938 2.25-0.938h19.2zM3.175 6.4v22.425h22.425v3.15h-22.425c-0.85 0-1.587-0.313-2.212-0.938s-0.938-1.363-0.938-2.212v-22.425h3.15z"></path>
    </symbol>
    <symbol id="icon-menu" viewBox="0 0 32 32">
      <title>menu</title>
      <path class="path1" fill="#003d53" d="M0 5.333h32v3.583h-32v-3.583zM0 17.75v-3.5h32v3.5h-32zM0 26.667v-3.583h32v3.583h-32z"></path>
    </symbol>
    <symbol id="icon-play_arrow" viewBox="0 0 32 32">
      <title>play_arrow</title>
      <path class="path1" fill="#003d53" d="M3.464 0.036l25.071 15.964-25.071 15.964z"></path>
    </symbol>
    <symbol id="icon-play" viewBox="0 0 32 32">
      <title>play</title>
      <path class="path1" fill="#003d53" d="M31.5 15.75c0-8.698-7.052-15.75-15.75-15.75s-15.75 7.051-15.75 15.75c0 8.698 7.051 15.75 15.75 15.75s15.75-7.052 15.75-15.75zM1.5 15.75c0-7.87 6.38-14.25 14.25-14.25s14.25 6.38 14.25 14.25c0 7.87-6.38 14.25-14.25 14.25s-14.25-6.38-14.25-14.25zM13 21v-11l8.5 5.5-8.5 5.5z"></path>
    </symbol>
    <symbol id="icon-read_more_plus" viewBox="0 0 32 32">
      <title>read_more_plus</title>
      <path class="path1" fill="#003d53" d="M24.473 24.473c2.367-2.367 3.551-5.191 3.551-8.473s-1.184-6.105-3.551-8.473c-2.367-2.367-5.191-3.551-8.473-3.551s-6.105 1.184-8.473 3.551c-2.367 2.367-3.551 5.191-3.551 8.473s1.184 6.105 3.551 8.473c2.367 2.367 5.191 3.551 8.473 3.551s6.105-1.184 8.473-3.551zM26.582 5.418c2.93 2.93 4.395 6.457 4.395 10.582s-1.465 7.652-4.395 10.582c-2.93 2.93-6.457 4.395-10.582 4.395s-7.652-1.465-10.582-4.395c-2.93-2.93-4.395-6.457-4.395-10.582s1.465-7.652 4.395-10.582c2.93-2.93 6.457-4.395 10.582-4.395s7.652 1.465 10.582 4.395zM17.477 8.477v6.047h6.047v2.953h-6.047v6.047h-2.953v-6.047h-6.047v-2.953h6.047v-6.047h2.953z"></path>
    </symbol>
    <symbol id="icon-rrss_email" viewBox="0 0 32 32">
      <title>rrss_email</title>
      <path class="path1" fill="#fff" d="M16 19.454c-0.532 0-1-0.191-2-0.683l-14-7.444v14.222c0 1.117 0.9 2.032 2 2.032h28c1.1 0 2-0.914 2-2.032v-14.222l-14 7.444c-1 0.492-1.468 0.683-2 0.683v0zM30 3.2h-28c-1.1 0-2 0.914-2 2.032v1.54l16 8.543 16-8.543v-1.54c0-1.117-0.9-2.032-2-2.032v0z"></path>
    </symbol>
    <symbol id="icon-rrss_facebook" viewBox="0 0 32 32">
      <title>rrss_facebook</title>
      <path class="path1" fill="#fff" d="M23.111 10.362h-4.844v-3.321c0-1.247 0.791-1.538 1.348-1.538h3.418v-5.483l-4.707-0.019c-5.226 0-6.415 4.090-6.415 6.707v3.655h-3.022v5.65h3.022v15.988h6.357v-15.988h4.289l0.554-5.65z"></path>
    </symbol>
    <symbol id="icon-rrss_flickr" viewBox="0 0 32 32">
      <title>rrss_flickr</title>
      <path class="path1" fill="#fff" d="M0 16v0c0-8.837 7.163-16 16-16s16 7.163 16 16c0 8.837-7.163 16-16 16s-16-7.163-16-16zM1.92 16c0 7.776 6.304 14.080 14.080 14.080s14.080-6.304 14.080-14.080c0-7.776-6.304-14.080-14.080-14.080s-14.080 6.304-14.080 14.080v0zM7.040 15.612c0 2.26 1.835 4.092 4.098 4.092s4.098-1.832 4.098-4.092c0-2.26-1.835-4.092-4.098-4.092s-4.098 1.832-4.098 4.092v0zM21.378 19.704c2.263 0 4.098-1.832 4.098-4.092s-1.835-4.092-4.098-4.092-4.098 1.832-4.098 4.092c0 2.26 1.835 4.092 4.098 4.092v0zM21.373 12.779c1.564 0 2.833 1.268 2.833 2.833s-1.268 2.833-2.833 2.833c-1.564 0-2.833-1.268-2.833-2.833s1.268-2.833 2.833-2.833v0z"></path>
    </symbol>
    <symbol id="icon-rrss_instagram" viewBox="0 0 32 32">
      <title>rrss_instagram</title>
      <path class="path1" fill="#fff" d="M26.119 7.64c0 0.749-0.451 1.424-1.143 1.711s-1.488 0.128-2.018-0.401c-0.53-0.53-0.688-1.326-0.401-2.018s0.962-1.143 1.711-1.143c1.022 0 1.851 0.829 1.851 1.851v0zM32 16l-0 0.023-0.105 6.713c-0.057 5.034-4.124 9.101-9.158 9.158l-6.76 0.105-6.713-0.105c-5.034-0.057-9.101-4.124-9.159-9.158l-0.105-6.737 0-0.023 0.105-6.713c0.057-5.034 4.124-9.101 9.159-9.158l6.759-0.105 6.713 0.105c5.034 0.057 9.101 4.124 9.158 9.158l0.106 6.737zM29.020 16l-0.105-6.69c-0.039-3.422-2.804-6.187-6.226-6.226l-6.69-0.104-6.69 0.104c-3.422 0.039-6.187 2.804-6.226 6.226l-0.104 6.69 0.104 6.69c0.039 3.422 2.804 6.187 6.226 6.226l6.69 0.104 6.69-0.104c3.422-0.039 6.187-2.804 6.226-6.226l0.105-6.69zM24.216 16c0 3.323-2.002 6.319-5.072 7.591s-6.604 0.569-8.954-1.781c-2.35-2.35-3.053-5.884-1.781-8.954s4.268-5.072 7.591-5.072c4.536 0.005 8.211 3.681 8.216 8.216v0zM21.237 16c0-2.118-1.276-4.028-3.233-4.838s-4.209-0.363-5.707 1.135c-1.498 1.498-1.946 3.75-1.135 5.707s2.72 3.233 4.838 3.233c2.891-0.003 5.233-2.346 5.237-5.237h0z"></path>
    </symbol>
    <symbol id="icon-rrss_linkedin" viewBox="0 0 32 32">
      <title>rrss_linkedin</title>
      <path class="path1" fill="#fff" d="M20.753 11.057c1.532 0 2.835 0.548 3.913 1.607 0.907 0.926 1.342 2.268 1.342 4.045v10.207h-3.837v-6.767c0-1.833-0.094-3.062-0.245-3.667-0.17-0.604-0.454-1.077-0.869-1.379-0.416-0.321-0.926-0.473-1.531-0.473-0.775 0-1.456 0.246-2.023 0.775s-0.945 1.248-1.171 2.174c-0.114 0.491-0.171 1.53-0.171 3.138v6.2h-3.874v-15.48h3.874v1.607c0.888-0.737 1.683-1.248 2.401-1.55 0.718-0.283 1.436-0.435 2.192-0.435v0 0zM1.606 32h28.806c0.869 0 1.588-0.718 1.588-1.588v-28.806c0-0.888-0.719-1.607-1.588-1.607h-28.806c-0.888 0-1.606 0.718-1.606 1.607v28.806c0 0.87 0.718 1.588 1.606 1.588v0 0zM8.468 5.084c0.68 0 1.267 0.246 1.758 0.737s0.718 1.096 0.718 1.796c0 0.68-0.226 1.266-0.718 1.758-0.473 0.492-1.059 0.719-1.739 0.719s-1.267-0.246-1.758-0.737c-0.491-0.491-0.737-1.096-0.737-1.814 0-0.68 0.245-1.248 0.718-1.739 0.491-0.473 1.077-0.718 1.758-0.718v0 0zM6.521 11.435h3.875v15.481h-3.875v-15.481z"></path>
    </symbol>
    <symbol id="icon-rrss_twitter" viewBox="0 0 32 32">
      <title>rrss_twitter</title>
      <path class="path1" fill="#fff" d="M32 5.619c-1.177 0.547-2.442 0.916-3.771 1.081 1.355-0.849 2.397-2.195 2.888-3.798-1.269 0.786-2.674 1.359-4.169 1.665-1.198-1.334-2.905-2.168-4.794-2.168-3.626 0-6.564 3.074-6.564 6.866 0 0.538 0.057 1.063 0.169 1.565-5.456-0.287-10.294-3.020-13.532-7.175-0.564 1.015-0.888 2.194-0.888 3.452 0 2.383 1.159 4.484 2.92 5.716-1.075-0.037-2.088-0.344-2.973-0.859-0.001 0.028-0.001 0.059-0.001 0.086 0 3.328 2.263 6.103 5.266 6.734-0.55 0.156-1.13 0.241-1.729 0.241-0.424 0-0.834-0.043-1.234-0.122 0.834 2.726 3.26 4.712 6.132 4.768-2.246 1.841-5.076 2.941-8.152 2.941-0.53 0-1.053-0.032-1.566-0.096 2.905 1.946 6.356 3.083 10.064 3.083 12.075 0 18.68-10.463 18.68-19.537 0-0.297-0.008-0.594-0.020-0.889 1.283-0.968 2.396-2.176 3.277-3.555v0z"></path>
    </symbol>
    <symbol id="icon-rrss_vimeo" viewBox="0 0 32 32">
      <title>rrss_vimeo</title>
      <path class="path1" fill="#fff" d="M27.314 1.607c-4.448-0.155-7.461 2.441-9.030 7.78 0.811-0.348 1.599-0.525 2.373-0.525 1.622 0 2.343 0.943 2.15 2.843-0.097 1.151-0.811 2.82-2.15 5.014s-2.343 3.291-3.013 3.291c-0.863 0-1.651-1.7-2.373-5.083-0.238-0.997-0.669-3.538-1.287-7.633-0.58-3.786-2.105-5.562-4.59-5.308-1.049 0.093-2.626 1.089-4.731 2.982-1.532 1.445-3.087 2.897-4.664 4.342l1.503 2.016c1.436-1.051 2.276-1.568 2.514-1.568 1.101 0 2.127 1.792 3.087 5.385 0.855 3.291 1.726 6.582 2.581 9.873 1.287 3.592 2.864 5.385 4.731 5.385 3.013 0 6.695-2.943 11.046-8.823 4.203-5.632 6.375-10.074 6.523-13.311 0.186-4.342-1.369-6.567-4.671-6.66v0z"></path>
    </symbol>
    <symbol id="icon-rrss_youtube" viewBox="0 0 32 32">
      <title>rrss_youtube</title>
      <path class="path1" fill="#fff" d="M31.681 10.087c0 0-0.313-2.038-1.273-2.936-1.216-1.178-2.581-1.183-3.206-1.252-4.478-0.299-11.195-0.299-11.195-0.299h-0.014c0 0-6.717 0-11.195 0.299-0.625 0.069-1.989 0.075-3.206 1.252-0.96 0.898-1.272 2.936-1.272 2.936s-0.32 2.393-0.32 4.786v2.244c0 2.393 0.32 4.786 0.32 4.786s0.312 2.038 1.272 2.936c1.217 1.178 2.816 1.14 3.528 1.264 2.56 0.227 10.88 0.297 10.88 0.297s6.724-0.010 11.202-0.309c0.625-0.069 1.99-0.075 3.206-1.253 0.96-0.898 1.273-2.936 1.273-2.936s0.319-2.393 0.319-4.786v-2.244c0-2.393-0.319-4.786-0.319-4.786v0zM12.697 19.836l-0.001-8.309 8.646 4.169-8.645 4.14z"></path>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 32 32">
      <title>search</title>
      <path class="path1" fill="#003d53" d="M17.25 17.25c1.556-1.556 2.333-3.444 2.333-5.667s-0.778-4.111-2.333-5.667c-1.556-1.556-3.444-2.333-5.667-2.333s-4.111 0.778-5.667 2.333c-1.556 1.556-2.333 3.444-2.333 5.667s0.778 4.111 2.333 5.667c1.556 1.556 3.444 2.333 5.667 2.333s4.111-0.778 5.667-2.333zM22.25 19.583l8.833 8.833-2.667 2.667-8.833-8.833v-1.417l-0.5-0.5c-2.111 1.833-4.611 2.75-7.5 2.75-3.222 0-5.958-1.111-8.208-3.333s-3.375-4.944-3.375-8.167c0-3.222 1.125-5.958 3.375-8.208s4.986-3.375 8.208-3.375c3.222 0 5.944 1.125 8.167 3.375s3.333 4.986 3.333 8.208c0 2.889-0.917 5.389-2.75 7.5l0.5 0.5h1.417z"></path>
    </symbol>
    <symbol id="icon-share" viewBox="0 0 29 32">
      <title>share</title>
      <path class="path1" fill="#003d53" d="M27.3 23.913c0.9 0.925 1.35 2.012 1.35 3.262 0 1.3-0.462 2.413-1.387 3.337s-2.012 1.387-3.262 1.387c-1.25 0-2.337-0.462-3.262-1.387s-1.387-2.038-1.387-3.337c0-0.5 0.025-0.85 0.075-1.050l-11.325-6.6c-0.95 0.85-2.050 1.275-3.3 1.275-1.3 0-2.425-0.475-3.375-1.425s-1.425-2.075-1.425-3.375c0-1.3 0.475-2.425 1.425-3.375s2.075-1.425 3.375-1.425c1.25 0 2.35 0.425 3.3 1.275l11.25-6.525c-0.1-0.5-0.15-0.875-0.15-1.125 0-1.3 0.475-2.425 1.425-3.375s2.075-1.425 3.375-1.425c1.3 0 2.425 0.475 3.375 1.425s1.425 2.075 1.425 3.375c0 1.3-0.475 2.425-1.425 3.375s-2.075 1.425-3.375 1.425c-1.2 0-2.3-0.45-3.3-1.35l-11.25 6.6c0.1 0.5 0.15 0.875 0.15 1.125s-0.050 0.625-0.15 1.125l11.4 6.6c0.9-0.8 1.95-1.2 3.15-1.2 1.3 0 2.4 0.462 3.3 1.387z"></path>
    </symbol>
    <symbol id="icon-star_off" viewBox="0 0 32 32">
      <title>star_off</title>
      <path class="path1" fill="#003d53" opacity="0.8" d="M30.596 12.029l-7.808 6.798 2.356 10.096-8.885-5.385-8.885 5.385 2.356-10.096-7.808-6.798 10.298-0.875 4.038-9.49 4.038 9.49 10.298 0.875zM16.26 20.913l5.385 3.231-1.413-6.125 4.779-4.173-6.327-0.538-2.423-5.788-2.423 5.788-6.327 0.538 4.779 4.173-1.413 6.125 5.385-3.231z"></path>
    </symbol>
    <symbol id="icon-star_on" viewBox="0 0 32 32">
      <title>star_on</title>
      <path class="path1" fill="#003d53" opacity="0.8" d="M16 24.168l-9.624 5.832 2.552-10.939-8.459-7.363 11.155-0.949 4.376-10.28 4.376 10.28 11.155 0.949-8.459 7.363 2.552 10.939z"></path>
    </symbol>
  </defs>
</svg>
