<section class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured Media</h2>
        <p class="text -view-all">
          <%= link_to root_path do %>
            View all media
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <!-- slider -->
</section>
