<section class="l-main-content" data-section="media">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">
          <% title ||= "Featured Media" %>
          <%= title %>
        </h2>
        <p class="text -view-all">
          <%= link_to root_path do %>
            <span>
              View all media
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="c-slider slider js_slider" data-slider-type="card">
        <div class="frame js_frame">
          <div class="masonry-layout slides js_slides" data-columns="3">
            <% media_contents.each do |media| %>
              <% picture_url = case media.type
                                when MediaContent::TYPE_ALBUM
                                  photo = media.photos.first
                                  photo ? photo.photo_sizes.where(label: PhotoSize::LARGE).first.try(:url) : nil
                                when MediaContent::TYPE_PHOTO
                                  media.photo_sizes.where(label: PhotoSize::LARGE).first.try(:url)
                                else
                                  nil
                              end %>
              <%= render 'shared/media_card',
                picture: picture_url,
                title: media.title,
                link: medium_path(media),
                photos_count: media.type == 'Album' ? media.photos.size : 0,
                videos_count: 0 %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
