<% sectionClass ||= '' %>
<section class="l-main-content <%= sectionClass %>" data-section="media">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">
          <% title ||= "Featured Media" %>
          <%= title %>
        </h2>
        <p class="text -view-all">
          <%= link_to root_path do %>
            <span>
              View all media
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="c-slider slider js_slider" data-slider-type="card">
        <div class="frame js_frame">
          <div class="masonry-layout masonry-1-1-2-3 slides js_slides" data-columns="3">
            <% media_contents.each do |media| %>
              <%= render 'shared/media_card', media: media %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
