<% sections = [
  {title: "Activities", key: "activities", path: activities_path},
  {title: "Publications", key: "publications", path: publications_path},
  {title: "Media Library", key: "media", path: media_path},
  {title: "News", key: "news_index", path: news_index_path},
  {title: "About", key: "about_index", path: about_index_path}
] %>

<div class="row">
  <div class="small-12 columns">
    <div class="c-menu">
      <div class="js-btn-mobile-menu mobile">
        <svg class="icon">
          <use xlink:href="#icon-menu"></use>
        </svg>
      </div>
      <div class="logo-menu mobile">
        <a href="/">
          <svg class="icon">
            <use xlink:href="#icon-logo"></use>
          </svg>
        </a>
      </div>
      <ul class="desktop text -menu">
        <li class="logo-menu">
          <a href="/">
            <svg class="icon">
              <use xlink:href="#icon-logo"></use>
            </svg>
          </a>
        </li>
        <% sections.each do |section| %>
          <li class="<% if controller_name == section[:key] %>-selected<% end %>"><%= link_to section[:title], section[:path] %></li>
        <% end %>
      </ul>
      <svg class="icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </div>
  </div>
</div>
<div class="c-mobile-menu">
  <ul class="text -menu -light">
    <li class="js-btn-close">
      <svg class="icon">
        <use xlink:href="#icon-close"></use>
      </svg>
    </li>
    <% sections.each do |section| %>
      <li><%= link_to section[:title], section[:path] %></li>
    <% end %>
  </ul>
</div>
