<section class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Latest news</h2>
        <p class="text -view-all">
          <%= link_to news_index_path do %>
            <span>
              View all news
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <!-- <ul class="row">
    <%# @articles.each do |article| %>
      <li class="small-12 medium-3 columns">
        <article class="c-card">
          <div class="card-pic"></div>
          <div class="card-descrition">
            <h3 class="text -title-card"><%#= article.title %></h3>
            <p class="text -summary">This is some info related to this card</p>
            <p class="text -meta">
              <%#= time_ago_in_words(article.publication_date) %> ago
            </p>
          </div>
        </article>
      </li>
    <%# end %>
  </ul> -->

  <ul class="row">
    <li class="small-12 medium-3 columns">
      <article class="c-card">
        <div class="card-pic pic-1"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">Tackling plastic pollution should begin at the source, says new report</h3>
          <p class="text -meta">2 days ago</p>
        </div>
      </article>
    </li>

    <li class="small-12 medium-3 columns">
      <article class="c-card">
        <div class="card-pic pic-2"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">Is burning fossil fuel like smoking tobacco?</h3>
          <p class="text -meta">3 days ago</p>
        </div>
      </article>
    </li>

    <li class="small-12 medium-3 columns">
      <article class="c-card">
        <div class="card-pic pic-3"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">A picture is worth (more than) 1000 words</h3>
          <p class="text -meta">1 week ago</p>
        </div>
      </article>
    </li>

    <li class="small-12 medium-3 columns">
      <article class="c-card">
        <div class="card-pic pic-4"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">European Ministers target air pollution, focus on green economy at environment conference</h3>
          <p class="text -meta">1 week ago</p>
        </div>
      </article>
    </li>
  </ul>
</section>
