<% sectionClass ||= '' %>
<section class="l-main-content -news <%= sectionClass %>" data-section="news">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">
          <% title ||= "Latest news" %>
          <%= title %>
        </h2>
        <p class="text -view-all">
          <%= link_to news_index_path do %>
            <span>
              View all news
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="c-slider slider js_slider" data-slider-type="card">
        <div class="frame js_frame">
          <div class="masonry-layout slides js_slides" data-columns="4">
            <% news.each do |article| %>
                <%= render 'shared/news_card', article: article %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
