<%
  sectionClass ||= ''
  title ||= "Parners"
%>
<section class="l-main-content -partners <%= sectionClass %>" data-section="partners">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block"><%= title %></h2>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="text -summary-alt">
        GRID-Arendal´s activities are nearly always a cooperative undertaking
        made possible through collaboration with our various partners, and
        donors.
      </div>
    </div>
    <% if partners.any? %>
      <div class="small-12 large-6 columns">
        <div class="logos">
          <% partners.each do |partner| %>
            <%= link_to partner.web_url || "#" do %>
              <span><img src="<%= partner.logo.exists? ? partner.logo.url : asset_path('original/missing2.png') %>"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
