<section class="l-main-content -partners">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Partners & Links</h2>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="text -summary-alt">The UNEP Polar Centre works closely with UN Environment Programme partners at UNEP-WCMC, UNEP headquarters and regional and programme offices, and Gateway Antarctica (Christchurch, New Zealand). In general, work in the Polar Regions has a strong focus on collaboration and on science. Our partners and stakeholders include polar scientists and technologists, indigenous people’s organizations, petroleum industry representatives, national government personnel working on international and regional programmes, parliamentarians, and environmental non government organizations. Activities are nearly always a cooperative undertaking made possible through collaboration with our various partners, and donors. This list represents some of our long-term partner institutions and agencies.</div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="logos">
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
        <span><img src="https://worldvectorlogo.com/logos/slack-1.svg"></span>
      </div>
    </div>
  </div>
</section>
