<% sectionClass ||= '' %>
<section class="l-main-content -media-library <%= sectionClass %>" data-section="related-media">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">
          <% title ||= "Related Media" %>
          <%= title %>
        </h2>
        <% if(defined? link) %>
          <p class="text -view-all">
            <%= link_to link do %>
              <span>
                View all media
              </span>
                <svg class="icon -arrow">
                  <use xlink:href="#icon-arrow"></use>
                </svg>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="c-slider slider js_slider" data-slider-type="related-media">
        <div class="frame js_frame">
          <div class="slides js_slides">
            <% media_contents.each_with_index do |media, index| %>
              <% if ![MediaContent::TYPE_PHOTO].include?(media.type) %>
                <%= render 'shared/related_media_item',
                  media: media,
                  index: index %>
              <% end %>
            <% end %>
          </div>
          <span class="js_prev prev">
          <svg class="icon icon-next">
            <use xlink:href="#icon-next"></use>
          </svg>
        </span>
          <span class="js_next next">
          <svg class="icon icon-next">
            <use xlink:href="#icon-next"></use>
          </svg>
        </span>
        </div>

      </div>
    </div>
  </div>
</section>
