<div class="js_slide slide <% if index == 0 %>active<% end %>">
  <%= related_media_card(index, media) do %>
    <% if media.type == MediaContent::TYPE_VIDEO %>
      <div class="player">
        <svg class="icon">
          <use xlink:href="#icon-play"></use>
        </svg>
      </div>
    <% end %>
    <div class="text -image-cap name"><%= media.title %></div>
    <div class="text -related-image-meta meta">
      <%= media.author.present? ? media.author + ' | ' : ''%>
      <%= media.publication_date.strftime("%d %b %Y") %>
    </div>
  <% end %>
</div>
