<div class="c-search-modal js-search-modal -hidden">
  <div class="row">
    <div class="small-12 columns">
      <form action="/search" method="GET">
        <input type="text" name="query" value="" placeholder="Search" autocomplete="off" class="c-search-input text -title-library"/>
      </form>
    </div>
  </div>

  <div class="c-search-modal-background js-search-modal-background"></div>
</div>
