<div class="c-search">
  <form action="/search" method="GET">
    <input type="text" name="query" value=""/>
    <label>
      <input type="submit"/>
      <svg class="btn-search">
        <use xlink:href="#icon-search"></use>
      </svg>
    </label>
  </form>
  <svg class="btn-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

