<div class="c-share">
  <div class="share-btn -share">
    <svg class="icon">
      <use xlink:href="#icon-share"></use>
    </svg>
  </div>
  <div class="share-btn -mail">
    <svg class="icon">
      <use xlink:href="#icon-mail"></use>
    </svg>
  </div>
  <div class="share-btn -facebook">
    <svg class="icon">
      <use xlink:href="#icon-facebook"></use>
    </svg>
  </div>
  <div class="share-btn -twitter">
    <svg class="icon">
      <use xlink:href="#icon-twitter"></use>
    </svg>
  </div>
</div>
