<% current_route ||= '' %>
<% mobile ||= false %>

<div class="c-share <% if mobile %>-mobile<%end%>">
  <div class="share-btn -share">
    <svg class="icon">
      <use xlink:href="#icon-share"></use>
    </svg>
  </div>
  <a class="share-btn -mail" href="mailto:?body=I think you could be interested in this website: <%= current_route %>" data-key="email">
    <svg class="icon">
      <use xlink:href="#icon-rrss-email"></use>
    </svg>
  </a>
  <%= link_to("http://www.facebook.com/sharer/sharer.php?u=#{request.original_url}",
              {class: "share-btn -facebook", target: "_blank", data: {key: "FB"} }) do %>
    <svg class="icon">
      <use xlink:href="#icon-rrss-facebook"></use>
    </svg>
  <% end %>
  <a class="share-btn -twitter" href="http://www.twitter.com/share?text=Visit @GRIDArendal 's <%= yield(:title) %> in" target="_blank" data-key="twitter">
    <svg class="icon">
      <use xlink:href="#icon-rrss-twitter"></use>
    </svg>
  </a>
</div>
