<%
  sectionClass ||= ''
  lead_user ||= nil
%>
<section class="l-main-content <%= sectionClass %>" data-section="users">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Staff</h2>
        <p class="text -view-all">
          <%= link_to staff_index_path do %>
            <span>
              Know our complete staff
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <ul class="c-staff row">
    <% if lead_user %>
      <% avatar_url = if lead_user.avatar.exists?
                        lead_user.avatar(:medium)
                      else
                        asset_path('original/missing2.png')
                      end %>
      <li class="small-6 medium-3 large-2 columns">
        <%= render 'shared/user',
          name: lead_user.display_name,
          position: lead_user.current_position,
          avatar_url: avatar_url %>
      </li>
    <% end %>
    <% users.each do |user| %>
      <% avatar_url = if user.avatar.exists?
                        user.avatar(:medium)
                      else
                        asset_path('original/missing2.png')
                      end %>
      <li class="small-6 medium-3 large-2 columns">
        <%= render 'shared/user',
          name: user.display_name,
          position: user.current_position,
          avatar_url: avatar_url %>
      </li>
    <% end %>
  </ul>
</section>
