<%
  sectionClass ||= ''
  lead_user ||= nil
%>
<section class="l-main-content <%= sectionClass %>" data-section="users">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Staff</h2>
        <p class="text -view-all">
          <%= link_to about_index_path(anchor: "staff") do %>
            <span>
              Meet our staff
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <ul class="c-staff row">
    <% if lead_user %>
      <li class="small-6 medium-3 large-2 columns">
        <%= render 'shared/user', user: lead_user %>
      </li>
    <% end %>
    <% users.each do |user| %>
      <li class="small-6 medium-3 large-2 columns">
        <%= render 'shared/user', user: user %>
      </li>
    <% end %>
  </ul>
</section>
