BODY {
	FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
B {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
A {
	FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.clsItemHeaderLink {
	COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
.clsItemHeaderLink:hover {
	COLOR: #0099ff
}
TABLE {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; LINE-HEIGHT: 100%
}
H1 {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 18pt; FONT-WEIGHT: bold; LINE-HEIGHT: 140%
}
H1.clsRedH1 {
	COLOR: #993300; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 21pt; FONT-WEIGHT: normal; LINE-HEIGHT: 140%
}
H2 {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 15pt; FONT-WEIGHT: bold; LINE-HEIGHT: 120%
}
H3 {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; LINE-HEIGHT: 100%
}
H5 {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; LINE-HEIGHT: 100%
}
.NOUNDER {
	COLOR: #00ffff; TEXT-DECORATION: none
}
.clsPageTitle {
	COLOR: #993300; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.clsQuote {
	COLOR: #006633; FONT-FAMILY: Times New Roman; FONT-SIZE: 11pt; FONT-STYLE: italic; FONT-WEIGHT: normal
}
.clsQuoteHR {
	COLOR: #006633; FONT-FAMILY: Times New Roman; FONT-SIZE: 11pt; FONT-STYLE: italic; FONT-WEIGHT: normal
}
.clsItemNavLink {
	COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.clsItemNavLink2 {
	COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.clsItemNavLink2:hover {
	COLOR: #0099ff
}
.clsTextItem {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.clsCopyright {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8pt
}
