<h2 class="text -main-title -light">Events</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, Event),
  createPath: new_event_path
%>

<ul class="items-list">
  <% @events.each do |event| %>
    <%= render 'backend/shared/index_item',
      item: event,
      title: event.title %>
  <% end %>
</ul>
