<h2 class="text -main-title -light">Events</h2>

<div class="buttons-bar">
  <% if can?(:create, Activity) %>
    <%= link_to "Create New", new_event_path, remote: true, class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
  </div>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort"></use>
    </svg>
  </div>
</div>

<ul class="items-list">
  <% @events.each do |event| %>
    <%= render 'backend/shared/index_item',
      item: event,
      title: event.title,
      edit_path: edit_event_path(event),
      delete_path: event_path(event) %>
  <% end %>
</ul>
