<div class="l-items-index">
  <%= render 'events', events: @events %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @event, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      partners: @partners,
      tags: @tags,
      have_picture: @event.background_image_file_name ? true : false,
      picture_url: @event.background_image %>
  <% end %>
</div>
