<div class="c-home-video">
  <div class="c-home-video-veil js-home-video-veil">
    <svg class="icon">
      <use xlink:href="#icon-close"></use>
    </svg>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="-relativize">
        <div class="c-home-video-container js-home-video-container" data-video-id="110577670"></div>
      </div>
    </div>
  </div>
</div>
