<h1>GRID Arendal</h1>

<h2>Latest News</h2>
<section></section>

<h2>Featured Activities</h2>
<section></section>

<h2>Featured Publications</h2>
<section></section>

<h2>Featured Media</h2>
<section></section>

<%= render "users", users: @users %>
