.btn {
  min-width: rem(30px);
  height: rem(30px);
  border: solid 1px $color-1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-1;
  font-size: rem(14px);
  letter-spacing: 0.5px;
  border-radius: 4px;

  &.-dark {
    background-color: $color-1;
    color: $font-color-2;
  }

  &.-light {
    background-color: $color-3;
    color: $font-color-1;
  }

  &.-no-border {
    border: 0
  }
}
