<h2 class="text -main-title -light">Publications</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, Publication),
  createPath: new_publication_path
%>

<ul class="items-list">
  <% publications.each do |publication| %>
    <%= render 'backend/shared/index_item',
      item: publication,
      title: publication.title,
      selected: action_name != "index" && @publication == publication
    %>
  <% end %>
</ul>
