<h2 class="text -main-title -light">Publications</h2>

<%= render 'backend/shared/_index_items_buttons.html',
  havePermissionToCreate: can?(:create, Publication),
  createPath: new_publication_path
%>

<ul class="items-list">
  <% publications.each do |publication| %>
    <%= render 'backend/shared/index_item',
      item: publication,
      title: publication.title,
      make_featured_path: make_featured_publication_path(publication),
      remove_featured_path: remove_featured_publication_path(publication),
      publishn_path: publish_publication_path(publication),
      unpublish_path: unpublish_publication_path(publication),
      edit_path: edit_publication_path(publication),
      delete_path: publication_path(publication) %>
  <% end %>
</ul>
