<h2 class="text -main-title -light">Publications</h2>

<div class="buttons-bar">
  <% if can?(:create, Publication) %>
    <%= link_to "Create New", new_publication_path, class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
  </div>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort"></use>
    </svg>
  </div>
</div>

<ul class="items-list">
  <% publications.each do |publication| %>
    <%= render 'backend/shared/index_item',
      item: publication,
      title: publication.title,
      make_featured_path: make_featured_publication_path(publication),
      remove_featured_path: remove_featured_publication_path(publication),
      publishn_path: publish_publication_path(publication),
      unpublish_path: unpublish_publication_path(publication),
      edit_path: edit_publication_path(publication),
      delete_path: publication_path(publication) %>
  <% end %>
</ul>
