<div class="l-items-index">
  <%= render 'publications', publications: @publications %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @publication, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      users: @users,
      partners: @partners,
      media_contents: @media_contents,
      content_types: @content_types,
      activities: @activities,
      news_articles: @news_articles,
      tags: @tags,
      photos: @photos,
      have_cover_picture: @publication.cover_picture.present?,
      cover_picture_url: @publication.cover_picture,
      have_picture: @publication.s_picture.present?,
      picture_url: @publication.s_picture,
      media_content_id: @publication.media_content_id %>
  <% end %>
</div>
