<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'publications', publications: @publications %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>
