<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'publications', publications: @publications %>
</div>

<div class="l-items-detail">
  <%= render 'form',
    publication: @publication,
    users: @users,
    partners: @partners,
    have_picture: false,
    picture_url: nil %>
</div>
