<div class="l-items-index">
  <%= render 'publications', publications: @publications %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @publication, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      users: @users,
      partners: @partners,
      content_types: @content_types,
      activities: @activities,
      news_articles: @news_articles,
      tags: @tags,
      photos: @photos,
      have_cover_picture: false,
      cover_picture_url: nil,
      have_picture: false,
      picture_url: nil,
      media_content_id: nil%>
  <% end %>
</div>
