BODY {
	BACKGROUND-COLOR: #ffffff; BACKGROUND-IMAGE: url(../images2/background.jpg); BACKGROUND-REPEAT: no-repeat; MARGIN-TOP: 0px
}
A:link {
	COLOR: teal; TEXT-DECORATION: underline; bgcolor: white
}
A:visited {
	COLOR: gray
}
A:active {
	COLOR: silver
}
.title {
	COLOR: #003399; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 13pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.mainbold {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.main {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.white {
	COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.whitebld {
	COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.sub {
	COLOR: #003399; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
.sup {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.hr {
	TEXT-ALIGN: center
}
