P {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt
}
BODY {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt
}
UL {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt
}
TABLE {
	FONT-FAMILY: arial, sans-serif
}
A:link {
	COLOR: #800000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff9933; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #666666; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #cc0033; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
INPUT {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
