<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-logo" viewBox="0 0 100 32">
      <title>logo</title>
      <path class="path1" fill="#ffffff" d="M8.755 14.56c0-2.901 1.476-6.355 6.609-6.355 2.396 0 3.404 0.447 4.917 1.27l-1.351 2.613c-0.991-0.716-1.585-0.985-2.917-0.985-2.055 0-3.314 1.272-3.314 3.366 0 2.185 1.17 3.365 3.115 3.365 0.288 0 0.486-0.017 0.829-0.089v-3.187h3.709v5.299c-1.189 0.447-2.989 0.771-4.736 0.771-4.286 0-6.862-2.596-6.862-6.069zM39.698 15.705v4.602h-3.71v-11.815h4.862c2.521 0 4.736 0.644 4.736 3.616 0 1.164-0.378 2.65-2.322 3.277l3.080 4.922h-4.017l-2.629-4.602zM39.698 11.105v2.56h0.756c0.739 0 1.351-0.34 1.351-1.325 0-0.895-0.594-1.235-1.351-1.235h-0.756zM60.486 20.307h3.711v-11.815h-3.711v11.815zM78.897 20.306v-11.815h5.135c3.692 0 6.609 1.773 6.609 5.873 0 4.081-2.917 5.943-6.628 5.943h-5.115zM82.715 11.176v6.446h1.081c1.963 0 2.953-0.931 2.953-3.295 0-2.363-1.098-3.15-2.953-3.15h-1.081zM29.904 30.125h-1.857l-0.454 1.362h-1.109l2.008-5.515h0.95l2.009 5.515h-1.11l-0.437-1.362zM28.333 29.232h1.285l-0.647-1.998-0.638 1.998zM35.901 29.281h-0.529v2.206h-1.059v-5.514h1.849c0.807 0 1.176 0.1 1.504 0.41 0.302 0.275 0.453 0.676 0.453 1.195 0 0.426-0.1 0.769-0.302 1.036-0.21 0.268-0.403 0.385-0.866 0.51l1.379 2.365h-1.16l-1.27-2.206zM35.372 26.866v1.521h0.689c0.672 0 0.966-0.235 0.966-0.786 0-0.526-0.277-0.735-0.966-0.735h-0.689zM41.311 25.972h3.379v0.894h-2.32v1.362h1.899v0.894h-1.899v1.47h2.429v0.895h-3.488v-5.514zM49.249 27.969c-0.016-0.025-0.049-0.1-0.118-0.217-0.032-0.067-0.058-0.109-0.066-0.116-0.034-0.067-0.052-0.1-0.076-0.193v4.044h-1.009v-5.514h1.22l2.327 3.626c0.009 0.016 0.034 0.058 0.059 0.117 0.025 0.058 0.042 0.091 0.051 0.108l0.049 0.142 0.050 0.1v-4.094h1.001v5.564h-1.109l-2.379-3.567zM58.4 31.486h-2.050v-5.514h2.059c1.051 0 1.706 0.235 2.253 0.811 0.478 0.509 0.747 1.212 0.747 1.929 0 0.735-0.278 1.446-0.765 1.963-0.513 0.544-1.243 0.811-2.244 0.811zM58.298 26.9h-0.839v3.659h0.839c1.262 0 1.968-0.661 1.968-1.839 0-0.627-0.245-1.204-0.639-1.495-0.294-0.217-0.723-0.325-1.328-0.325zM66.919 30.125h-1.858l-0.455 1.362h-1.107l2.008-5.515h0.95l2.010 5.515h-1.109l-0.438-1.362zM65.348 29.232h1.285l-0.647-1.998-0.638 1.998zM71.202 25.972h1.060v4.62h2.269v0.895h-3.329v-5.514zM29.236 14.539c0 1.59-1.295 2.877-2.893 2.877v-5.751c1.598 0 2.893 1.286 2.893 2.874zM54.65 14.539c0 1.59-1.294 2.877-2.894 2.877v-5.751c1.599 0 2.894 1.286 2.894 2.874zM73.009 14.539c0 1.59-1.295 2.877-2.894 2.877v-5.751c1.599 0 2.894 1.286 2.894 2.874zM9.68 29.181c-5.344 0-9.677-4.307-9.677-9.622l-0.003-9.935c0-5.314 4.333-9.621 9.679-9.621h44.861l-0.009 1.026h-43.819c-6.029 0-9.679 3.67-9.679 9.62l0.002 7.884c0 6.039 3.656 9.622 9.679 9.622h12.519v1.025h-13.551zM90.466 29.179c5.348 0 9.682-4.307 9.682-9.622l-0.008-9.935c0-5.315-4.333-9.623-9.68-9.623h-20.309v1.026h19.276c6.192 0 9.68 3.691 9.68 9.622l0.009 7.884c0 6.035-3.536 9.622-9.681 9.622h-11.65l-0.006 1.025h12.686zM60.522 3.327h3.63v-3.321h-3.63v3.321z"></path>
    </symbol>
    <symbol id="icon-arrow_down" viewBox="0 0 32 32">
      <title>arrow_down</title>
      <path class="path1" fill="#fff" opacity="0.5" d="M-0.050 9.55h32.1l-16.050 16.050z"></path>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 32 32">
      <title>close</title>
      <path class="path1" fill="#003d53" d="M29.969 4.844l-11.156 11.156 11.156 11.156-2.813 2.813-11.156-11.156-11.156 11.156-2.813-2.813 11.156-11.156-11.156-11.156 2.813-2.813 11.156 11.156 11.156-11.156z"></path>
    </symbol>
    <symbol id="icon-delete" viewBox="0 0 32 32">
      <title>delete</title>
      <path class="path1" d="M26.865 3.531v3.135h-21.729v-3.135h5.396l1.604-1.531h7.729l1.604 1.531h5.396zM6.667 8.198h18.667v18.667c0 0.826-0.316 1.556-0.948 2.188s-1.361 0.948-2.188 0.948h-12.396c-0.826 0-1.556-0.316-2.188-0.948s-0.948-1.361-0.948-2.188v-18.667z"></path>
    </symbol>
    <symbol id="icon-edit" viewBox="0 0 32 32">
      <title>edit</title>
      <path class="path1" fill="#003d53" d="M26.719 11.115l-5.833-5.833 2.844-2.844c0.292-0.292 0.656-0.438 1.094-0.438s0.802 0.146 1.094 0.438l3.646 3.646c0.292 0.292 0.438 0.656 0.438 1.094s-0.146 0.802-0.438 1.094l-2.844 2.844zM2 24.167l17.208-17.208 5.833 5.833-17.208 17.208h-5.833v-5.833z"></path>
    </symbol>
    <symbol id="icon-editor_bold" viewBox="0 0 32 32">
      <title>editor_bold</title>
      <path class="path1" fill="#fff" d="M27.542 17.371c0.889 0.611 1.611 1.378 2.167 2.302s0.833 2.010 0.833 3.26c0 1.5-0.316 2.767-0.948 3.802s-1.538 1.851-2.719 2.448c-1.25 0.639-2.691 1.090-4.323 1.354s-3.552 0.396-5.76 0.396h-15.354v-1.625c0.431-0.042 0.972-0.104 1.625-0.188s1.111-0.181 1.375-0.292c0.514-0.208 0.865-0.483 1.052-0.823s0.281-0.781 0.281-1.323v-20.833c0-0.5-0.076-0.917-0.229-1.25s-0.521-0.625-1.104-0.875c-0.431-0.181-0.931-0.33-1.5-0.448s-1.069-0.212-1.5-0.281v-1.625h16.063c4.042 0 6.958 0.556 8.75 1.667s2.688 2.75 2.688 4.917c0 1-0.201 1.878-0.604 2.635s-0.979 1.413-1.729 1.969c-0.681 0.514-1.493 0.958-2.438 1.333s-1.958 0.688-3.042 0.938v0.396c1.083 0.111 2.208 0.351 3.375 0.719s2.181 0.844 3.042 1.427v0zM20.833 8.475c0-1.639-0.462-2.917-1.385-3.833s-2.309-1.375-4.156-1.375c-0.264 0-0.608 0.010-1.031 0.031s-0.788 0.038-1.094 0.052v10.958h1.083c2.25 0 3.91-0.524 4.979-1.573s1.604-2.469 1.604-4.26v0zM22.292 22.663c0-2.056-0.611-3.632-1.833-4.729s-2.979-1.646-5.271-1.646c-0.264 0-0.615 0.010-1.052 0.031s-0.76 0.038-0.969 0.052v10.813c0.125 0.514 0.514 0.948 1.167 1.302s1.444 0.531 2.375 0.531c1.653 0 2.997-0.556 4.031-1.667s1.552-2.674 1.552-4.688v0z"></path>
    </symbol>
    <symbol id="icon-editor_H1" viewBox="0 0 32 32">
      <title>editor_H1</title>
      <path class="path1" fill="#fff" d="M0.785 7.215h4.276v7.302h6.545v-7.302h4.305v18.967h-4.305v-7.913h-6.545v7.913h-4.276v-18.967zM20.189 22.72h4.015v-10.676h-3.462v-2.647c1.009-0.194 1.862-0.427 2.56-0.698s1.377-0.601 2.036-0.989h3.142v15.011h3.462v3.462h-11.753v-3.462z"></path>
    </symbol>
    <symbol id="icon-editor_H2" viewBox="0 0 32 32">
      <title>editor_H2</title>
      <path class="path1" fill="#fff" d="M0.751 7.597h4.090v6.984h6.261v-6.984h4.118v18.143h-4.118v-7.569h-6.261v7.569h-4.090v-18.143zM18.393 23.402c1.132-1.057 2.166-2.045 3.103-2.963s1.744-1.781 2.421-2.588c0.677-0.807 1.206-1.558 1.586-2.254s0.57-1.359 0.57-1.99c0-0.872-0.223-1.535-0.668-1.99s-1.057-0.682-1.837-0.682c-0.649 0-1.224 0.181-1.725 0.543s-0.974 0.784-1.419 1.266l-2.226-2.198c0.872-0.928 1.762-1.628 2.671-2.101s1.994-0.71 3.256-0.71c0.872 0 1.665 0.135 2.379 0.403s1.331 0.649 1.85 1.141c0.519 0.492 0.918 1.081 1.197 1.767s0.417 1.456 0.417 2.31c0 0.742-0.158 1.498-0.473 2.268s-0.737 1.54-1.266 2.31c-0.529 0.77-1.132 1.54-1.809 2.31s-1.377 1.526-2.101 2.268c0.445-0.056 0.941-0.107 1.489-0.153s1.034-0.070 1.461-0.070h3.562v3.45h-12.438v-2.337z"></path>
    </symbol>
    <symbol id="icon-editor_italic" viewBox="0 0 32 32">
      <title>editor_italic</title>
      <path class="path1" fill="#fff" d="M19.762 27.871l-0.293 1.25c-1.198 0.482-2.155 0.817-2.871 1.006s-1.328 0.283-1.836 0.283c-1.042 0-1.823-0.27-2.344-0.811s-0.781-1.208-0.781-2.002c0-0.299 0.026-0.612 0.078-0.938s0.137-0.736 0.254-1.23l2.070-8.301c0.104-0.456 0.205-0.944 0.303-1.465s0.146-0.964 0.146-1.328c0-0.729-0.12-1.214-0.361-1.455s-0.732-0.361-1.475-0.361c-0.286 0-0.667 0.046-1.143 0.137s-0.837 0.169-1.084 0.234l0.293-1.25c1.016-0.456 1.927-0.794 2.734-1.016s1.445-0.332 1.914-0.332c1.068 0 1.842 0.254 2.324 0.762s0.723 1.191 0.723 2.051c0 0.234-0.026 0.553-0.078 0.957s-0.13 0.807-0.234 1.211l-2.090 8.301c-0.13 0.508-0.244 1.006-0.342 1.494s-0.146 0.889-0.146 1.201c0 0.742 0.166 1.25 0.498 1.523s0.869 0.41 1.611 0.41c0.247 0 0.602-0.033 1.064-0.098s0.817-0.143 1.064-0.234v0zM21.148 2.91c0 0.742-0.241 1.39-0.723 1.943s-1.081 0.83-1.797 0.83c-0.664 0-1.237-0.264-1.719-0.791s-0.723-1.13-0.723-1.807c0-0.716 0.241-1.341 0.723-1.875s1.055-0.801 1.719-0.801c0.742 0 1.348 0.251 1.816 0.752s0.703 1.084 0.703 1.748v0z"></path>
    </symbol>
    <symbol id="icon-editor_link" viewBox="0 0 32 32">
      <title>editor_link</title>
      <path class="path1" fill="#fff" d="M21.61 0.712c2.455 0.020 4.547 0.894 6.276 2.622s2.603 3.82 2.622 6.276c0.020 2.455-0.835 4.547-2.563 6.276l-5.068 5.068-2.416-2.416 5.068-5.068c1.061-1.061 1.591-2.357 1.591-3.889s-0.53-2.828-1.591-3.889c-1.061-1.061-2.357-1.591-3.889-1.591s-2.828 0.53-3.889 1.591l-5.068 5.068-2.416-2.416 5.068-5.068c1.728-1.728 3.82-2.583 6.276-2.563zM9.089 19.657l10.017-10.017 2.475 2.475-10.017 10.017-2.475-2.475zM12.919 26.079l5.068-5.068 2.416 2.416-5.068 5.068c-1.729 1.729-3.82 2.583-6.276 2.563s-4.547-0.894-6.276-2.622c-1.728-1.729-2.603-3.82-2.622-6.276s0.835-4.547 2.563-6.276l5.068-5.068 2.416 2.416-5.068 5.068c-1.061 1.061-1.591 2.357-1.591 3.889s0.53 2.828 1.591 3.889c1.061 1.061 2.357 1.591 3.889 1.591s2.828-0.53 3.889-1.591z"></path>
    </symbol>
    <symbol id="icon-editor_quote" viewBox="0 0 32 32">
      <title>editor_quote</title>
      <path class="path1" fill="#fff" d="M12.729 7.538c-2.133 1.090-3.733 2.335-4.8 3.733s-1.6 3.164-1.6 5.298c0.142-0.047 0.379-0.071 0.711-0.071 1.517 0 2.809 0.462 3.876 1.387s1.6 2.193 1.6 3.804c0 1.802-0.521 3.224-1.564 4.267s-2.347 1.564-3.911 1.564c-2.228 0-3.899-0.818-5.013-2.453s-1.671-3.923-1.671-6.862c0-3.366 0.83-6.329 2.489-8.889s4.196-4.67 7.609-6.329l2.276 4.551zM29.511 7.538c-2.133 1.090-3.733 2.335-4.8 3.733s-1.6 3.164-1.6 5.298c0.142-0.047 0.379-0.071 0.711-0.071 1.517 0 2.809 0.462 3.876 1.387s1.6 2.193 1.6 3.804c0 1.802-0.521 3.224-1.564 4.267s-2.347 1.564-3.911 1.564c-2.228 0-3.899-0.818-5.013-2.453s-1.671-3.923-1.671-6.862c0-3.366 0.83-6.329 2.489-8.889s4.196-4.67 7.609-6.329l2.276 4.551z"></path>
    </symbol>
    <symbol id="icon-editor_underline" viewBox="0 0 32 32">
      <title>editor_underline</title>
      <path class="path1" fill="#fff" d="M29.401 26.198l-8.359 0.573-0.391-0.365v-3.255h-0.156c-0.417 0.434-0.885 0.898-1.406 1.393s-1.12 0.942-1.797 1.341c-0.781 0.469-1.536 0.825-2.266 1.068s-1.762 0.365-3.099 0.365c-2.274 0-4.006-0.742-5.195-2.227s-1.784-3.641-1.784-6.471v-12.292c0-0.625-0.117-1.15-0.352-1.576s-0.577-0.794-1.029-1.107c-0.313-0.208-0.703-0.36-1.172-0.456s-0.964-0.161-1.484-0.195v-1.693l8.568-0.625 0.391 0.365v17.839c0 1.858 0.417 3.255 1.25 4.193s1.832 1.406 2.995 1.406c0.955 0 1.806-0.148 2.552-0.443s1.372-0.642 1.875-1.042c0.469-0.365 0.881-0.751 1.237-1.159s0.629-0.786 0.82-1.133v-14.557c0-0.573-0.122-1.081-0.365-1.523s-0.582-0.82-1.016-1.133c-0.313-0.208-0.777-0.334-1.393-0.378s-1.306-0.082-2.070-0.117v-1.693l9.323-0.625 0.391 0.365v20.391c0 0.59 0.122 1.094 0.365 1.51s0.582 0.773 1.016 1.068c0.313 0.191 0.686 0.317 1.12 0.378s0.911 0.1 1.432 0.117v1.693zM2.667 29.333h26.667v2.667h-26.667v-2.667z"></path>
    </symbol>
    <symbol id="icon-fullscreen" viewBox="0 0 32 32">
      <title>fullscreen</title>
      <path class="path1" fill="#fff" d="M20.607 0.036h11.357v11.357h-4.5v-6.857h-6.857v-4.5zM4.536 20.607v6.857h6.857v4.5h-11.357v-11.357h4.5z"></path>
    </symbol>
    <symbol id="icon-img" viewBox="0 0 32 32">
      <title>img</title>
      <path class="path1" fill="#003d53" opacity="0.5" d="M9.75 18.667l-6.167 8h24.833l-8-10.667-6.167 8-4.5-5.333zM32 28.417c0 0.944-0.361 1.778-1.083 2.5s-1.556 1.083-2.5 1.083h-24.833c-0.944 0-1.778-0.361-2.5-1.083s-1.083-1.556-1.083-2.5v-24.833c0-0.944 0.361-1.778 1.083-2.5s1.556-1.083 2.5-1.083h24.833c0.944 0 1.778 0.361 2.5 1.083s1.083 1.556 1.083 2.5v24.833z"></path>
    </symbol>
    <symbol id="icon-row_dragger" viewBox="0 0 32 32">
      <title>row_dragger</title>
      <path class="path1" fill="#fff" d="M9.6 12.8c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
      <path class="path2" fill="#fff" d="M22.4 12.8c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
      <path class="path3" fill="#fff" d="M9.6 0c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
      <path class="path4" fill="#fff" d="M22.4 0c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
      <path class="path5" fill="#fff" d="M9.6 25.6c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
      <path class="path6" fill="#fff" d="M22.4 25.6c1.767 0 3.2 1.433 3.2 3.2s-1.433 3.2-3.2 3.2c-1.767 0-3.2-1.433-3.2-3.2s1.433-3.2 3.2-3.2z"></path>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 32 32">
      <title>search</title>
      <path class="path1" d="M17.205 17.205c1.5-1.5 2.25-3.321 2.25-5.464s-0.75-3.964-2.25-5.464c-1.5-1.5-3.321-2.25-5.464-2.25s-3.964 0.75-5.464 2.25c-1.5 1.5-2.25 3.321-2.25 5.464s0.75 3.964 2.25 5.464c1.5 1.5 3.321 2.25 5.464 2.25s3.964-0.75 5.464-2.25zM22.027 19.455l8.518 8.518-2.571 2.571-8.518-8.518v-1.366l-0.482-0.482c-2.036 1.768-4.446 2.652-7.232 2.652-3.107 0-5.746-1.071-7.915-3.214s-3.254-4.768-3.254-7.875c0-3.107 1.085-5.746 3.254-7.915s4.808-3.254 7.915-3.254c3.107 0 5.732 1.085 7.875 3.254s3.214 4.808 3.214 7.915c0 2.786-0.884 5.196-2.652 7.232l0.482 0.482h1.366z"></path>
    </symbol>
    <symbol id="icon-sort" viewBox="0 0 32 32">
      <title>sort</title>
      <path class="path1" d="M0.571 17.688v-3.375h20.571v3.375h-20.571zM0.571 5.714h30.857v3.455h-30.857v-3.455zM0.571 26.286v-3.455h10.286v3.455h-10.286z"></path>
    </symbol>
    <symbol id="icon-star_outline" viewBox="0 0 32 32">
      <title>star_outline</title>
      <path class="path1" fill="#fff" d="M16 21.323l5.833 3.5-1.531-6.635 5.177-4.521-6.854-0.583-2.625-6.271-2.625 6.271-6.854 0.583 5.177 4.521-1.531 6.635 5.833-3.5zM31.531 11.698l-8.458 7.365 2.552 10.938-9.625-5.833-9.625 5.833 2.552-10.938-8.458-7.365 11.156-0.948 4.375-10.281 4.375 10.281 11.156 0.948z"></path>
    </symbol>
    <symbol id="icon-star" viewBox="0 0 32 32">
      <title>star</title>
      <path class="path1" fill="#fff" d="M16 24.167l-9.625 5.833 2.552-10.938-8.458-7.365 11.156-0.948 4.375-10.281 4.375 10.281 11.156 0.948-8.458 7.365 2.552 10.938z"></path>
    </symbol>
    <symbol id="icon-user_avatar" viewBox="0 0 32 32">
      <title>user_avatar</title>
      <path class="path1" fill="#003d53" d="M25 21.977c-0.047-1.313-1.102-2.414-3.164-3.305s-4.008-1.336-5.836-1.336c-1.828 0-3.773 0.434-5.836 1.301s-3.117 1.98-3.164 3.34c2.203 3.234 5.203 4.852 9 4.852s6.797-1.617 9-4.852zM12.836 6.859c-0.891 0.891-1.336 1.945-1.336 3.164s0.445 2.273 1.336 3.164c0.891 0.891 1.945 1.336 3.164 1.336s2.273-0.445 3.164-1.336c0.891-0.891 1.336-1.945 1.336-3.164s-0.445-2.273-1.336-3.164c-0.891-0.891-1.945-1.336-3.164-1.336s-2.273 0.445-3.164 1.336zM26.582 5.418c2.93 2.93 4.395 6.457 4.395 10.582s-1.465 7.652-4.395 10.582c-2.93 2.93-6.457 4.395-10.582 4.395s-7.652-1.465-10.582-4.395c-2.93-2.93-4.395-6.457-4.395-10.582s1.465-7.652 4.395-10.582c2.93-2.93 6.457-4.395 10.582-4.395s7.652 1.465 10.582 4.395z"></path>
    </symbol>
    <symbol id="icon-visibility_off" viewBox="0 0 32 32">
      <title>visibility_off</title>
      <path class="path1" fill="#fff" d="M15.813 12h0.188c1.083 0 2.021 0.396 2.813 1.188s1.188 1.729 1.188 2.813v0.25l-4.188-4.25zM10.063 13.063c-0.5 1-0.75 1.979-0.75 2.938 0 1.833 0.656 3.406 1.969 4.719s2.885 1.969 4.719 1.969c0.958 0 1.938-0.25 2.938-0.75l-2.063-2.063c-0.333 0.083-0.625 0.125-0.875 0.125-1.083 0-2.021-0.396-2.813-1.188s-1.188-1.729-1.188-2.813c0-0.25 0.042-0.542 0.125-0.875l-2.063-2.063zM4.375 4l23.625 23.625-1.688 1.688c-0.208-0.208-0.865-0.854-1.969-1.938s-1.948-1.917-2.531-2.5c-1.792 0.75-3.729 1.125-5.813 1.125-3.292 0-6.271-0.917-8.938-2.75s-4.583-4.25-5.75-7.25c1.042-2.583 2.708-4.792 5-6.625-0.5-0.5-1.198-1.208-2.094-2.125s-1.406-1.438-1.531-1.563l1.688-1.688zM13.563 9.813l-2.875-2.875c1.625-0.625 3.396-0.938 5.313-0.938 3.292 0 6.26 0.917 8.906 2.75s4.552 4.25 5.719 7.25c-1 2.458-2.521 4.563-4.563 6.313l-3.875-3.875c0.333-0.792 0.5-1.604 0.5-2.438 0-1.833-0.656-3.406-1.969-4.719s-2.885-1.969-4.719-1.969c-0.833 0-1.646 0.167-2.438 0.5z"></path>
    </symbol>
    <symbol id="icon-visibility" viewBox="0 0 32 32">
      <title>visibility</title>
      <path class="path1" fill="#fff" d="M18.813 13.188c0.792 0.792 1.188 1.729 1.188 2.813s-0.396 2.021-1.188 2.813c-0.792 0.792-1.729 1.188-2.813 1.188s-2.021-0.396-2.813-1.188c-0.792-0.792-1.188-1.729-1.188-2.813s0.396-2.021 1.188-2.813c0.792-0.792 1.729-1.188 2.813-1.188s2.021 0.396 2.813 1.188zM20.719 20.719c1.313-1.313 1.969-2.885 1.969-4.719s-0.656-3.406-1.969-4.719c-1.313-1.313-2.885-1.969-4.719-1.969s-3.406 0.656-4.719 1.969c-1.313 1.313-1.969 2.885-1.969 4.719s0.656 3.406 1.969 4.719c1.313 1.313 2.885 1.969 4.719 1.969s3.406-0.656 4.719-1.969zM24.938 8.75c2.667 1.833 4.583 4.25 5.75 7.25-1.167 3-3.083 5.417-5.75 7.25s-5.646 2.75-8.938 2.75c-3.292 0-6.271-0.917-8.938-2.75s-4.583-4.25-5.75-7.25c1.167-3 3.083-5.417 5.75-7.25s5.646-2.75 8.938-2.75c3.292 0 6.271 0.917 8.938 2.75z"></path>
    </symbol>
    <symbol id="icon-rrss-flickr" viewBox="0 0 32 32">
      <title>rrss-flickr</title>
      <path class="path1" fill="#fff" d="M0 16v0c0-8.837 7.163-16 16-16s16 7.163 16 16c0 8.837-7.163 16-16 16s-16-7.163-16-16zM1.92 16c0 7.776 6.304 14.080 14.080 14.080s14.080-6.304 14.080-14.080c0-7.776-6.304-14.080-14.080-14.080s-14.080 6.304-14.080 14.080v0zM7.040 15.612c0 2.26 1.835 4.092 4.098 4.092s4.098-1.832 4.098-4.092c0-2.26-1.835-4.092-4.098-4.092s-4.098 1.832-4.098 4.092v0zM21.378 19.704c2.263 0 4.098-1.832 4.098-4.092s-1.835-4.092-4.098-4.092-4.098 1.832-4.098 4.092c0 2.26 1.835 4.092 4.098 4.092v0zM21.373 12.779c1.564 0 2.833 1.268 2.833 2.833s-1.268 2.833-2.833 2.833c-1.564 0-2.833-1.268-2.833-2.833s1.268-2.833 2.833-2.833v0z"></path>
    </symbol>
  </defs>
</svg>
