<div class="buttons-bar">
  <% if havePermissionToCreate %>
    <%= link_to "Create New", createPath, class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <%= render 'backend/shared/index_items_search_and_filter' %>
</div>
