<div class="btn js-index-searcher-button">
  <svg class="icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
  </svg>
</div>
<div class="searcher js-index-searcher" <% if @search.present? %>style="display: block;"<% end %>>
  <input type="text" placeholder="Search" value="<%= @search %>" class="text -plain-text -dark js-index-searcher-input">
  <svg class="icon js-index-searcher-close">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
  </svg>
</div>
<% if ['activities', 'publications', 'vacancies'].include?(controller_name) %>
  <div class="btn js-index-filter <% if params[:visibility_off].present? %>-selected<% end %>" data-key="visibility_off">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-visibility_off"></use>
    </svg>
  </div>
<% end %>
<% if ['activities', 'publications', 'albums', 'collections', 'video_collections', 'videos'].include?(controller_name) %>
  <div class="btn js-index-filter <% if params[:featured].present? %>-selected<% end %>" data-key="featured">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
    </svg>
  </div>
<% end %>
