<%
phrases = {
  "default" => [
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "Aliquam varius bibendum aliquet.",
    "Phasellus tincidunt porttitor tincidunt.",
    "Suspendisse condimentum luctus arcu id tincidunt."
  ],
  "activities" => [
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "Aliquam varius bibendum aliquet.",
    "Phasellus tincidunt porttitor tincidunt.",
    "Suspendisse condimentum luctus arcu id tincidunt."
  ],
  "publications" => [
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "Aliquam varius bibendum aliquet.",
    "Phasellus tincidunt porttitor tincidunt.",
    "Suspendisse condimentum luctus arcu id tincidunt."
  ],
  "users" => [
    "Users without a Position Category won't show on the About Page",
    "Users that have Position Category of Board Member, will show in the section Board of the About Page",
    "Users that have Position Category of Honorary Affiliate, will show in that section of the About Page",
    "Users set as Admin can log into this back office",
    "Remember to specify two pictures for each users, one for the About page and the other one for the profile page"
  ]
}
current_phrases = phrases[controller_name].present? ? phrases[controller_name] : phrases['default']
%>

<div class="c-phrases">
  <% current_phrases.each do |phrase| %>
    <div class="item text -main-title -dark"><%= phrase %></div>
  <% end %>
</div>
