BODY {
	FONT-FAMILY: Times, serif
}
H1 {
	FONT-FAMILY: Times, serif
}
H2 {
	FONT-FAMILY: Times, serif
}
H3 {
	FONT-FAMILY: Times, serif
}
H4 {
	FONT-FAMILY: Times, serif
}
H5 {
	FONT-FAMILY: Times, serif
}
P {
	FONT-FAMILY: Times, serif
}
LI {
	FONT-FAMILY: Times, serif
}
UL {
	FONT-FAMILY: Times, serif
}
HR {
	COLOR: #003366
}
