<div class="filter -type-tags <%= js_trigger %>">
  <div class="type text -filter-title"><%= title %></div>
  <span class="speaker">
    <span class="text -filter"><%= placeholder %></span>
    <svg class="icon">
      <use xlink:href="#icon-dropdown_arrow_down"></use>
    </svg>
  </span>
  <div class="dropdown">
    <div class="type text -filter-title"><%= title %></div>
    <svg class="icon js-tags-select-closer">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dropdown_arrow_down"></use>
    </svg>
    <ul class="list">
      <li class="text -filter" data-value="Adaptation">Adaptation (46)</li>
      <li class="text -filter" data-value="Agricultural land">Agricultural land (46)</li>
      <li class="text -filter" data-value="Agriculture">Agriculture (66)</li>
      <li class="text -filter" data-value="Alaska">Alaska (94)</li>
      <li class="text -filter" data-value="Antarctica">Antarctica (154)</li>
      <li class="text -filter" data-value="Arctic">Arctic (1249)</li>
      <li class="text -filter" data-value="Australia">Australia (46)</li>
      <li class="text -filter" data-value="Biodiversity">Biodiversity (2133)</li>
      <li class="text -filter" data-value="Birds">Birds (575)</li>
      <li class="text -filter" data-value="Blue Carbon">Blue Carbon (113)</li>
      <li class="text -filter" data-value="Canada">Canada (114)</li>
      <li class="text -filter" data-value="Climate Change">Climate Change (333)</li>
      <li class="text -filter" data-value="Coastal Ecosystems">Coastal Ecosystems (564)</li>
      <li class="text -filter" data-value="Conservation">Conservation (312)</li>
      <li class="text -filter" data-value="Democratic Republic of Congo">Democratic Republic of Congo (46)</li>
      <li class="text -filter" data-value="Desert">Desert (85)</li>
      <li class="text -filter" data-value="Ecosystem">Ecosystem (77)</li>
      <li class="text -filter" data-value="Ecuador">Ecuador (92)</li>
      <li class="text -filter" data-value="Environmental Policy">Environmental Policy (59)</li>
      <li class="text -filter" data-value="Fauna">Fauna (384)</li>
      <li class="text -filter" data-value="Fish">Fish (60)</li>
      <li class="text -filter" data-value="Fishing">Fishing (124)</li>
      <li class="text -filter" data-value="Flora">Flora (348)</li>
      <li class="text -filter" data-value="Forest">Forest (500)</li>
      <li class="text -filter" data-value="Forestry">Forestry (53)</li>
      <li class="text -filter" data-value="Freshwater">Freshwater (70)</li>
      <li class="text -filter" data-value="Geology">Geology (129)</li>
      <li class="text -filter" data-value="Germany">Germany (197)</li>
      <li class="text -filter" data-value="Glaciers">Glaciers (149)</li>
      <li class="text -filter" data-value="Greenland">Greenland (288)</li>
      <li class="text -filter" data-value="Habitat">Habitat (91)</li>
      <li class="text -filter" data-value="Himalayas">Himalayas (115)</li>
      <li class="text -filter" data-value="Icebergs">Icebergs (92)</li>
      <li class="text -filter" data-value="Iceland">Iceland (97)</li>
      <li class="text -filter" data-value="Indian Ocean">Indian Ocean (48)</li>
      <li class="text -filter" data-value="Indigenous Peoples">Indigenous Peoples (75)</li>
      <li class="text -filter" data-value="Industry">Industry (112)</li>
      <li class="text -filter" data-value="Insects">Insects (59)</li>
      <li class="text -filter" data-value="Invertebrates">Invertebrates (45)</li>
      <li class="text -filter" data-value="Kenya">Kenya (225)</li>
      <li class="text -filter" data-value="Lakes">Lakes (70)</li>
      <li class="text -filter" data-value="Land use">Land use (107)</li>
      <li class="text -filter" data-value="Madagascar">Madagascar (46)</li>
      <li class="text -filter" data-value="Mammals">Mammals (316)</li>
      <li class="text -filter" data-value="Management">Management (78)</li>
      <li class="text -filter" data-value="Mangrove">Mangrove (62)</li>
      <li class="text -filter" data-value="Marine Environment">Marine Environment (771)</li>
      <li class="text -filter" data-value="Mining">Mining (48)</li>
      <li class="text -filter" data-value="Mountain">Mountain (249)</li>
      <li class="text -filter" data-value="Namibia">Namibia (61)</li>
      <li class="text -filter" data-value="National park">National park (1052)</li>
      <li class="text -filter" data-value="Nepal">Nepal (122)</li>
      <li class="text -filter" data-value="Norway">Norway (471)</li>
      <li class="text -filter" data-value="Oil and Gas">Oil and Gas (62)</li>
      <li class="text -filter" data-value="People and places">People and places (260)</li>
      <li class="text -filter" data-value="Permafrost">Permafrost (74)</li>
      <li class="text -filter" data-value="Pollution">Pollution (49)</li>
      <li class="text -filter" data-value="Protected areas">Protected areas (1023)</li>
      <li class="text -filter" data-value="Research">Research (52)</li>
      <li class="text -filter" data-value="River">River (216)</li>
      <li class="text -filter" data-value="Russia">Russia (481)</li>
      <li class="text -filter" data-value="Sea">Sea (155)</li>
      <li class="text -filter" data-value="Sea Ice">Sea Ice (199)</li>
      <li class="text -filter" data-value="Sea Level Rise">Sea Level Rise (99)</li>
      <li class="text -filter" data-value="Shipping">Shipping (56)</li>
      <li class="text -filter" data-value="South Africa">South Africa (115)</li>
      <li class="text -filter" data-value="South Korea">South Korea (57)</li>
      <li class="text -filter" data-value="Species">Species (77)</li>
      <li class="text -filter" data-value="Sustainable Development">Sustainable Development (55)</li>
      <li class="text -filter" data-value="Svalbard">Svalbard (174)</li>
      <li class="text -filter" data-value="Tanzania">Tanzania (49)</li>
      <li class="text -filter" data-value="Thailand">Thailand (100)</li>
      <li class="text -filter" data-value="Tourism">Tourism (753)</li>
      <li class="text -filter" data-value="Traditional Culture">Traditional Culture (113)</li>
      <li class="text -filter" data-value="Tropical forest">Tropical forest (119)</li>
      <li class="text -filter" data-value="Turkey">Turkey (69)</li>
      <li class="text -filter" data-value="USA">USA (177)</li>
      <li class="text -filter" data-value="Volcano">Volcano (46)</li>
      <li class="text -filter" data-value="Water">Water (75)</li>
      <li class="text -filter" data-value="Wetlands">Wetlands (325)</li>
      <li class="text -filter" data-value="Wildlife">Wildlife (318)</li>
    </ul>
  </div>
</div>
