<div class="filter -type-years <%= js_trigger %>">
  <ul class="list">
    <% years.each do |year| %>
      <li class="text -filter-year" data-value="<%= year %>"><%= year %></li>
    <% end %>
  </ul>
</div>
