<div class="l-header-home -error">
  <div class="overlay"></div>
  <div class="header-slider"></div>
  <%= render 'shared/menu' %>
  <div class="text -nothing-to-see no-results">
    The page you were looking for doesn't exist <img src="<%= asset_url('monete.png') %>" width="32" height="32" class="icon"/>
  </div>
</div>
