BODY {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: small
}
A:hover {
	COLOR: #ff0000
}
H2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: large
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: small
}
