$index-horizontal-padding: rem(12px);
$items-height: rem(60px);
$items-border: rem(1px) solid rgba($white, 0.2);

.l-items-index {

  h2 {
    padding: rem(15px) 0 0 $index-horizontal-padding;
  }

  .tabs {
    font-size: 0;
    height: rem(120px);
    background-color: #15516a;

    .tab {
      display: inline-block;
      width: 50%;
      height: 50%;
      padding: rem(15px) 0 0 rem(12px);
      opacity: 0.3;
      cursor: pointer;

      &.-selected {
        background-color: $color-2;
        opacity: 1;
      }
    }
  }

  .buttons-bar {
    width: 100%;
    height: rem(30px);
    padding-left: $index-horizontal-padding;
    margin-top: rem(13px);

    .btn {
      float: right;
      margin-right: $index-horizontal-padding;
      border-color: rgba($white, 0.5);

      &.-create-new {
        float: left;
        padding: 0 rem(11px);
      }

      .icon {
        width: rem(14px);
        height: rem(14px);
        fill: $white;
        opacity: 0.5;
      }
    }
  }

  .tabs-content {
    display: none;

    &.-selected {
      display: block;
    }
  }

  .items-list {
    height: calc(100% - #{rem(133px)});
    margin-top: rem(25px);
    overflow: auto;
  }
}
