$index-horizontal-padding: rem(12px);
$items-height: rem(60px);
$items-border: rem(1px) solid rgba($white, 0.2);

.l-items-index {

  h2 {
    padding: rem(15px) 0 0 $index-horizontal-padding;
  }

  .buttons-bar {
    width: 100%;
    height: rem(30px);
    padding-left: $index-horizontal-padding;
    margin-top: rem(13px);

    .btn {
      float: right;
      margin-right: $index-horizontal-padding;
      border-color: rgba($white, 0.5);

      &.-create-new {
        float: left;
        padding: 0 rem(11px);
      }

      .icon {
        width: rem(14px);
        height: rem(14px);
      }
    }
  }

  .items-list {
    height: calc(100% - #{rem(133px)});
    margin-top: rem(25px);
    overflow: auto;


    li {
      position: relative;
      display: flex;
      align-items: center;
      height: $items-height;
      padding: 0 rem(95px) 0 rem(30px);
      cursor: pointer;
      border-bottom: $items-border;
      overflow: hidden;

      .dragger {
        position: absolute;
        left: rem(10px);

        .icon {
          width: rem(10px);
          height: rem(10px);
        }
      }

      .-index-item {
        color: $font-color-2;
      }

      .options {
        position: absolute;
        right: rem(9px);

        a {
          margin-left: rem(5px);

          .icon {
            width: rem(12px);
            height: rem(12px);
            opacity: 0.3;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &:first-child {
        height: $items-height + rem(1px);
        border-top: $items-border;
      }

      &:hover,
      &.-selected {
        background-color: rgba($white, 0.2);
      }

      &.-selected {

        .-edit {

          .icon {
            opacity: 1;
          }
        }
      }

      &.blocked {
        cursor: default;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: repeating-linear-gradient(-45deg, transparent, rgba(255, 255, 255, .2) rem(1px), transparent rem(2px), transparent rem(5px));
          z-index: 1;
        }
      }
    }
  }
}
