.l-items-detail {

  form {

    .form_header {
      position: relative;
      padding: rem(15px) rem(240px) rem(15px) rem(19px);
      border-bottom: rem(1px) solid rgba($color-1, 0.2);

      .activity_title {

        input {
          width: 100%;
          padding: 0;
          border: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .actions {
        position: absolute;
        top: 0;
        bottom: 0;
        right: rem(20px);
        height: rem(30px);
        margin: auto;

        .btn {
          float: right;
          width: rem(100px);
          margin-left: rem(10px);
        }
      }
    }

    .fields {
      padding: 0 rem(75px);

      .field {
        position: relative;
        margin-top: rem(35px);

        .textarea {
          width: 100%;

          padding: rem(8px) rem(9px);
          border: solid rem(1px) rgba($black, 0.2);
          border-radius: 0;
          resize: none;
          outline: 0;
          overflow: auto;

          &:not(.medium-editor-hidden) {
            display: block;
          }

          &.-size-s {
            height: rem(60px);
          }

          &.-size-l {
            height: rem(260px);
          }
        }

        .options {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}
