$header-width: 15%;
$index-width: 25%;
$item-detail-width: 60%;
$headerPlusIndex: 40%;

.l-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $header-width;
  background-color: $color-1;
}

.l-items-index {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $header-width;
  width: $index-width;
  background-color: $color-2;
}

.l-items-detail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $headerPlusIndex;
  width: $item-detail-width;
  background-color: $color-3;
}
