BODY {
	COLOR: #000000; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
TD {
	COLOR: #000000; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
TH {
	COLOR: #000000; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
.rubric {
	BACKGROUND-COLOR: #330099; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navigation {
	COLOR: #000080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.include {
	COLOR: #ffff00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.toolslinks {
	COLOR: #000080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.toolslinks2 {
	COLOR: #000080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.bottom-navigation {
	BACKGROUND-COLOR: #ffffff; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.bottom-separator {
	BACKGROUND-COLOR: #ffffff; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.navigation {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.leftlink {
	COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.rightlink {
	COLOR: #000066; FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.backgroundtoolslinks {
	BACKGROUND-COLOR: #ffffff
}
.backgroundnavigation {
	BACKGROUND-COLOR: #330099
}
.backgroundbanner {
	BACKGROUND-COLOR: #3399cc; COLOR: #ffffff
}
.language {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.languagenolink {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.small {
	FONT-FAMILY: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
.TOPIC {
	COLOR: #ffff00; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 14pt; FONT-STYLE: normal; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
.SUBTOPIC {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
.titlesection {
	COLOR: #3399cc; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 14pt; FONT-STYLE: normal; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
.T1 {
	COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 13pt; FONT-STYLE: normal; FONT-WEIGHT: bold; MARGIN-TOP: 10px
}
.T2 {
	COLOR: #000000; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.T3 {
	COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.T4 {
	COLOR: #000066; FONT-FAMILY: Trebuchet MS; FONT-STYLE: normal; FONT-WEIGHT: bold; Verdana,: 9pt
}
.taille-zero {
	FONT-SIZE: 0px
}
.CL0 {
	COLOR: navy; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.topFold {
	POSITION: relative
}
A:link {
	TEXT-DECORATION: none
}
A:active {
	COLOR: red
}
A:visited {
	TEXT-DECORATION: none
}
SPAN.date {
	COLOR: black; FONT-FAMILY: sans-serif, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
.chapeau {
	COLOR: navy; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
