<%= render 'backend/shared/form/header', form: form,
  inputs: [{value: :title, title_placeholder: 'Vacancy title'}] %>

<div class="fields">
  <%= render 'backend/shared/form/field_textarea', form: form,
    value: :description %>
</div>
