/* Fonts includer */
@mixin font-face($font-family, $font-file, $weight, $style: "normal") {
  @font-face {
    font-family: $font-family;
    // src: url('assets/fonts/' + $font-file + '.eot');
    src: url('assets/fonts/' + $font-file + '.otf'),
         url('assets/fonts/' + $font-file + '.ttf') format("woff2"),
         url('assets/fonts/' + $font-file + '.ttf') format(".svg#" + $font-file),url();
        //  url('assets/fonts/' + $font-file + '.eot?#iefix') format("embedded-opentype"),
        //  url('assets/fonts/' + $font-file + '.woff') format("truetype"),
        //  url('assets/fonts/' + $font-file + '.woff2') format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

// @include font-face("CamptonBold", 'campton-bold', 600);
// @include font-face("CamptonLight", 'campton-light', 300);
// @include font-face("Plantin", 'plantin', 400);
