
/* FONTS */
@import 'https://fonts.googleapis.com/css?family=PT+Serif|Roboto:400,500,700';
$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'PT Serif', serif;

/* SCREENS */
$screen-xs: 320px;
$screen-s: 540px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 2000px;


/* COLORS */
$main-blue: #003d53;
$main-green: #004c02;
$main-brown: #533000;
$black: #000000;
$white: #ffffff;
$dark-white: #eef1f4;
$skull-white: #f8f7f5;
$grey: #f0f5f0;
$veil-grey: #d8d8d8;
$creamy-grey: #f8f7f5;


/* THEME COLORS */
$color-1: $main-blue;
$color-2: $main-green;
$color-3: $main-brown;
$color-4: $veil-grey;


/* FONT COLORS */
$font-color-1: $main-blue;
$font-color-2: $dark-white;
$font-color-3: $grey;
$font-color-4: $skull-white;

/* HOME SLIDE SETTINGS */
$loop-length: 40s;
