/*
 * Here you should find all the types of text
 * for the project.
 *
 * There are some with colors and some without.
 * Those without color can be found with different
 * color along the project and setted with the apropiate
 * class.
 */

.text {
  font-family: $font-family-1;
  color: $color-1;
  line-height: 1.3;

  &.-menu {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
    }
  }

  &.-cta {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: -0.1px;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  &.-title-block {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.4px;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
      line-height: 1.23;
      letter-spacing: 0.3px;
    }
  }

  &.-view-all {
    font-size: 13px;
    opacity: 0.8;
  }

  &.-title-card {
    white-space: normal;
    font-size: 18px;
    line-height: 1.39;
    font-family: $font-family-2;
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 26px;
      font-weight: 600;
      line-height: 1.15;
    }
  }

  &.-title-card-small {
    white-space: normal;
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: 600;
    line-height: 1.39;

    @media screen and (min-width: $screen-m) {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &.-meta {
    font-size: 14px;
    opacity: 0.5;

    @media screen and (min-width: $screen-m) {
      font-size: 12px;
    }
  }

  &.-breadcrumb {
    font-size: 12px;
  }

  &.-summary {
    font-size: 16px;
    opacity: 0.8;
    width: 90%;
    line-height: 1.56;
    white-space: normal;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
      line-height: 1.43;
    }
  }
  &.-summary-alt {
    font-family: $font-family-1;
    font-size: 17px;
    line-height: 1.47;
    color: $font-color-1;
    opacity: 0.8;

    @media screen and (min-width: $screen-m) {
      font-size: 18px;
      line-height: 1.67;
    }

    &.-bold {
      font-weight: 600;
    }

    ul {
      padding-left: rem(40px);
    }

    li {
      list-style-type: disc;
    }
  }

  &.-image-cap {
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 22px;
    }
  }

  &.-related-image-meta {
    font-family: $font-family-1;
    font-size: 12px;
    line-height: 1.33;
    opacity: 0.7;
  }

  &.-author {
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 16px;
    }
  }

  &.-title-single {
    font-size: 26px;
    font-weight: 600;
    font-family: $font-family-2;
  }

  &.-title-single-alt {
    font-size: 26px;
    font-weight: 600;
    font-family: $font-family-2;
    line-height: 1.1;

    @media screen and (min-width: $screen-m) {
      font-size: 36px;
    }
  }

  &.-title-event {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-family-2;
    line-height: 1.1;

    @media screen and (min-width: $screen-m) {
      font-size: 36px;
    }
  }

  &.-body-single {
    font-size: 15px;
    line-height: 1.7;
    opacity: 0.8;

    .-bold {
      font-weight: 700;
    }
  }

  &.-body-single-alt {
    font-size: 17px;
    line-height: 1.7;

    @media screen and (min-width: $screen-m) {
      font-size: 18px;
    }

    ul {
      padding-left: rem(40px);
    }

    li {
      list-style-type: disc;
    }
  }

  &.-title-library {
    font-size: 36px;
    font-weight: 600;
    font-family: $font-family-2;
    line-height: 1.11;

    @media screen and (min-width: $screen-m) {
      font-size: 46px;
      line-height: 1.20;
    }
  }

  &.-title-staff {
    font-size: 36px;
    font-weight: 600;
    font-family: $font-family-2;
    line-height: 1.11;
  }

  &.-contact-staff {
    font-size: 18px;
    font-family: $font-family-1;
    line-height: 1.67;
    opacity: 0.8;
  }

  &.-filter {
    font-size: 20px;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  &.-filter-title {
    font-size: 12px;
    line-height: 0.83;
    letter-spacing: 0.6px;

    @media screen and (min-width: $screen-m) {
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.5px;
    }
  }

  &.-filter-year {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: 0.3px;
    color: $font-color-1;
  }

  &.-filter-staff {
    font-size: 18px;
    line-height: 1.43;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
    }
  }

  &.-read-more {
    font-size: 16px;
  }

  &.-download {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
    }
  }

  &.-sidebar-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
      letter-spacing: 0.3px;
    }
  }

  &.-section-menu {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: 0.3px;
    color: $font-color-4;
  }

  /*
   * COLORS
   */

  &.-light {
    color: $font-color-2;
  }

  &.-light-alt {
    color: $font-color-3;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
