/*
 * Here you should find all the types of text
 * for the project.
 *
 * There are some with colors and some without.
 * Those without color can be found with different
 * color along the project and setted with the apropiate
 * class.
 */

.text {
  font-family: $font-family-1;
  color: $color-1;
  line-height: 1.3;

  &.-menu {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
    }
  }

  &.-cta {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
    }
  }

  &.-title-block {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
    }
  }

  &.-view-all {
    font-size: 13px;
    opacity: 0.8;
  }

  &.-title-card {
    width: 90%;
    white-space: normal;
    word-break: break-word;
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 16px;
    }
  }

  &.-title-card-small {
    font-size: 16px;
    font-family: $font-family-2;
    font-weight: 600;
    white-space: normal;
    word-break: break-word;
  }

  &.-title-card-alt {
    font-size: 18px;
    font-weight: 600;
    font-family: $font-family-2;

    @media screen and (min-width: $screen-m) {
      font-size: 16px;
    }
  }

  &.-meta {
    font-size: 14px;
    opacity: 0.5;

    @media screen and (min-width: $screen-m) {
      font-size: 12px;
    }
  }

  &.-summary {
    font-size: 16px;
    opacity: 0.8;
    width: 90%;
    white-space: normal;
    word-break: break-word;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
    }
  }

  &.-image-cap {
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 22px;
    }
  }

  &.-author {
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 16px;
    }
  }

  &.-title-single {
    font-size: 26px;
    font-weight: 600;
    font-family: $font-family-2;
  }

  &.-title-single-alt {
    font-size: 36px;
    font-weight: 600;
    font-family: $font-family-2;
    line-height: 1.1;
  }

  &.-body-single {
    font-size: 15px;
    line-height: 1.7;
    opacity: 0.8;

    .-bold {
      font-weight: 700;
    }
  }

  &.-body-single-alt {
    font-size: 17px;
    line-height: 1.7;
    opacity: 0.8;

    @media screen and (min-width: $screen-m) {
      font-size: 18px;
    }
  }

  &.-title-library {
    font-size: 46px;
    font-weight: 600;
    font-family: $font-family-2;
  }

  &.-filter {
    font-size: 20px;

    @media screen and (min-width: $screen-m) {
      font-size: 14px;
    }
  }

  &.-filter-title {
    font-size: 12px;
    letter-spacing: 0.5px;

    @media screen and (min-width: $screen-m) {
      font-size: 10px;
    }
  }

  &.-read-more {
    font-size: 16px;
  }

  &.-download {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;

    @media screen and (min-width: $screen-m) {
      font-size: 13px;
    }
  }

  /*
   * COLORS
   */

  &.-light {
    color: $font-color-2;
  }

  &.-light-alt {
    color: $font-color-3;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
