.block {
	TEXT-INDENT: 10em
}
.caption {
	FONT-SIZE: 0.9em; FONT-STYLE: italic; TEXT-ALIGN: right; TEXT-INDENT: 5pt
}
.customize {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.darkborder {
	BORDER-BOTTOM-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-TOP-COLOR: #000000
}
.date {
	COLOR: #000000; FONT-SIZE: 0.9em; TEXT-ALIGN: right
}
.envirotip {
	FONT-STYLE: italic
}
.footer {
	COLOR: #2e8b57; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 0.75em; FONT-STYLE: normal; FONT-WEIGHT: normal
}
.forecast {
	FONT-SIZE: 1.2em
}
.forecast_link {
	COLOR: #ffffff; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.green {
	COLOR: #006600; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; LINE-HEIGHT: 1pt
}
.headline {
	COLOR: #000000; FONT-SIZE: 1.3em; FONT-WEIGHT: bold
}
.masthead {
	COLOR: #ff0000; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; LINE-HEIGHT: 1pt
}
.new {
	COLOR: #ff0000
}
.poll {
	BACKGROUND-COLOR: #ddeedd; TEXT-ALIGN: left
}
.red {
	COLOR: #ff0000; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; LINE-HEIGHT: 1pt
}
.release {
	FONT-STYLE: italic; TEXT-INDENT: -10pt
}
.sections {
	BACKGROUND-COLOR: #ddeedd
}
.sidebar {
	BACKGROUND-COLOR: #eeeebb; TEXT-ALIGN: left
}
.sidebar_title {
	BACKGROUND-COLOR: #335533; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.submenu {
	BACKGROUND-COLOR: #5e91be; FONT-FAMILY: verdana, helvetica, sans-serif; FONT-SIZE: 0.75em; LEFT: 10px; POSITION: absolute; VISIBILITY: hidden; WIDTH: 120px; layer-background-color: #5E91BE
}
.tiny {
	FONT-SIZE: 0.8em
}
.title {
	BACKGROUND-COLOR: #ddeedd; TEXT-ALIGN: center
}
.teal {
	COLOR: #008080
}
.underline {
	TEXT-DECORATION: underline
}
.weekday {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
.wxsidebar {
	BACKGROUND-COLOR: #eeeebb; TEXT-ALIGN: right
}
.underline {
	TEXT-DECORATION: underline
}
A.GLsidemenu {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.8em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.intro {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
B {
	FONT-WEIGHT: bold
}
BLOCKQUOTE {
	TEXT-INDENT: 10em
}
BODY {
	BACKGROUND: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 0.9em; FONT-STYLE: normal; FONT-WEIGHT: normal; MARGIN: 10px 5px 3%
}
EM {
	FONT-STYLE: italic
}
H1 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 1.5em; FONT-WEIGHT: bold
}
H2 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 1.25em; FONT-WEIGHT: bold
}
H3 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
H4 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.9em; FONT-WEIGHT: bold
}
LI {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.9em; FONT-STYLE: normal; FONT-WEIGHT: normal
}
LI.rightside {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.7em; FONT-STYLE: normal; FONT-WEIGHT: normal; MARGIN-LEFT: -20px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
OPTION.GLsidemenu {
	FONT-SIZE: 0.6em
}
P {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.9em; FONT-STYLE: normal; FONT-WEIGHT: normal
}
P.leftside {
	FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
P.rightside {
	FONT-SIZE: 0.7em; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
SELECT.GLsidemenu {
	FONT-SIZE: 0.6em
}
SPAN.GLsidemenu {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.8em; FONT-WEIGHT: bold; azimuth: rad
}
STRONG {
	FONT-WEIGHT: bold
}
TD {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 0.9em; FONT-STYLE: normal; FONT-WEIGHT: normal
}
