A:link {
	COLOR: green; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: green; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:active {
	COLOR: green; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: orange; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
BODY {
	BACKGROUND-COLOR: #ffffff
}
H1 {
	COLOR: green; FONT-FAMILY: Arial; FONT-SIZE: 14pt; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
H2 {
	COLOR: green; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
H3 {
	COLOR: green; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
H4 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
P {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 10pt
}
P.menu1 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
P.menu2 {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 8pt
}
P.add {
	COLOR: green; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 8pt
}
P.member {
	COLOR: white; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
P.title {
	COLOR: #ffffff; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 14pt; TEXT-ALIGN: right
}
P.map {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 8pt
}
UL {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 10pt
}
OL {
	COLOR: #000000; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: 10pt
}
