<h2 class="text -main-title -light">Media Library</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, MediaContent),
  createPath: new_media_content_path(mediable: 'photo')
%>
<ul class="items-list">
  <% media_contents.each do |media_content| %>
    <%= render 'backend/shared/index_item',
      item: media_content,
      title: media_content.title,
      edit_path: edit_media_content_path(media_content, mediable: media_content.mediable_type),
      delete_path: media_content
    %>
  <% end %>
</ul>
