<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render partial: 'media_contents', media_contents: @media_contents %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>
