<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'media_contents', media_contents: @media_contents %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @media_content, html: { class: 'c-form' } do |f| %>
    <%= render 'form',
      form: f,
      have_picture: @media_content.mediable_photo_url.present? ? true : false,
      picture_url: @media_content.mediable_photo_url.present? ? @media_content.mediable_photo_url : nil %>
  <% end %>
</div>
