<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'media_contents', media_contents: @media_contents %>
</div>

<div class="l-items-detail">
  <%= render 'form',
    media_content: @media_content,
    have_picture: false,
    picture_url: nil %>
</div>
