<div class="l-items-index">
  <%= render 'media_contents', media_contents: @media_contents %>
</div>

<div class="l-items-detail">
  <h2>New Media content</h2>

  <%= simple_form_for @media_content do |f| %>
    <%= render 'form', form: f %>
    <div class="actions">
      <%= f.submit do %>
        <button>Create media content</button>
      <% end %>
    </div>
  <% end %>
</div>
