.isobulletindate {
	COLOR: #ff0000; FONT-FAMILY: "Times New Roman", Times, serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.isobulletintitle {
	COLOR: #0000ff; FONT-FAMILY: "Times New Roman", Times, serif; FONT-SIZE: large; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.isobulletinauthor {
	FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: italic
}
.commentcontent {
	FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: normal
}
.NewsContent {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.NewsIntroduction {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.NewsRefNo {
	FONT-FAMILY: "Times New Roman", Times, serif; FONT-WEIGHT: bold
}
.NewsRefDate {
	FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: normal; FONT-WEIGHT: bold
}
.NewsRefDateList {
	FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: normal; FONT-WEIGHT: normal
}
.NewsTitle {
	COLOR: #ff0000; FONT-FAMILY: "Times New Roman", Times, serif; FONT-SIZE: 20px; FONT-STYLE: normal
}
.NewsTitleList {
	COLOR: red; FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: normal
}
BODY {
	BACKGROUND-COLOR: #ffffff
}
.contentHeader {
	COLOR: #000000; FONT-FAMILY: "Times New Roman", Times, serif; FONT-SIZE: large; FONT-STYLE: normal; FONT-WEIGHT: 700; TEXT-TRANSFORM: none; font-decoration: none
}
.contentSubHeader {
	COLOR: #000000; FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: normal; FONT-WEIGHT: 700; TEXT-TRANSFORM: none; font-decoration: none
}
.contentBody {
	COLOR: #000000; FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: normal; TEXT-TRANSFORM: none; font-decoration: none
}
.contentAuthor {
	COLOR: #000000; FONT-FAMILY: "Times New Roman", Times, serif; FONT-STYLE: italic; TEXT-TRANSFORM: none; font-decoration: none
}
TD.contentTableCell {
	BACKGROUND-COLOR: #eeeeff; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
TH.contentTableCell {
	BACKGROUND-COLOR: #eeeeff; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
