<div class="l-items-index">
  <%= render 'backend/shared/media_contents/media_contents', key: "graphics",
    items: @graphics %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>
