.c-article-image {
  background-color: rgba($color-2, 0.05);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - #{rem(200px)});
  max-height: rem(250px);
  z-index: 10;
  display: none;

  &.-vertical {
    background-size: contain;
  }

  .-media-library & {
    display: block;
  }

  @media screen and (min-width: $screen-m) {
    max-height: rem(580px);
    display: block;
  }
}

.c-article-image-container {

  @media screen and (max-width: $screen-m - 1) {
    padding-left: 0;
    padding-right: 0;
  }
}
