.c-breadcrumbs {
  padding-bottom: rem(25px);
  display: none;

  @media screen and (min-width: $screen-m) {
    display: block;
  }

  .icon {
    position: relative;
    left: rem(1px);
    top: rem(1px);
    width: rem(8px);
    height: rem(8px);
  }

  .icon-home {
    position: relative;
    left: rem(1px);
    top: rem(2px);
    width: rem(12px);
    height: rem(12px);
  }
}
