$pics: 'pic-1', 'pic-2', 'pic-3', 'pic-4';

.c-card {
  margin-top: rem(20px);

  .card-pic {
    width: 100%;
    height: rem(230px);
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @for $i from 1 through length($pics) {
      &.#{nth($pics, $i)} {
        background-image: image-url('news/#{nth($pics, $i)}.jpg');
      }
    }

  }

  .card-descrition {
    background-color: $white;
    padding: rem(24px) rem(20px);
  }

  .-summary {
    margin-top: rem(10px);
  }

  .-meta {
    margin-top: rem(13px);
    text-align: right;
  }
}
