%step {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: rem(3px);
  background: $white;
}

.c-card {
  position: relative;
  z-index: 20;
  transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out;

  @media screen and (min-width: $screen-m) {
    z-index: 10;

    &:hover {
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
      transform: translate(0, -4px);
    }
  }

  .card-pic {
    width: 100%;
    height: rem(230px);
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-description {
    background-color: $white;
    padding: rem(21px) rem(20px) rem(21px) rem(20px);

    @media screen and (min-width: $screen-m) {
      padding-top: rem(24px);
    }
  }

  .-summary {
    margin-top: rem(10px);
    display: none;

    @media screen and (min-width: $screen-m) {
      display: block;
    }
  }

  .card-meta {
    display: flex;
    justify-content: space-between;
    margin-top: rem(10px);
    font-size: 0;

    span + span {
      margin-left: rem(10px);
    }

    @media screen and (min-width: $screen-m) {
      margin-top: rem(15px);
    }
  }

  &.-card-steps {

    &:before {
      @extend %step;
      width: calc(100% -  #{rem(10px)});
      bottom: rem(-6px);
    }

    &:after {
      @extend %step;
      width: calc(100% -  #{rem(20px)});
      bottom: rem(-12px);
    }
  }

  &[data-card-type="activity"] {

    .card-description {
      padding-top: rem(21px);
      padding-bottom: rem(24px);
    }

    @media screen and (min-width: $screen-m) {

      .card-description {
        padding-top: rem(16px);
        padding-bottom: rem(26px);
      }

      .card-pic {
        height: rem(270px);
      }
    }
  }

  &[data-card-type="publication"] {

    .card-description {
      padding-top: rem(21px);
    }

    @media screen and (min-width: $screen-m) {

      .card-description {
        padding-top: rem(16px);
      }

      .card-pic {
        height: rem(270px);
      }
    }
  }

  &[data-card-type="media"] {
    .card-pic {
      height: rem(200px);
    }
  }
}
