%step {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: rem(3px);
  background: $white;
}

.c-card {
  position: relative;
  margin-top: rem(20px);

  .card-pic {
    width: 100%;
    height: rem(230px);
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .-media-library & {
      height: rem(200px);
    }
  }

  .card-descrition {
    background-color: $white;
    padding: rem(24px) rem(20px);
  }

  .-summary {
    margin-top: rem(10px);
  }

  .-meta {
    margin-top: rem(13px);
    text-align: right;
  }

  &.-card-steps {
    &:before {
      @extend %step;
      width: calc(100% -  #{rem(10px)});
      bottom: rem(-6px);
    }

    &:after {
      @extend %step;
      width: calc(100% -  #{rem(20px)});
      bottom: rem(-12px);
    }
  }

  .masonry-layout & {
    margin-top: 0;
  }
}
