.c-events-modal {
  position: relative;
  height: 100%;

  .event-container {
    position: fixed;
    top: rem(15px);
    background-color: #f2f5f6;
    box-shadow: 0 rem(20px) rem(20px) 0 rgba(0, 0, 0, 0.2);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 100;
    width: calc(100% - 20px);
    padding: rem(50px) rem(15px);
    height: calc(100% - 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: $screen-m) {
      position: absolute;
      padding: rem(70px) rem(90px);
      top: rem(70px);
      left: 0;
      height: 530px;
      width: 100%;
      transform: none;
    }
  }

  .icon {
    width: rem(20px);
    height: rem(20px);
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    fill: $color-1;
    opacity: 0.15;
    cursor: pointer;
  }

  .event-info {
    max-width: rem(450px);

    p {
      padding: rem(20px) 0;

      @media screen and (min-width: $screen-m) {
        padding: rem(25px) 0;
      }
    }
  }

  .btn {
    max-width: 160px;
  }
}
