.c-events-modal {
  position: relative;
  height: 100%;

  .event-container {
    position: absolute;
    top: rem(10px);
    left: 0;
    width: 100%;
    height: rem(300px);
    padding: rem(35px) rem(40px);
    background-color: #f2f5f6;
    box-shadow: 0 rem(20px) rem(20px) 0 rgba($black, 0.2);
    z-index: 100;

    .event-container-background {
      height: 100%;
      width: 100%;
      background-size: cover;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }

    @media screen and (min-width: $screen-m) {
      top: rem(70px);
      height: rem(530px);
      padding: rem(77px) rem(90px);
    }
  }

  .description {
    margin-top: rem(20px);
  }

  .close-btn {
    position: absolute;
    top: rem(17px);
    right: rem(17px);
    width: rem(15px);
    height: rem(15px);
    fill: $color-1;
    opacity: 0.15;
    cursor: pointer;
  }

  .event-info {
    max-width: rem(450px);
  }

  .btn {
    max-width: rem(160px);
    margin-top: rem(25px);
  }

  .logos {
    position: absolute;
    bottom: rem(20px);
    font-size: 0;

    .logo {
      display: inline-block;
      max-height: rem(85px);
      margin-right: rem(15px);
    }

    @media screen and (min-width: $screen-m) {
      bottom: rem(60px);

      .logo {
        max-height: rem(120px);
      }
    }

    @media screen and (max-width: $screen-s) {
      display: none;
    }
  }
}
