%filter-background {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: rem(-8px);
  margin: auto;
  width: calc(100% + #{rem(16px)});
  height: rem(5px);
  z-index: -1;
  background-color: $white;
}

.c-filters {
  display: flex;
  position: relative;
  z-index: 2;

  @media screen and (min-width: $screen-s) {
    margin-top: rem(4px);
  }

  .filter {
    position: relative;
    width: 18%;
    padding-top: rem(14px);

    > .-filter-title {
      position: absolute;
      top: 0;
      left: 0;
    }

    .speaker {
      position: relative;
      z-index: 1;
      cursor: pointer;

      &:hover:before {
        @extend %filter-background;
      }
    }

    .icon {
      position: relative;
      z-index: 2;

      @media screen and (min-width: $screen-s) {
        width: rem(8px);
        height: rem(8px);
        margin-left: rem(5px);
      }
    }

    &.-search {
      flex-grow: 2;
      text-align: right;
    }

    .dropdown {
      position: absolute;
      top: -9px;
      left: -10px;
      padding-top: 9px;
      background-color: #f8f7f5;
      box-shadow: 0 2px 4px 0 rgba($black, 0.2);
      white-space: nowrap;
      z-index: 2;
      display: none;

      .-filter-title {
        padding: 0 10px;
      }

      .list {
        margin-top: 3px;

        li {
          padding: 0 10px;
          line-height: 2.14;
          cursor: pointer;

          &:hover {
            background-color: $white;
            font-weight: 500;
          }
        }
      }
    }

    &.-show-dropdown {

      .dropdown {
        display: block;
      }
    }

    &.-have-value {

      .speaker:before {
        @extend %filter-background;
      }
    }

    &:not(.-have-value) > .-filter-title {
      display: none;
    }

    &.-type-tags {
      position: static;

      .dropdown {
        width: 100%;
        left: 0;
        white-space: normal;

        li {
          display: inline-block;
        }
      }
    }
  }
}
