.slide-1 {
  .header-slider {
    background-image: image-url('header1.jpg');
  }
  .l-main-content.home,
  .cta-mobile {
    background-color: #E5EBED;
  }
  .c-related-media-item {
    background-color: #F2F5F6;
  }
  .footer-slider {
    background-image: image-url('footer1.jpg');
  }
}

.slide-2 {
  .header-slider {
    background-image: image-url('header2.jpg');
  }
  .l-main-content.home,
  .cta-mobile {
    background-color: #F6F3E5;
  }
  .c-related-media-item {
    background-color: #FAF9F2;
  }
  .footer-slider {
    background-image: image-url('footer2.jpg');
  }
}

.slide-3 {
  .header-slider {
    background-image: image-url('header3.jpg');
  }
  .l-main-content.home,
  .cta-mobile {
    background-color: #F2EFEB;
  }
  .c-related-media-item {
    background-color: #F8F7F5;
  }
  .footer-slider {
    background-image: image-url('footer3.jpg');
  }
}

.slide-4 {
  .header-slider {
    background-image: image-url('header4.jpg');
  }
  .l-main-content.home,
  .cta-mobile {
    background-color: #E5EDE5;
  }
  .c-related-media-item {
    background-color: #F2F6F2;
  }
  .footer-slider {
    background-image: image-url('footer4.jpg');
  }
}

.slide-5 {
  .header-slider {
    background-image: image-url('header5.jpg');
  }
  .l-main-content.home,
  .cta-mobile {
    background-color: #F5EEEF;
  }
  .c-related-media-item {
    background-color: #FAF6F7;
  }
  .footer-slider {
    background-image: image-url('footer5.jpg');
  }
}

.slide-6 {
  .header-slider {
    background-image: image-url('header6.jpg');
  }
  .l-main-content.home,
  .cta-mobile {
    background-color: #F0ECF4;
  }
  .c-related-media-item {
    background-color: #F7F5F9;
  }
  .footer-slider {
    background-image: image-url('footer6.jpg');
  }
}
