.c-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: rem(70px);
  padding: 0 rem(5px);
  z-index: 10;
  position: relative;

  @media screen and (min-width: $screen-m) {
    padding: 0;
  }

  &.-is-open {
    opacity: 0;
  }

  .mobile {
    display: block;

    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  .desktop {
    display: none;

    @media screen and (min-width: $screen-m) {
      display: flex;
    }
  }

  .logo-menu {
    margin-top: rem(5px);

    .icon {
      width: rem(110px);
      height: rem(35px);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    li {
      position: relative;
      margin-right: rem(40px);

      &.-selected {

        &:before {
          content: "";
          position: absolute;
          bottom: rem(-5px);
          left: 0;
          width: 100%;
          height: rem(2px);
          background-color: rgba($color-1, 0.8);
        }
      }
    }
  }

  .icon {
    width: rem(15px);
    height: rem(15px);
  }
}
