.c-main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .-view-all {
    position: relative;
    top: rem(1px);

    span {
      display: none;

      @media screen and (min-width: $screen-m) {
        display: inline-block;
      }
    }
  }

  .icon {

    &.-arrow {
      position: relative;
      width: rem(63px);
      height: rem(12px);
      top: rem(1px);
      padding-left: rem(10px);
      fill: $color-1;

      @media screen and (min-width: $screen-m) {
        top: rem(5px);
        width: rem(46px);
        height: rem(17px);
        padding-left: rem(4px);
      }
    }
  }
}
