.c-main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .-view-all {

    span {
      display: none;

      @media screen and (min-width: $screen-m) {
        display: inline-block;
      }
    }
  }

  .icon {

    &.-arrow {
      position: relative;
      width: rem(63px);
      height: rem(12px);
      top: rem(2px);
      padding-left: rem(10px);
      fill: $color-1;

      @media screen and (min-width: $screen-m) {
        top: rem(1px);
        width: rem(40px);
        height: rem(10px);
      }
    }
  }
}
