.c-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: rem(70px);
  padding: 0 rem(5px);
  z-index: 10;
  position: relative;

  @media screen and (min-width: $screen-m) {
    padding: 0;
  }

  &.-is-open {
    opacity: 0;
  }

  .mobile {
    display: block;

    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  .desktop {
    display: none;

    @media screen and (min-width: $screen-m) {
      display: flex;
    }
  }

  .logo-menu {

    .icon {
      width: rem(100px);
      height: rem(40px);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    li {
      margin-right: rem(40px);
    }
  }

  .icon {
    width: rem(15px);
    height: rem(15px);
  }
}
