.c-mobile-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: rem(25px) rem(20px) 0;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color-1, 0.8);
  cursor: pointer;

  &.-is-open {
    display: flex;
    transition: all 0.3s ease-in 0.2s;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    z-index: 10;
    position: absolute;
    top: rem(25px);

    li {
      margin-right: rem(40px);
      margin-bottom: rem(25px);
      padding-bottom: rem(3px);

      @media screen and (min-width: $screen-m) {
        margin-bottom: 0;
      }

      &.-selected {
        border-bottom: solid 2px $white;
      }
    }
  }

  .icon {
    width: rem(15px);
    height: rem(15px);
    fill: $white;
  }
}
