.c-related-media-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% - #{rem(10px)});
  height: rem(560px);
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: height 0.2s ease-in;

  .name,
  .meta {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  .name {
    left: 0;
    bottom: rem(-35px);

    @media screen and (min-width: $screen-m) {
      bottom: rem(-36px);
    }
  }

  .meta {
    right: 0;
    display: none;

    @media screen and (min-width: $screen-m) {
      bottom: rem(-34px);
      display: block;
    }
  }

  .player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid rem(2px) $white;
    width: rem(30px);
    height: rem(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .icon {
      width: rem(8px);
      height: rem(11px);
      margin-left: rem(2px);
      fill: $white;
    }

    @media screen and (min-width: $screen-m) {
      width: rem(60px);
      height: rem(60px);

      .icon {
        width: rem(16px);
        height: rem(21px);
        margin-left: rem(4px);
      }
    }
  }

  &.-vertical {
    background-size: contain;
  }

  @media screen and (max-width: $screen-m) {
    height: rem(350px);
  }

  @media screen and (min-width: $screen-m) {
    width: calc(100% - #{rem(20px)});
  }
}

.active {

  .c-related-media-item {

    .name,
    .meta {
      opacity: 1;
    }

    @media screen and (min-width: $screen-m) {
      height: rem(600px);
    }
  }
}

.-color-2 {

  .c-related-media-item {
    background-color: rgba($color-3, .03);
  }

}

.-color-3 {

  .c-related-media-item {
    background-color: rgba($color-1, .03);
  }

}
