@mixin default-slider-styles {
  position: relative;
  margin: 0 auto;

  .frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }

  .slides {
    display: inline-block;
  }

  .slide {
    position: relative;
    display: inline-block;
  }
}

%default-slider-styles {
  @include default-slider-styles;
}

.c-slider {

  &[data-slider-type="card"] {

    @media screen and (max-width: $screen-m) {

      @include default-slider-styles;

      .slide {
        width: rem(280px);
        padding-right: rem(10px);
        vertical-align: top;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &[data-slider-type="related-media"] {

    @extend %default-slider-styles;
    padding: rem(15px) 0 rem(32px) 0;

    .slides {
      width: 100%;
      cursor: pointer;
    }

    .slide {
      width: calc(100% + #{rem(20px)});
      height: rem(600px);
      padding-right: rem(10px);
      vertical-align: top;
    }

    .prev,
    .next {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: rem(18px);
      height: rem(36px);
      cursor: pointer;

      .icon {
        width: rem(18px);
        height: rem(36px);
      }
    }

    .prev {
      left: 20px;

      .icon {
        transform: rotateY(180deg);
      }
    }

    .next {
      right: 20px;
    }

    @media screen and (max-width: $screen-m) {
      .slide {
        width: rem(290px);
        height: rem(350px);
        padding-right: rem(20px);
      }
    }

    @media screen and (min-width: $screen-m + 1) {
      .prev,
      .next {
        display: inline;
      }
    }

    @media screen and (min-width: 1130px) {
      .prev {
        left: rem(-58px);
      }

      .next {
        right: rem(-58px);
      }
    }

    @media screen and (min-width: 1180px) {
      .prev {
        left: rem(-78px);
      }

      .next {
        right: rem(-78px);
      }
    }
  }
}
