@mixin modal-background($color) {
  background: linear-gradient(to bottom, $color 45%, rgba($color, 0.75) 60%, transparent)
}

.c-search {
  position: relative;
  top: rem(3px);

  .btn-search {
    width: rem(18px);
    height: rem(18px);
    cursor: pointer;
  }
}

.c-search-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: rem(510px);
  padding-top: rem(93px);
  z-index: 110;
  transition: opacity 0.2s ease-out;

  .c-search-input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  .c-search-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
  }

  &.-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.c-search-input {

  @include placeholder {
    color: $color-1;
    opacity: 0.5;
  }
}

.slide-1 .l-header-home .c-search-modal-background {
  @include modal-background(#E5EBED);
}

.slide-2 .l-header-home .c-search-modal-background {
  @include modal-background(#F6F3E5);
}

.slide-3 .l-header-home .c-search-modal-background {
  @include modal-background(#F2EFEB);
}

.slide-4 .l-header-home .c-search-modal-background {
  @include modal-background(#E5EDE5);
}

.slide-5 .l-header-home .c-search-modal-background {
  @include modal-background(#F5EEEF);
}

.slide-6 .l-header-home .c-search-modal-background {
  @include modal-background(#F0ECF4);
}

.l-header-library.-publications .c-search-modal-background {
  @include modal-background(#F7F6F4);
}

.l-header-library.-media-library .c-search-modal-background {
  @include modal-background(#F2F6F2);
}

.l-header-library.-news .c-search-modal-background {
  @include modal-background(#F4F7F4);
}

.l-header-library.-activities,
.l-header-library.-staff {

  .c-search-modal-background {
    @include modal-background(#F4F6F7);
  }
}

.l-header-single .-about,
.l-header-single .-activities {

  .c-search-modal-background {
    @include modal-background(#F4F6F7);
  }
}

.l-header-single .-publications .c-search-modal-background {
  @include modal-background(#F8F7F5);
}

.l-header-single .-media-library .c-search-modal-background {
  @include modal-background(#F2F6F2);
}
