$pics: 'pic-1', 'pic-2', 'pic-3', 'pic-4', 'pic-5', 'pic-6';

.c-staff {
  margin-top: rem(16px);
  text-align: center;

  .staff-pic {
    width: rem(120px);
    height: rem(120px);
    margin: 0 auto;
    border-radius: 50%;
    border: rem(3px) solid rgba($white, .3);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;

    @for $i from 1 through length($pics) {
      &.#{nth($pics, $i)} {
        background-image: image-url('staff/#{nth($pics, $i)}.jpg');
      }
    }
  }

  .-author {
    margin-top: rem(15px);
  }

  .-meta {
    margin-top: rem(4px);
  }

}
