.c-slider {
  .frame {
    /**
     * (optional) wrapper width, specifies width of the slider frame.
     */
    max-width: calc(62.5rem - 2*(0.9375rem));
    margin: 0 auto;
    padding: 0 0.9375rem;

    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .slide {
    position: relative;
    display: inline-block;
    // width: 33%;
    margin: 0 1%;
    display: inline-block;
  }

  .slides {
      display: inline-block;
  }

  .slider-handlers {
    width: 100%;
    text-align: center;
  }
}
