.c-scroll-to-top {
  display: flex;
  opacity: 0;
  position: fixed;
  bottom: rem(20px);
  right: rem(20px);
  background: $white;
  border-radius: 50%;
  width: rem(50px);
  height: rem(50px);
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.5s ease-in;

  .icon {
    width: rem(20px);
    height: rem(10px);
  }
}
