.c-tags {

  .tag {
    display: inline-block;
    margin: 0 0 rem(10px) rem(6px);
    padding: rem(2px) rem(10px);
    border-radius: 15px;
    background-color: $color-1;
    color: $font-color-3;
    opacity: 1;
  }
}
