.c-video-player {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;
  display: none;

  .c-video-player-veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-1, 0.8);
    cursor: pointer;
  }

  .icon {
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    z-index: 20;
    width: rem(15px);
    height: rem(15px);
    fill: $white;
    cursor: pointer;
  }

  .c-video-player-container {
    width: 100%;
    position: relative;
    height: rem(230px);
    z-index: 30;
    margin-top: rem(50px);
    padding: 0 rem(20px);

    @media screen and (min-width: $screen-m) {
      position: absolute;
      top: rem(70px);
      left: 0;
      height: rem(530px);
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: $screen-m) {

    .columns {
      padding: 0;
    }
  }
}
