BODY {
	FONT-FAMILY: Palatino, Times, serif; FONT-SIZE: 12pt; MARGIN-LEFT: 10%; MARGIN-RIGHT: 10%; TEXT-ALIGN: left
}
P {
	FONT-FAMILY: Palatino, Times, serif
}
UL {
	FONT-FAMILY: Palatino, Times, serif
}
H1 {
	COLOR: #000000; FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 12pt; TEXT-ALIGN: center
}
H2 {
	COLOR: #98bc07; FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 14pt; TEXT-ALIGN: left
}
H3 {
	COLOR: #000000; FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 12pt; TEXT-ALIGN: left
}
H1.C1 {
	BORDER-BOTTOM-COLOR: #98bc07; BORDER-LEFT-COLOR: #98bc07; BORDER-RIGHT-COLOR: #98bc07; BORDER-TOP-COLOR: #98bc07; BORDER-TOP-WIDTH: 2px; COLOR: #98bc07; FONT-SIZE: 15pt; TEXT-ALIGN: center
}
H1.C2 {
	COLOR: #98bc07; FONT-SIZE: 15pt; TEXT-ALIGN: center
}
H1.HeadingA {
	COLOR: #98bc07; FONT-SIZE: 30pt; TEXT-ALIGN: left
}
H1.Heading1 {
	FONT-SIZE: 30pt; TEXT-ALIGN: left
}
H1.Heading0 {
	BORDER-BOTTOM-COLOR: #98bc07; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-COLOR: #98bc07; BORDER-RIGHT-COLOR: #98bc07; BORDER-TOP-COLOR: #98bc07; COLOR: #98bc07; FONT-SIZE: 12pt; TEXT-ALIGN: left
}
H1.HeadingPart {
	BORDER-BOTTOM-COLOR: #98bc07; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-COLOR: #98bc07; BORDER-RIGHT-COLOR: #98bc07; BORDER-TOP-COLOR: #98bc07; COLOR: #98bc07; FONT-SIZE: 12pt; TEXT-ALIGN: left
}
H1.BoxHeading1 {
	FONT-SIZE: 11pt; TEXT-ALIGN: left
}
H2.BoxHeading2 {
	COLOR: #000000; FONT-SIZE: 10pt; TEXT-ALIGN: left
}
P.BoxNewPara {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 9pt
}
P.BoxNewPara1 {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 9pt
}
P.BoxBulletList1 {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 10pt; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%
}
P.TextC {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; TEXT-ALIGN: center
}
P.Note {
	BORDER-BOTTOM-COLOR: #98bc07; BORDER-LEFT-COLOR: #98bc07; BORDER-RIGHT-COLOR: #98bc07; BORDER-TOP-COLOR: #98bc07; BORDER-TOP-WIDTH: 1px; FONT-SIZE: 9pt
}
P.BoxNote {
	BORDER-BOTTOM-COLOR: #98bc07; BORDER-LEFT-COLOR: #98bc07; BORDER-RIGHT-COLOR: #98bc07; BORDER-TOP-COLOR: #98bc07; BORDER-TOP-WIDTH: 1px; FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 9pt
}
P.FigureNote {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 8pt
}
P.TableNote {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 8pt
}
P.TableHead {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 9pt
}
P.TableBody {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 11pt
}
P.blurb {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 11pt; TEXT-ALIGN: center
}
P.blurb1 {
	FONT-SIZE: 11pt; TEXT-ALIGN: center
}
TD H1 {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif
}
TD P {
	FONT-FAMILY: Optima, helvetica, Arial, sans-serif
}
SUP {
	COLOR: #000000; DISPLAY: inline; FONT-FAMILY: Optima, helvetica, Arial, sans-serif; FONT-SIZE: 8pt
}
