UNKNOWN {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.date {
	FONT-SIZE: 8pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.location {
	FONT-SIZE: 8pt; FONT-FAMILY: arial, helvetica, sans-serif
}
BODY {
	FONT-SIZE: 10pt; MARGIN: 0em 0%; FONT-FAMILY: arial, helvetica, sans-serif
}
TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
TR {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
LI {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
OL {
	FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.levelone {
	FONT-SIZE: 8pt
}
.leveltwo {
	FONT-SIZE: 10pt
}
.levelthree {
	FONT-SIZE: 12pt
}
.levelfour {
	FONT-SIZE: 14pt
}
.levelfive {
	FONT-SIZE: 18pt
}
.levelsix {
	FONT-SIZE: 24pt
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000000
}
.subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000
}
.date {
	FONT-SIZE: 9pt
}
.location {
	FONT-SIZE: 8pt
}
.sidebarlinks {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.abapubsheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #003399
}
.abapubssubheader {
	FONT-SIZE: 16pt; COLOR: #003399
}
.abapubsbluecopy {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399
}
.ababookstitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.ababooksauthor {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: arial, helvetica, sans-serif
}
.ababookslinks {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.ababookssubheading {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.ababookscopy {
	FONT-SIZE: 12pt; FONT-FAMILY: arial, helvetica, sans-serif
}
TD.ababookstable {
	BACKGROUND: lightblue; WIDTH: 11em
}
.ababookscaption {
	FONT-SIZE: 8pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.aboutheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #cc3300
}
.aboutsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc3300
}
.aboutcopy {
	COLOR: #000000
}
.airspaceheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #006699
}
.airspacesubheader {
	FONT-SIZE: 14pt; COLOR: #006699
}
.airspaceheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #006699
}
.affordableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000066
}
.affordablesubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.affordablecopy {
	COLOR: #000000
}
.bioethicsheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000066
}
.bioethicssubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.bioethicscopy {
	COLOR: #000000
}
.ccheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #cc9900
}
.ccsubheadercolor {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc9900
}
.ccsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #999999
}
.cccopy {
	COLOR: #000000
}
.childheader {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; FONT-FAMILY: Verdana
}
.childsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Verdana
}
.childcopy {
	COLOR: #000000
}
.cleheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #003366
}
.clesubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366
}
.clecopy {
	COLOR: #000000
}
.contractheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.contractsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.contractcopy {
	COLOR: #000000
}
.disabilityheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #0000d6
}
.disabilitysubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #0000d6
}
.disabilityheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0000d6
}
.elderlyheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.elderlysubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.elderlycopy {
	COLOR: #000000
}
.elderlytable {
	FONT-SIZE: 7pt; COLOR: #000000
}
.entityheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #003366
}
.entitysubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366
}
.entitycopy {
	COLOR: #000000
}
A.entitycontent {
	TEXT-DECORATION: none
}
.eventsheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #336666
}
.eventssubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #336666
}
.eventscopy {
	COLOR: #000000
}
.familyheader {
	FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #006633
}
.familysubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #336666
}
.familycopy {
	COLOR: #000000
}
.fjeheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000066
}
.fjesubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.fjecopy {
	COLOR: #000000
}
.franchiseheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #330066
}
.franchisesubheader {
	FONT-SIZE: 14pt; COLOR: #330066
}
.franchiseheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #330066
}
.generalheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #343399
}
.generalsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #343399
}
.generalcopy {
	COLOR: #000000
}
.healthheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.healthsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.healthcopy {
	COLOR: #000000
}
.intnatheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #660000
}
.intnatsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #660000
}
.intnatcopy {
	COLOR: #000000
}
.immigheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #003366
}
.immigsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366
}
.immigcopy {
	COLOR: #000000
}
A.immigcontent {
	TEXT-DECORATION: none
}
.intelpropheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.intelpropsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.intelpropcopy {
	COLOR: #000000
}
.irrheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000066; FONT-FAMILY: book-antiqua, helvetica
}
.irrsubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.jdheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.jdsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.jdcopy {
	COLOR: #000000
}
.journalheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.journalsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.journalcopy {
	COLOR: #000000
}
.judindheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.judindsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.judindcopy {
	COLOR: #000000
}
.leadershipheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.leadershipsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.leadershipcopy {
	COLOR: #000000
}
.leadershipcolorcopy {
	FONT-WEIGHT: bold; COLOR: #003366
}
.legaledheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.legaledsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.legaledcopy {
	COLOR: #000000
}
.legresourceheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #663366
}
.legresourcesubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #663366
}
.legresourcecopy {
	COLOR: #000000
}
.liaisonheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000066
}
.liaisonsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000066
}
.liaisoncopy {
	COLOR: #000000
}
.lsdheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #663366
}
.lsdsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #663366
}
.lsdcopy {
	COLOR: #000000
}
.membersheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #cc9900
}
.memberssubheadercolor {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc9900
}
.memberssubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #999999
}
.memberscopy {
	COLOR: #000000
}
.poladvheader {
	FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #800000; FONT-FAMILY: Tahoma, arial, helvetica, sans-serif
}
.poladvsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #800000; FONT-FAMILY: Tahoma, arial, helvetica, sans-serif
}
.poladvcopy {
	COLOR: #000080; FONT-FAMILY: Tahoma, arial, helvetica, sans-serif
}
.publicedheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #cc9900
}
.publicedsubheadercolor {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc9900
}
.publicedsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #999999; FONT-STYLE: italic
}
.publicedcopy {
	COLOR: #000000
}
.publicservheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000000
}
.publicservsubheadercolor {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #cc9900
}
.publicservsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #999999; FONT-STYLE: italic
}
.publicservcopy {
	COLOR: #000000
}
.pubresourceheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #990033
}
.pubresourcesubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #990033
}
.pubresourcecopy {
	COLOR: #000000
}
.rpptheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #003366
}
.rpptsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366
}
.rpptcopy {
	COLOR: #000000
}
.soloheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000066
}
.solosubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.solocopy {
	COLOR: #000000
}
.storeheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #996600
}
.storesubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #996600
}
.storecopy {
	COLOR: #000000
}
.studentheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #663366
}
.studentsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #663366
}
.studentcopy {
	COLOR: #000000
}
.subabuseheader {
	FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #000066
}
.subabusesubheader {
	FONT-SIZE: 14pt; COLOR: #ff0000
}
.subabusegreensubheader {
	FONT-SIZE: 14pt; COLOR: #00cc00
}
.subabusecopy {
	COLOR: #00cc00
}
.srlheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000000; FONT-FAMILY: "Times New Roman"
}
.srlsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #990033; FONT-FAMILY: "Times New Roman"
}
.srlsmallheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #990033; FONT-FAMILY: "Times New Roman"
}
.srlcopy {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: "Times New Roman"
}
.taxsection {
	FONT-WEIGHT: bold; FONT-SIZE: 24pt; COLOR: #003366
}
.taxheader {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #003366
}
.taxsubheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366
}
A.taxlink {
	FONT-SIZE: 12pt; COLOR: #003366
}
taxcopy {
	FONT-SIZE: 12pt; COLOR: #003366
}
.unifiedfamcrtheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #000066
}
.unifiedfamcrtsubheader {
	FONT-SIZE: 14pt; COLOR: #000066
}
.unifiedfamcrtcopy {
	COLOR: #000000
}
womenheader {
	FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #5566cc
}
.womensubheader {
	FONT-SIZE: 14pt; COLOR: #5566cc
}
.yldheader {
	FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #006699
}
.yldsubheader {
	FONT-SIZE: 14pt; COLOR: #006699
}
.footer {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; VERTICAL-ALIGN: top; COLOR: #006699; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
.footer {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 7pt; BORDER-LEFT: black 0px solid; COLOR: #006699; LINE-HEIGHT: normal; PADDING-TOP: 5px; BORDER-BOTTOM: black 0px solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.pubSubCat {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-INDENT: 20px; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-ALIGN: left
}
.pubSubSubCat {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #006699; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-ALIGN: left
}
.sidebar {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; LIST-STYLE-POSITION: inside; FONT-SIZE: 9pt; MARGIN-LEFT: -15px; COLOR: #ffffff; TEXT-INDENT: -12pt; LINE-HEIGHT: 13pt; MARGIN-RIGHT: 10px; FONT-FAMILY: arial, helvetica, sans-serif; LIST-STYLE-TYPE: none; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A {
	
}
.bookDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.bookPrice {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.reverseBar {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #333333; TEXT-ALIGN: center
}
.bodyBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.bodyLeft {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.bodyCenter {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.bodyCenterBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.reverseHead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000; TEXT-ALIGN: left
}
.tableBorder {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 3px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.bodyBigger {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.bodyBiggerCenter {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.bodyBiggerRight {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.bodyBoldRight {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.bodyRight {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.bodyItalic {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.sidebarRegister {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; LIST-STYLE-POSITION: inside; FONT-SIZE: 9pt; MARGIN-LEFT: -15px; COLOR: #cccccc; TEXT-INDENT: -12pt; LINE-HEIGHT: 14pt; MARGIN-RIGHT: 10px; FONT-FAMILY: "Times New Roman", Times, serif; LIST-STYLE-TYPE: none; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.bodyBoldCenter {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
