<h2><%= @activity.title %></h2>

<%= @activity.description %>

<h3>Staff involved</h3>
<ul>
  <% @activity.users.each do |u| %>
    <li><%= u.display_name %></li>
  <% end %>
</ul>

<h3>Partners</h3>
<ul>
  <% @activity.partners.each do |partner| %>
    <li><%= link_to partner.name, partner.web_url %></li>
  <% end %>
</ul>
