= form.label :logo
= form.file_field :logo, label: false

= form.label :name
= form.input :name, label: false

= form.label :web_url
= form.input :web_url, label: false

= form.label :description
= form.input :description, label: false
