<h2 class="text -main-title -light">Partners</h2>

<div class="buttons-bar">
  <% if can?(:create, Partner) %>
    <%= link_to "Create New", new_partner_path, class: 'btn -light -no-border -create-new' %>
  <% end %>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
  </div>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort"></use>
    </svg>
  </div>
</div>

<ul class="items-list">
  <% @partners.each do |partner| %>
    <%= render 'backend/shared/index_item',
    item: partner,
    title: partner.name,
    edit_path: edit_partner_path(partner),
    delete_path: partner_path(partner),
    selected: @partner && (@partner.id == partner.id) %>
  <% end %>
</ul>
