<h2 class="text -main-title -light">Partners</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, Partner),
  createPath: new_partner_path
%>

<ul class="items-list">
  <% @partners.each do |partner| %>
    <%= render 'backend/shared/index_item',
    item: partner,
    title: partner.name,
    edit_path: edit_partner_path(partner),
    delete_path: partner_path(partner) %>
  <% end %>
</ul>
