<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'partners', partners: @partners %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @partner, html: { class: 'c-form' } do |f| %>
      <%= render 'form', form: f %>
  <% end %>
</div>