<div class="l-items-index">
  <%= render 'partners', partners: @partners %>
</div>

<div class="l-items-detail">
  <h2>New Partner</h2>

  <%= simple_form_for @partner do |f| %>
    <%= render partial: f %>

    <div class="actions">
      <%= f.submit 'Create Partner' %>
    </div>
  <% end %>
</div>
