TD {
	COLOR: #000000; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
BODY {
	COLOR: #000000; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
A:link {
	COLOR: #0000ff; FONT-FAMILY: arial, sans-serif
}
A:visited {
	COLOR: #9b30ff; FONT-FAMILY: arial, sans-serif
}
A:active {
	COLOR: #ff0000; FONT-FAMILY: arial, sans-serif
}
A:hover {
	COLOR: #ff0000; FONT-FAMILY: arial, sans-serif
}
A {
	TEXT-DECORATION: none
}
B {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
I {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic
}
