P {
	TEXT-ALIGN: justify
}
BODY {
	BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif; FONT-SIZE: 10pt
}
TABLE {
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif; FONT-SIZE: 10pt
}
A {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #4040ff
}
A:hover {
	TEXT-DECORATION: underline
}
H3 {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
H4 {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
H1 {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 20pt; FONT-WEIGHT: bold
}
tnav {
	bacground-color: #000080
}
#tlink {
	COLOR: #000080; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
#tlink:hover {
	COLOR: #000080; FONT-SIZE: 8pt; TEXT-DECORATION: underline
}
#footer {
	COLOR: #808080; FONT-SIZE: 8pt
}
