<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'content_types', content_types: @content_types %>
</div>

<div class="l-items-detail">
  <%= render 'backend/shared/phrases' %>
</div>
