<h2 class="text -main-title -light">About sections</h2>

<%= render 'backend/shared/index_items_buttons.html',
  havePermissionToCreate: can?(:create, AboutSection),
  createPath: new_about_section_path
%>

<ul class="items-list">
  <% @about_sections.each do |about_section| %>
    <%= render 'backend/shared/index_item',
      item: about_section,
      title: about_section.title,
      edit_path: edit_about_section_path(about_section),
      delete_path: about_section_path(about_section) %>
  <% end %>
</ul>
