<div class="l-navigation">
  <%= render 'backend/shared/nav_bar' %>
</div>

<div class="l-items-index">
  <%= render 'about_sections', about_sections: @about_sections %>
</div>

<div class="l-items-detail">
  <%= simple_form_for @about_section, html: { class: 'c-form' } do |f| %>
    <%= render 'form', form: f, %>
  <% end %>
</div>
