.navtext {
	FONT-FAMILY: arial,sans-serif; FONT-SIZE: 10pt
}
BODY {
	BACKGROUND-COLOR: #ffffff; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; MARGIN-TOP: 0px
}
A:link {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #996600; TEXT-DECORATION: underline
}
A:active {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000cc; TEXT-DECORATION: none
}
LI {
	PADDING-TOP: 3px
}
TABLE TD {
	COLOR: #16285a; FONT-FAMILY: arial,sans-serif; FONT-SIZE: 10pt
}
.pdftext {
	COLOR: #990000; FONT-FAMILY: arial,geneva,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; LETTER-SPACING: 0.1em
}
.subhead_bar {
	BORDER-BOTTOM: #000000 1px solid; COLOR: #000066; FONT-FAMILY: arial,geneva,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; LETTER-SPACING: 0.1em; MARGIN-RIGHT: 10%
}
.postit {
	BACKGROUND-COLOR: #ffffee; BORDER-BOTTOM: #000066 1px solid; BORDER-LEFT: #000066 1px solid; BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
UL.contents {
	LIST-STYLE: none
}
.toplevel {
	FONT-FAMILY: arial,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; LINE-HEIGHT: 200%
}
