<h2 class="text -main-title -light">Tags</h2>

<div class="buttons-bar">
  <% if can?(:create, Tag) %>
    <%= link_to "Create New", new_tag_path, class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <%= render 'backend/shared/index_items_search_and_filter' %>
</div>

<ul class="items-list">
  <% @tags.each do |tag| %>
    <%= render 'backend/shared/index_item',
      item: tag,
      title: tag.name,
      selected: action_name != "index" && @tag == tag
    %>
  <% end %>
</ul>
