P {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt
}
.7pt {
	FONT-SIZE: 7pt
}
.8pt {
	FONT-SIZE: 8pt
}
.TDEast {
	BORDER-RIGHT: black 1px solid
}
.TDWest {
	BORDER-LEFT: black 1px solid
}
.TDNorth {
	BORDER-TOP: black 1px solid
}
.TDSouth {
	BORDER-BOTTOM: black 1px solid
}
.TDNorthSouth {
	BORDER-BOTTOM: black 1pt solid; BORDER-TOP: black 1px solid
}
.TDAll {
	BORDER-BOTTOM: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-RIGHT: black 1pt solid; BORDER-TOP: black 1pt solid
}
.TDEastdim {
	BORDER-RIGHT: gray 1pt solid
}
.TDWestdim {
	BORDER-LEFT: gray 1pt solid
}
.TDNorthdim {
	BORDER-TOP: gray 1pt solid
}
.TDSouthdim {
	BORDER-BOTTOM: gray 1pt solid
}
.TDAlldim {
	BORDER-BOTTOM: gray 1pt solid; BORDER-LEFT: gray 1pt solid; BORDER-RIGHT: gray 1pt solid; BORDER-TOP: gray 1pt solid
}
.TDEastdashed {
	BORDER-RIGHT: silver 1pt dashed
}
.TDWestdashed {
	BORDER-LEFT: silver 1pt dashed
}
.TDNorthdashed {
	BORDER-TOP: silver 1pt dashed
}
.TDSouthdashed {
	BORDER-BOTTOM: silver 1pt dashed
}
.TDAlldashed {
	BORDER-BOTTOM: silver 1pt dashed; BORDER-LEFT: silver 1pt dashed; BORDER-RIGHT: silver 1pt dashed; BORDER-TOP: silver 1pt dashed
}
.TDAllDashed {
	BORDER-BOTTOM: silver 1pt dashed; BORDER-LEFT: silver 1pt dashed; BORDER-RIGHT: silver 1pt dashed; BORDER-TOP: silver 1pt dashed
}
.firstLine:first-line {
	FONT-WEIGHT: bold
}
.pageTitle {
	FONT-FAMILY: arial, helvetica; FONT-SIZE: 14pt
}
.pageSubTitle {
	COLOR: #565656; FONT-FAMILY: arial, helvetica; FONT-SIZE: 11pt
}
DIV.regular {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt
}
B {
	FONT-WEIGHT: bold
}
B.green {
	COLOR: darkolivegreen; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
STRONG {
	COLOR: #666eb0; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt
}
LI {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt; LIST-STYLE: url(/images/list.gif)
}
H1 {
	COLOR: #666eb0; FONT-FAMILY: arial, helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
H2 {
	COLOR: #666eb0; FONT-FAMILY: arial, helvetica; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
H3 {
	COLOR: #666eb0; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
A {
	COLOR: blue; TEXT-DECORATION: none
}
A:visited {
	COLOR: blue
}
A:active {
	COLOR: blue
}
A:hover {
	COLOR: darkolivegreen; TEXT-DECORATION: underline
}
BODY {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt
}
TD {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt
}
.calendar {
	BACKGROUND-COLOR: beige
}
TD.calendar {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10px
}
P.calendar {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10px
}
B.calendar {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10px
}
INPUT {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 11px
}
.indent {
	COLOR: black; FONT-FAMILY: arial, helvetica; FONT-SIZE: 10pt; PADDING-LEFT: 1cm
}
.FirstItem {
	COLOR: black; DISPLAY: inline; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.LastItem {
	COLOR: black; DISPLAY: inline; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
P.symposium1 {
	COLOR: darkolivegreen; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.symposium2 {
	COLOR: darkolivegreen; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
