BODY {
	BACKGROUND-REPEAT: no-repeat; word-wrap: break-word
}
IMG {
	BORDER-BOTTOM-COLOR: black; BORDER-LEFT-COLOR: black; BORDER-RIGHT-COLOR: black; BORDER-TOP-COLOR: black
}
P {
	FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 11pt
}
B {
	FONT-WEIGHT: bold
}
I {
	FONT-STYLE: italic
}
.pageTitle {
	FONT-FAMILY: arial, helvetica; FONT-SIZE: 16pt
}
.drop {
	FILTER: shadow(color=#483D8B,direction=135)
}
H1 {
	COLOR: darkolivegreen; FONT-FAMILY: Trebuchet MS, Arial, Helvetica; FONT-SIZE: 20pt
}
H2 {
	COLOR: darkolivegreen; FONT-FAMILY: Trebuchet MS, Arial, Helvetica; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-WEIGHT: bold
}
H3 {
	COLOR: black; FONT-FAMILY: Trebuchet MS, Arial, Helvetica; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
H3.title {
	COLOR: #666eb0; DISPLAY: inline; FONT-FAMILY: Trebuchet MS, Arial, Helvetica; FONT-SIZE: 12pt; LETTER-SPACING: 2px
}
P.RelatedStuff {
	COLOR: #cc6633; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 15pt; FONT-WEIGHT: bold
}
B.RelatedStuff {
	FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.8pt {
	FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 8pt
}
.7pt {
	FONT-SIZE: 7pt
}
.white {
	COLOR: white
}
.docTitle {
	FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.TOC {
	COLOR: white; FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.TOC:hover {
	COLOR: lightsteelblue
}
UL {
	FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 11pt; LIST-STYLE: url(http://www.cec.org/images/list.gif)
}
OL {
	FONT-FAMILY: Arial, Helvetica; FONT-SIZE: 11pt
}
A {
	COLOR: blue; TEXT-DECORATION: none
}
A:hover {
	COLOR: crimson; TEXT-DECORATION: none
}
.TDAll {
	BORDER-BOTTOM: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-RIGHT: black 1pt solid; BORDER-TOP: black 1pt solid
}
.TDEast {
	BORDER-RIGHT: black 1pt solid
}
.TDNorthSouth {
	BORDER-BOTTOM: black 1pt solid; BORDER-TOP: black 1pt solid
}
.Boite {
	PADDING-BOTTOM: 7pt; PADDING-LEFT: 7pt; PADDING-RIGHT: 7pt
}
.Author {
	COLOR: black; FONT-FAMILY: Trebuchet MS, Arial, Helvetica; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal
}
.Caption {
	COLOR: darkolivegreen; FONT-FAMILY: Trebuchet MS, Arial, Helvetica; FONT-SIZE: 9pt; FONT-STYLE: italic; FONT-WEIGHT: bold
}
